In [1]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import matplotlib.pyplot as plt

In [2]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

visitsItems = pd.read_sql('SELECT * FROM VisitsItems', con=db_connection)
visitsItems['created'] = pd.to_datetime(visitsItems['created'], unit='s').dt.tz_localize('utc').dt.tz_convert('US/Eastern')
visitsItems['lastmodified'] = pd.to_datetime(visitsItems['lastmodified'], unit='s').dt.tz_localize('utc').dt.tz_convert('US/Eastern')
visitsItems['deleted'].replace(0, np.nan, inplace=True)
visitsItems['deleted'] = pd.to_datetime(visitsItems['deleted'], unit='s').dt.tz_localize('utc').dt.tz_convert('US/Eastern')
visitsItems['title'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['description'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['title'] = visitsItems['title'].astype('category')
visitsItems['description'] = visitsItems['description'].astype('category')

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option("max_colwidth", 500)

In [4]:
#items of morning 
#items of evening
#items of the year
visitsItems

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
0,793451,0,1,0,793449,1,18356743,own Charles Dawes name well aftermath,different James Monroe feel just carpenter,2014-10-23 12:25:55-04:00,2014-10-23 12:25:55-04:00,NaT,0,0,0
1,793453,0,2,9,793449,1,18146475,great John C. Breckinridge have very achieve,other Walter Mondale talk when picture,2014-10-23 12:26:15-04:00,2014-10-23 12:26:15-04:00,NaT,0,0,0
2,793455,0,2,6,793449,1,18311851,first John C. Calhoun think only fuel,old Al Gore walk too year,2014-10-23 12:26:55-04:00,2014-10-23 12:26:55-04:00,NaT,0,0,0
3,793459,3,2,7,793449,1,18476565,early Henry A. Wallace call out wrist,good John F. Kennedy tell also government,2014-10-23 12:27:59-04:00,2014-10-23 12:27:59-04:00,NaT,0,0,0
4,793495,3,2,7,793449,1,18628929,same Hubert Humphrey kick very health,next Joe Biden come when creature,2014-10-23 15:36:56-04:00,2014-10-23 15:36:56-04:00,NaT,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479553,132873405,0,2,12,132777661,0,1595449503,My Table,Made at Cooper Hewitt Museum using a Collections Table.,2020-07-22 16:25:03-04:00,2020-07-22 16:25:03-04:00,NaT,0,0,3
18479554,132873409,28814,2,12,132777661,0,1595449610,My Table,Made at Cooper Hewitt Museum using a Collections Table.,2020-07-22 16:26:50-04:00,2020-07-22 16:26:50-04:00,NaT,0,0,3
18479555,132873413,28814,2,12,132777661,0,1595449666,My Table,Made at Cooper Hewitt Museum using a Collections Table.,2020-07-22 16:27:46-04:00,2020-07-22 16:27:46-04:00,NaT,0,0,3
18479556,132873417,28814,2,3,132777661,0,1595450275,My Wallpaper,Made at Cooper Hewitt Museum using a Collections Table.,2020-07-22 16:37:55-04:00,2020-07-22 16:37:55-04:00,NaT,0,0,3
18479557,132873427,28814,2,14,132777661,0,1595451288,My Chair,Made at Cooper Hewitt Museum using a Collections Table.,2020-07-22 16:54:48-04:00,2020-07-22 16:54:48-04:00,NaT,0,0,3

# items of morning

In [5]:
visitsItems.set_index('created', inplace=True)
visitsItems_morning = visitsItems.between_time('10:00', '13:00')
visitsItems_morning['refers_to_uid'].value_counts().head(100)

KeyError: "None of ['created'] are in the columns"

In [6]:
visitsItems_morning['refers_to_uid'].value_counts().head(100)

18703475      17387
18703473      17191
18703477      16693
35460287      16253
18703503      16244
18187831      15487
18703485      14565
18703481      14329
18703479      12665
35460437      12038
69155335      10381
69155331      10323
35460289      10300
69192475       9547
18312379       9156
18703483       8734
69155333       8129
404734457      8101
18187781       7991
69155377       7768
404529343      7764
404529351      7762
404529339      7762
404529337      7760
69172087       7759
404529333      7758
69172081       7758
69172085       7757
69172077       7757
404529335      7757
404529303      7756
404529301      7756
404529347      7756
69172093       7756
404529341      7756
69172095       7756
404529319      7755
69172091       7755
102335187      7755
404529313      7755
102335185      7755
404529321      7755
69172097       7754
404529323      7754
102335183      7754
404529305      7754
404529311      7754
404529325      7754
404529331      7754
404529317      7754
404529315      7754
420565501      7754
404529329      7754
69172089       7754
404529307      7753
404529349      7643
18187025       7642
18733333       7640
69172057       7353
69155065       7274
69155063       7272
69155003       7269
69155413       6612
2318798826     6568
420557263      6229
69155353       6079
69155351       6074
18187735       6052
135918443      5995
69155281       5995
135918431      5995
135918421      5994
135918447      5994
135918413      5994
135918429      5994
69155263       5994
69155077       5994
420565507      5994
135918427      5994
69155279       5994
69155277       5994
68782469       5800
404577581      5627
18204885       5566
219777437      5533
219777441      5529
219777443      5527
219777439      5525
69155349       5432
69155389       5249
69155401       5248
69155399       5247
69155391       5246
69155405       5244
69155381       5244
69155403       5243
69155383       5240
69155395       5239
69155387       5239
69155385       5238
Name: refers_to_uid, dtype: int64

# evening items

In [8]:
visitsItems_evening = visitsItems.between_time('13:05', '18:00')
visitsItems_evening['refers_to_uid'].value_counts().head(100)

18703475     41720
18703473     41501
18703477     39318
18703503     38746
35460287     37417
18703481     34007
18703485     33652
18187831     29339
18703479     29103
35460437     28002
69192475     25467
69155331     23521
35460289     23430
18312379     22548
69155335     21860
404734457    21765
18703483     21555
18187781     19070
404529339    19063
404529341    19059
404529335    19058
404529343    19058
404529333    19058
404529351    19057
404529337    19055
102335185    19053
69172077     19052
404529325    19051
404529331    19051
404529347    19051
69172089     19051
69172087     19050
102335187    19050
69172085     19049
404529321    19049
404529317    19049
404529307    19049
404529329    19049
404529323    19049
404529319    19049
69172095     19049
69172097     19049
404529305    19049
420565501    19048
404529303    19048
404529311    19048
404529301    19048
404529315    19048
69172081     19048
69172093     19048
69172091     19048
102335183    19048
404529313    19047
404529349    18809
18187025     18503
18733333     18109
135918427    17646
135918447    17644
69155279     17644
69155277     17643
69155077     17643
135918429    17643
135918443    17643
135918413    17643
69155281     17642
420565507    17642
135918431    17642
135918421    17642
69155263     17642
69155333     16476
420557263    15792
69155065     15673
69155003     15658
69155063     15653
69172057     15384
69155377     15017
69155133     14696
18187735     14493
69172111     14045
69172109     14042
69155413     14033
18204885     13785
404577581    13683
69155251     13239
69193933     13229
68782469     13032
219777437    12903
219777443    12895
219777439    12894
219777441    12891
18699461     12626
69155353     12388
69155351     12378
18187635     12083
420556917    11521
69193897     11365
420565495    11361
69155349     11145
404734417    11121
136252483    11003
Name: refers_to_uid, dtype: int64

# yearly items

In [18]:
visitsItems.reset_index(inplace=True)

In [24]:
visitsItems2015 = visitsItems[visitsItems['created'].dt.year ==2015]
visitsItems2015['refers_to_uid'].value_counts()

85006451      14286
85006479      14241
85006419      14207
18703475      13777
18703477      13456
              ...
1432135337        1
18630325          1
1436454636        1
1448232821        1
1437844866        1
Name: refers_to_uid, Length: 116034, dtype: int64

In [25]:
visitsItems2016 = visitsItems[visitsItems['created'].dt.year ==2016]
visitsItems2016['refers_to_uid'].value_counts()

69192475      38370
69155331      36937
69155335      35337
18187831      31602
404529339     29302
              ...
1471892972        1
1463520756        1
1467737593        1
1482958337        1
1467139669        1
Name: refers_to_uid, Length: 147185, dtype: int64

In [26]:
visitsItems2017 = visitsItems[visitsItems['created'].dt.year ==2017]
visitsItems2017['refers_to_uid'].value_counts()

18703477      13103
18703473      12447
18703481      12087
18703503      11970
839994781     11239
              ...
1509819015        1
109032113         1
1488743114        1
1488751318        1
1512241233        1
Name: refers_to_uid, Length: 93914, dtype: int64

In [28]:
visitsItems2018 = visitsItems[visitsItems['created'].dt.year ==2018]
visitsItems2018['refers_to_uid'].value_counts()

1158794661    11920
1158864465     9501
18703475       9289
18703473       8908
1158856991     8703
              ...
1528572187        1
1534951726        1
1520359749        1
69155193          1
1525723157        1
Name: refers_to_uid, Length: 36892, dtype: int64

In [29]:
visitsItems2019 = visitsItems[visitsItems['created'].dt.year ==2019]
visitsItems2019['refers_to_uid'].value_counts()

2318798826    17184
2318798848    15399
2318798855    10369
2318798842    10334
2318798865     9895
              ...
1574619584        1
1571082755        1
1577581158        1
1554062010        1
1551730254        1
Name: refers_to_uid, Length: 32095, dtype: int64

In [30]:
visitsItems2020 = visitsItems[visitsItems['created'].dt.year ==2020]
visitsItems2020['refers_to_uid'].value_counts()

2318800031    1967
2318800005    1557
18701037      1539
18700487      1539
18701039      1538
              ...
1582230157       1
1581711920       1
1580073360       1
1579712832       1
0                1
Name: refers_to_uid, Length: 4923, dtype: int64