In [1]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

pens = pd.read_sql('SELECT * FROM Pens', con=db_connection)
pensActivity = pd.read_sql('SELECT * FROM PensActivity', con=db_connection)
pensCheckouts = pd.read_sql('SELECT * FROM PensCheckouts', con=db_connection)
pensRegisters = pd.read_sql('SELECT * FROM PensRegisters', con=db_connection)

projectsComponents = pd.read_sql('SELECT * FROM ProjectsComponents', con=db_connection)
projectsComponentsStats = pd.read_sql('SELECT * FROM ProjectsComponentsStats', con=db_connection)
projectsQueue = pd.read_sql('SELECT * FROM ProjectsQueue', con=db_connection)
projectsStats = pd.read_sql('SELECT * FROM ProjectsStats', con=db_connection)

visits = pd.read_sql('SELECT * FROM Visits', con=db_connection)
visitsItems = pd.read_sql('SELECT * FROM VisitsItems', con=db_connection)
visitsItemsRenditions = pd.read_sql('SELECT * FROM VisitsItemsRenditions', con=db_connection)
visitsStats = pd.read_sql('SELECT * FROM VisitsStats', con=db_connection)

In [3]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 50)

# project components

In [62]:
projectsComponents.head()
# i might need to reshape the id
#category meanings 
#title meanings 
#text meanings

     id category       title text  is_public
0   0:0    value  Creativity  NaN          1
1   0:1    value   Education  NaN          1
2  0:10    value   Diversity  NaN          1
3  0:11    value      Family  NaN          1
4   0:2    value  Resilience  NaN          1

In [23]:
projectsComponents.nunique()

id           60
category      3
title        60
text         37
is_public     1
dtype: int64

In [30]:
projectsComponents['category'] = projectsComponents['category'].astype('category')
projectsComponents['text'].replace('NULL', np.NaN, regex=True, inplace=True)
projectsComponents['text'].fillna(value=np.nan, inplace=True)

In [31]:
projectsComponents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         60 non-null     object
 1   category   60 non-null     category
 2   title      60 non-null     object
 3   text       36 non-null     object
 4   is_public  60 non-null     int64
dtypes: category(1), int64(1), object(3)
memory usage: 2.2+ KB

In [63]:
projectsComponentsStats.head()

,component_id,count,value,question,tactic
0,1000000,1,Creativity,How might we make industry more local?,Stage
1,1000001,6,Creativity,How might we make industry more local?,Bike Rack
2,1000002,5,Creativity,How might we make industry more local?,Classroom
3,1000003,14,Creativity,How might we make industry more local?,Coffee Shop
4,1000004,5,Creativity,How might we make industry more local?,Community Kitchen

In [33]:
projectsComponentsStats['value'] = projectsComponentsStats['value'].astype('category')
projectsComponentsStats['question'] = projectsComponentsStats['question'].astype('category')
projectsComponentsStats['tactic'] = projectsComponentsStats['tactic'].astype('category')

In [36]:
projectsComponentsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3884 entries, 0 to 3883
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   component_id  3884 non-null   object
 1   count         3884 non-null   int64
 2   value         3884 non-null   category
 3   question      3884 non-null   category
 4   tactic        3884 non-null   category
dtypes: category(3), int64(1), object(1)
memory usage: 74.5+ KB

In [40]:
projectsQueue.head()

,id,shown,on_deck,value,question,tactic_one,tactic_two,timestamp,incomplete,shortcode
0,950,1,1,History,How might we reduce dependence on private vehi...,Bike Rack,Energy Source,2016-11-01 18:35:37,0,NaN
1,951,1,0,Equity,How might we improve neighborhood safety?,Sports Field,Community Kitchen,2016-10-15 01:25:22,0,NaN
2,952,1,0,Equity,How might we improve neighborhood safety?,Sports Field,Community Kitchen,2016-10-15 01:25:22,0,NaN
3,953,1,0,Connectivity,How might we improve neighborhood safety?,Daycare,Observation Deck,2016-10-15 01:27:10,0,NaN
4,954,1,0,Connectivity,How might we improve neighborhood safety?,Daycare,Observation Deck,2016-10-15 01:27:10,0,NaN

In [37]:
projectsQueue['value'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['question'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['tactic_one'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['tactic_two'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['timestamp'] = pd.to_datetime(projectsQueue['timestamp'], unit='s')
projectsQueue['shortcode'].fillna(value=np.nan, inplace=True)

In [38]:
projectsStats.head(100)

       id        date                    stat   count
0      26  2016-09-30  incomplete-no-question   334.0
1      29  2016-09-30         processed-total    22.0
2      69  2016-09-30    processed-in-gallery    12.0
3     193  2016-09-30     incomplete-no-value     8.0
4     241  2016-09-30   incomplete-one-tactic     3.0
5     303  2016-09-30    incomplete-no-tactic     2.0
6     407  2016-10-01  incomplete-no-question  1380.0
7     410  2016-10-01         processed-total    42.0
8     414  2016-10-01    incomplete-no-tactic     1.0
9     428  2016-10-01     incomplete-no-value     7.0
10    458  2016-10-01    processed-in-gallery    16.0
11    779  2016-10-01   incomplete-one-tactic     2.0
12   1855  2016-10-02  incomplete-no-question  1138.0
13   2074  2016-10-02     incomplete-no-value     6.0
14   2405  2016-10-02    processed-in-gallery     7.0
15   2406  2016-10-02         processed-total    16.0
16   2911  2016-10-02   incomplete-one-tactic     1.0
17   3023  2016-10-03  incomplete-no-question   694.0
18   3053  2016-10-03     incomplete-no-value    10.0
19   3077  2016-10-03    processed-in-gallery    14.0
20   3078  2016-10-03         processed-total    22.0
21   3253  2016-10-03   incomplete-one-tactic     4.0
22   3767  2016-10-04  incomplete-no-question   735.0
23   3904  2016-10-04    incomplete-no-tactic     5.0
24   4018  2016-10-04   incomplete-one-tactic     1.0
25   4019  2016-10-04    processed-in-gallery     1.0
26   4020  2016-10-04         processed-total     1.0
27   4287  2016-10-04     incomplete-no-value     3.0
28   4513  2016-10-05   incomplete-one-tactic     1.0
29   4514  2016-10-05         processed-total    25.0
30   4515  2016-10-05  incomplete-no-question   547.0
31   4544  2016-10-05     incomplete-no-value     8.0
32   4582  2016-10-05    processed-in-gallery    20.0
33   5114  2016-10-06  incomplete-no-question   364.0
34   5153  2016-10-06   incomplete-one-tactic     7.0
35   5154  2016-10-06    processed-in-gallery    11.0
36   5155  2016-10-06         processed-total    19.0
37   5267  2016-10-06     incomplete-no-value     8.0
38   5281  2016-10-06    incomplete-no-tactic     6.0
39   5529  2016-10-07  incomplete-no-question   360.0
40   5551  2016-10-07         processed-total    36.0
41   5556  2016-10-07    incomplete-no-tactic     2.0
42   5577  2016-10-07    processed-in-gallery    29.0
43   5583  2016-10-07     incomplete-no-value    22.0
44   5614  2016-10-07   incomplete-one-tactic     7.0
45   5985  2016-10-08         processed-total   143.0
46   5986  2016-10-08  incomplete-no-question  1397.0
47   6029  2016-10-08   incomplete-one-tactic    19.0
48   6048  2016-10-08     incomplete-no-value    84.0
49   6171  2016-10-08    processed-in-gallery    67.0
50   6515  2016-10-08    incomplete-no-tactic     9.0
51   7704  2016-10-09  incomplete-no-question  1055.0
52   7711  2016-10-09    processed-in-gallery     2.0
53   7712  2016-10-09         processed-total    49.0
54   7737  2016-10-09   incomplete-one-tactic    12.0
55   7743  2016-10-09    incomplete-no-tactic     6.0
56   8047  2016-10-09     incomplete-no-value    12.0
57   8840  2016-10-10  incomplete-no-question   766.0
58   8849  2016-10-10         processed-total    20.0
59   8852  2016-10-10     incomplete-no-value     9.0
60   8898  2016-10-10    incomplete-no-tactic     3.0
61   9308  2016-10-10   incomplete-one-tactic     3.0
62   9641  2016-10-11  incomplete-no-question   468.0
63   9682  2016-10-11         processed-total    24.0
64   9853  2016-10-11     incomplete-no-value     8.0
65   9944  2016-10-11    incomplete-no-tactic     1.0
66  10142  2016-10-12     incomplete-no-value    14.0
67  10143  2016-10-12  incomplete-no-question   608.0
68  10146  2016-10-12         processed-total    29.0
69  10187  2016-10-12   incomplete-one-tactic    10.0
70  10518  2016-10-12    incomplete-no-tactic     1.0
71  10804  2016-10-13  incomplete-no-question   486.0
72  10823  2016-10-13     incomplete-no-value     3.0
73  10836  2016-10-13         processed-total     9.0
74  10848  2016-10-13   incomplete-one-tactic     1.0
75  11247  2016-10-13    incomplete-no-tactic     1.0
76  11304  2016-10-14  incomplete-no-question   528.0
77  11351  2016-10-14         processed-total    13.0
78  11542  2016-10-14     incomplete-no-value     3.0
79  11657  2016-10-14    processed-in-gallery     5.0
80  11673  2016-10-14    incomplete-no-tactic     2.0
81  11679  2016-10-14   incomplete-one-tactic     4.0
82  11859  2016-10-15  incomplete-no-question     6.0
83  11865  2016-10-16  incomplete-no-question   677.0
84  11867  2016-10-16   incomplete-one-tactic     4.0
85  11868  2016-10-16    processed-in-gallery    14.0
86  11869  2016-10-16         processed-total    29.0
87  12137  2016-10-16    incomplete-no-tactic     3.0
88  12228  2016-10-16     incomplete-no-value     9.0
89  12601  2016-10-17   incomplete-one-tactic     3.0
90  12602  2016-10-17         processed-total     8.0
91  12603  2016-10-17  incomplete-no-question   426.0
92  12605  2016-10-17    processed-in-gallery     4.0
93  12936  2016-10-17     incomplete-no-value     5.0
94  13047  2016-10-18  incomplete-no-question   447.0
95  13100  2016-10-18     incomplete-no-value     3.0
96  13179  2016-10-18         processed-total    14.0
97  13202  2016-10-18    processed-in-gallery     7.0
98  13518  2016-10-19  incomplete-no-question   494.0
99  13734  2016-10-19    processed-in-gallery     4.0

In [39]:
projectsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5890 non-null   int64
 1   date    5890 non-null   object
 2   stat    5890 non-null   object
 3   count   5890 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 184.2+ KB

In [35]:
projectsStats['date'] = pd.to_datetime(projectsStats['date'])
projectsStats['count'] = projectsStats['count'].astype(int)

In [36]:
projectsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5890 non-null   int64
 1   date    5890 non-null   datetime64[ns]
 2   stat    5890 non-null   object
 3   count   5890 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 184.2+ KB

In [37]:
projectsStats.sample()

          id       date                 stat  count
2950  948419 2018-02-08  incomplete-no-value    116

In [38]:
projectsComponents.sample()
# i might need to reshape the id
#category meanings 
#title meanings 
#text meanings

      id category             title    text  is_public
29  2:13   tactic  Place of Worship  "Faith          1

In [39]:
projectsComponentsStats.sample()
#component_id ? value? #question? #tactic?

,component_id,count,value,question,tactic
1464,1040307,6,Equity,How might we encourage more people to read?,Swimming Pool

In [40]:
projectsQueue.sample()
#same value as projectComponents category? 
#or same value as in projectsComponentsStats? and same question and tactic?
#what is there meanings?

,id,shown,on_deck,value,question,tactic_one,tactic_two,timestamp,incomplete,shortcode
7995,8945,1,0,,,,,1488141561,1,vqhvb

In [41]:
projectsStats.sample()
#what is this id refers to?

          id       date                    stat  count
2767  872496 2017-12-24  incomplete-no-question    497

# Visits

In [96]:
visits.tail(150)

,id,shortcode,user_id,created,lastmodified,registered,expires,paired,ticket,deleted,created_ip,registered_ip,paired_ip,processed,purchased_by_user_id,note,exported,first_accessed,ignore_first_accessed,title
716132,132238043,2xscw,0,2020-03-04 14:59:27,2020-03-04 14:59:28,2020-03-04 14:59:28,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716133,132238047,xx4wz,0,2020-03-04 14:59:34,2020-03-04 14:59:36,2020-03-04 14:59:36,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716134,132238049,s23vt,0,2020-03-04 14:59:36,2020-03-04 14:59:37,2020-03-04 14:59:37,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716135,132238055,wxs4w,0,2020-03-04 14:59:45,2020-03-04 14:59:47,2020-03-04 14:59:47,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716136,132238057,c77j2,0,2020-03-04 14:59:46,2020-03-04 14:59:47,2020-03-04 14:59:47,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716137,132238063,qc5j,0,2020-03-04 14:59:56,2020-03-04 14:59:58,2020-03-04 14:59:58,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716138,132238067,kgjfx,0,2020-03-04 14:59:59,2020-03-04 15:00:00,2020-03-04 15:00:00,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716139,132238071,sfcnz,0,2020-03-04 15:00:17,2020-03-04 15:00:18,2020-03-04 15:00:18,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716140,132238075,wfgqq,0,2020-03-04 15:00:26,2020-03-04 15:00:27,2020-03-04 15:00:27,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716141,132238079,36vyz,0,2020-03-04 15:00:35,2020-03-04 15:00:37,2020-03-04 15:00:36,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716142,132238085,spww,0,2020-03-04 15:00:48,2020-03-04 15:00:49,2020-03-04 15:00:49,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716143,132238089,q2fbx,0,2020-03-04 15:01:05,2020-03-04 15:01:07,2020-03-04 15:01:07,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716144,132238093,z654v,0,2020-03-04 15:01:27,2020-03-04 15:01:28,2020-03-04 15:01:28,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716145,132238099,wbkpp6,0,2020-03-04 15:02:28,2020-03-04 15:02:29,2020-03-04 15:02:29,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716146,132238103,br7vz,0,2020-03-04 15:02:52,2020-03-04 15:02:54,2020-03-04 15:02:53,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716147,132238107,dyqd4,0,2020-03-04 15:02:59,2020-03-04 15:03:00,2020-03-04 15:03:00,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716148,132238111,7xw2,0,2020-03-04 15:03:14,2020-03-04 15:03:16,2020-03-04 15:03:16,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716149,132238117,jbhft,0,2020-03-04 15:05:12,2020-03-04 15:05:14,2020-03-04 15:05:13,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716150,132238121,mkdq5,0,2020-03-04 15:05:23,2020-03-04 15:05:25,2020-03-04 15:05:24,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716151,132238379,kx2rm,0,2020-03-04 15:10:36,2020-03-04 15:10:38,2020-03-04 15:10:37,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716152,132238519,nmmh4,0,2020-03-04 15:11:02,2020-03-04 15:11:04,2020-03-04 15:11:03,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716153,132239999,6zv3t,0,2020-03-04 15:15:05,2020-03-04 15:15:06,2020-03-04 15:15:06,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716154,132240003,fnn75,0,2020-03-04 15:15:45,2020-03-04 15:15:46,2020-03-04 15:15:46,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716155,132240005,zqkhs,0,2020-03-04 15:15:45,2020-03-04 15:15:46,2020-03-04 15:15:46,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716156,132240011,cpzjj,0,2020-03-04 15:16:39,2020-03-04 15:16:41,2020-03-04 15:16:40,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716157,132240015,f754,0,2020-03-04 15:16:48,2020-03-04 15:16:50,2020-03-04 15:16:49,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716158,132240019,mn5kb,0,2020-03-04 15:18:09,2020-03-06 04:20:33,2020-03-04 15:18:11,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.583468e+09,NaN,NaN
716159,132240023,xwdcy,0,2020-03-04 15:19:45,2020-03-04 15:19:47,2020-03-04 15:19:46,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716160,132240027,w5pkk,0,2020-03-04 15:21:04,2020-03-04 15:21:06,2020-03-04 15:21:05,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716161,132240029,qxzdt,0,2020-03-04 15:21:06,2020-03-04 15:21:07,2020-03-04 15:21:07,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716162,132240043,mmxwk,0,2020-03-04 15:34:09,2020-03-04 15:34:10,2020-03-04 15:34:10,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716163,132240047,7wzvf,0,2020-03-04 15:36:08,2020-03-04 15:36:10,2020-03-04 15:36:10,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716164,132240051,kdhjk,0,2020-03-04 15:36:21,2020-03-04 15:36:22,2020-03-04 15:36:22,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716165,132240055,sn4cp,0,2020-03-04 15:36:40,2020-03-04 15:36:41,2020-03-04 15:36:41,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716166,132240065,2tvhj,0,2020-03-04 15:42:17,2020-03-04 15:42:19,2020-03-04 15:42:18,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716167,132240095,3q2n5,0,2020-03-04 15:54:25,2020-03-04 15:54:27,2020-03-04 15:54:27,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716168,132240099,qrtj5,0,2020-03-04 15:54:33,2020-03-04 15:54:35,2020-03-04 15:54:35,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716169,132240103,6wzcc,0,2020-03-04 15:57:29,2020-03-04 15:57:31,2020-03-04 15:57:30,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716170,132240115,vnnst,0,2020-03-04 16:10:20,2020-03-04 16:10:22,2020-03-04 16:10:22,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716171,132240119,zjydp,0,2020-03-04 16:10:32,2020-03-04 16:10:34,2020-03-04 16:10:33,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716172,132240139,4jr2p,0,2020-03-04 16:20:32,2020-03-04 16:20:34,2020-03-04 16:20:34,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716173,132240143,6g6b,0,2020-03-04 16:20:48,2020-03-04 16:20:49,2020-03-04 16:20:49,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716174,132240241,b6nnm,0,2020-03-04 16:52:18,2020-03-04 16:52:19,2020-03-04 16:52:19,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716175,132240249,pfmk2,0,2020-03-04 16:55:26,2020-03-04 16:55:28,2020-03-04 16:55:28,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716176,132240253,rswry,0,2020-03-04 16:55:35,2020-03-04 16:55:36,2020-03-04 16:55:36,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716177,132240257,ygbv,0,2020-03-04 16:56:54,2020-03-04 16:56:56,2020-03-04 16:56:55,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716178,132240587,jhfsd,0,2020-03-04 17:12:20,2020-03-04 17:12:21,2020-03-04 17:12:21,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716179,132240591,yygwc7,0,2020-03-04 17:12:30,2020-03-04 17:12:31,2020-03-04 17:12:31,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716180,132240603,dqfd,0,2020-03-04 17:27:16,2020-03-04 17:27:17,2020-03-04 17:27:17,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716181,132240607,hn6j6,0,2020-03-04 17:27:24,2020-07-29 13:21:43,2020-03-04 17:27:25,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.596029e+09,NaN,NaN
716182,132240611,6jmwr,0,2020-03-04 17:27:37,2020-07-29 13:22:03,2020-03-04 17:27:38,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.596029e+09,NaN,NaN
716183,132240615,5jxtq,0,2020-03-04 17:27:50,2020-03-04 17:27:52,2020-03-04 17:27:51,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716184,132240619,4j3vd,0,2020-03-04 17:27:55,2020-03-04 17:27:57,2020-03-04 17:27:56,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716185,132240623,dgpwp,0,2020-03-04 17:28:11,2020-03-04 17:28:12,2020-03-04 17:28:12,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716186,132240627,zzbpt,0,2020-03-04 17:28:18,2020-05-04 21:02:41,2020-03-04 17:28:19,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.588626e+09,NaN,NaN
716187,132240633,gfjmw,0,2020-03-04 17:28:35,2020-03-04 17:28:36,2020-03-04 17:28:36,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716188,132240635,nfsvk,0,2020-03-04 17:28:36,2020-03-04 17:28:38,2020-03-04 17:28:37,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716189,132240641,gfvpn,0,2020-03-04 17:28:54,2020-03-06 13:03:31,2020-03-04 17:28:55,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.583500e+09,NaN,NaN
716190,132240645,ngwzp,0,2020-03-04 17:28:57,2020-03-04 17:28:58,2020-03-04 17:28:58,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716191,132240649,tvpn,0,2020-03-04 17:29:12,2020-03-04 17:29:13,2020-03-04 17:29:13,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716192,132240653,wxxhk,0,2020-03-04 17:29:26,2020-03-04 17:29:28,2020-03-04 17:29:27,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716193,132240657,4vyk5,0,2020-03-04 17:29:53,2020-03-04 17:29:54,2020-03-04 17:29:54,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716194,132240661,xc7gz,0,2020-03-04 17:30:21,2020-03-04 17:30:23,2020-03-04 17:30:22,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716195,132240663,tj2d4,0,2020-03-04 17:30:22,2020-03-04 17:30:23,2020-03-04 17:30:23,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716196,132240669,xvc6q,0,2020-03-04 17:30:32,2020-03-05 01:48:21,2020-03-04 17:30:33,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.583373e+09,NaN,NaN
716197,132240673,svjbd7,0,2020-03-04 17:30:39,2020-03-04 17:30:41,2020-03-04 17:30:40,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716198,132240677,4svs4,0,2020-03-04 17:31:16,2020-03-04 17:31:17,2020-03-04 17:31:17,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716199,132240681,xbwvn,0,2020-03-04 17:31:22,2020-03-04 17:31:24,2020-03-04 17:31:23,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716200,132240685,dqm3b,0,2020-03-04 17:31:36,2020-03-04 17:31:38,2020-03-04 17:31:37,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716201,132240687,v6ynq,0,2020-03-04 17:31:36,2020-03-04 17:31:38,2020-03-04 17:31:37,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716202,132240693,pdspx,0,2020-03-04 17:35:10,2020-03-04 17:35:11,2020-03-04 17:35:11,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716203,132240707,2zn2y,0,2020-03-04 17:42:01,2020-03-04 17:42:03,2020-03-04 17:42:02,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716204,132240711,c4jch,0,2020-03-04 17:42:45,2020-03-04 17:42:47,2020-03-04 17:42:47,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716205,132240737,2k6wd,0,2020-03-04 17:49:08,2020-03-04 17:49:09,2020-03-04 17:49:09,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716206,132240741,732x,0,2020-03-04 17:49:21,2020-03-04 17:49:23,2020-03-04 17:49:22,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716207,132240751,dwjst,0,2020-03-04 18:01:20,2020-03-04 18:01:22,2020-03-04 18:01:21,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716208,132240757,h3jv4f,0,2020-03-04 18:02:19,2020-03-04 18:02:20,2020-03-04 18:02:20,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716209,132240761,msr2c,0,2020-03-04 18:02:32,2020-03-04 18:02:34,2020-03-04 18:02:33,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716210,132240765,6wkfb,0,2020-03-04 18:03:59,2020-03-04 18:04:01,2020-03-04 18:04:00,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716211,132240769,crjf,0,2020-03-04 18:04:10,2020-03-04 18:04:12,2020-03-04 18:04:12,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716212,132240773,g3fns,0,2020-03-04 18:06:19,2020-03-04 18:06:21,2020-03-04 18:06:20,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716213,132240777,syr3p,0,2020-03-04 18:06:30,2020-03-04 18:06:31,2020-03-04 18:06:31,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716214,132240791,w5sgk,0,2020-03-04 18:13:18,2020-03-04 18:13:19,2020-03-04 18:13:19,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716215,132240795,jx4m,0,2020-03-04 18:13:29,2020-03-04 18:13:31,2020-03-04 18:13:30,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716216,132240799,2s3jm,0,2020-03-04 18:14:58,2020-03-04 18:15:00,2020-03-04 18:15:00,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716217,132240803,pgm23,0,2020-03-04 18:15:44,2020-03-04 18:15:46,2020-03-04 18:15:45,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716218,132241439,7pqw3,0,2020-03-04 18:36:39,2020-03-04 18:36:41,2020-03-04 18:36:40,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716219,132241441,whqyc,0,2020-03-04 18:36:39,2020-03-04 18:36:41,2020-03-04 18:36:41,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716220,132242291,6x57s,0,2020-03-04 18:38:24,2020-03-04 18:38:25,2020-03-04 18:38:25,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716221,132242643,vprf5,0,2020-03-04 18:41:48,2020-03-04 18:41:48,NaT,0,NaT,"{""ticket_id"":""938920"",""shortcode"":""vprf5"",""per...",NaT,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716222,132244461,j5hck,0,2020-03-04 18:50:54,2020-03-04 18:50:55,2020-03-04 18:50:55,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716223,132244465,6kb4,0,2020-03-04 18:51:33,2020-03-04 18:51:34,2020-03-04 18:51:34,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716224,132244469,mdgkb,0,2020-03-04 18:51:42,2020-03-08 14:57:53,2020-03-04 18:51:44,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.583679e+09,NaN,NaN
716225,132244473,vzfr4,0,2020-03-04 18:51:49,2020-03-04 18:51:51,2020-03-04 18:51:51,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
pd.set_option("max_colwidth", 1000)
visits['ticket']

0                                                                                                               {"tessitura_spoofing":1,"ticket_id":"794965","performance_id":"71","attended":"1","date_attended":"2014-10-29T17:10:47-04:00"}
1                                                                                                               {"tessitura_spoofing":1,"ticket_id":"795317","performance_id":"71","attended":"1","date_attended":"2014-10-29T19:32:29-04:00"}
2                                                                                                               {"tessitura_spoofing":1,"ticket_id":"795341","performance_id":"71","attended":"1","date_attended":"2014-10-29T19:40:51-04:00"}
3                                                                                                               {"tessitura_spoofing":1,"ticket_id":"795351","performance_id":"71","attended":"1","date_attended":"2014-10-29T19:43:31-04:00"}
4                                                                                                               {"tessitura_spoofing":1,"ticket_id":"795405","performance_id":"71","attended":"1","date_attended":"2014-10-29T20:13:47-04:00"}
                                                                                                                          ...
716277    {"status":"Attendance recorded for ticket: 940560","ticket_id":"940560","shortcode":"56bs6","performance_id":"4254","performance_date":"2020-07-09T10:00:00-04:00","date_attended":"Jul  9 2020  9:12AM","attended":"1","type":null}
716278    {"status":"Attendance recorded for ticket: 940561","ticket_id":"940561","shortcode":"cvszd","performance_id":"4254","performance_date":"2020-07-09T10:00:00-04:00","date_attended":"Jul  9 2020  9:16AM","attended":"1","type":null}
716279    {"status":"Attendance recorded for ticket: 940562","ticket_id":"940562","shortcode":"zrbqg","performance_id":"4254","performance_date":"2020-07-09T10:00:00-04:00","date_attended":"Jul  9 2020  9:19AM","attended":"1","type":null}
716280    {"status":"Attendance recorded for ticket: 940563","ticket_id":"940563","shortcode":"Jr656","performance_id":"4254","performance_date":"2020-07-09T10:00:00-04:00","date_attended":"Jul  9 2020  9:40AM","attended":"1","type":null}
716281                                                           {"ticket_id":"940564","shortcode":"3xp65","performance_id":"4254","performance_date":"2020-07-09T10:00:00-04:00","date_attended":"","prepair":"0","attended":"0","type":null}
Name: ticket, Length: 716282, dtype: object

In [44]:
visits.nunique()

id                       716282
shortcode                716282
user_id                   21059
created                  708749
lastmodified             577869
registered               541740
expires                       1
paired                    23130
ticket                   716247
deleted                      67
created_ip                   29
registered_ip                27
paired_ip                 19957
processed                 22318
purchased_by_user_id          1
note                          3
exported                   1999
first_accessed           123874
ignore_first_accessed         1
title                       165
dtype: int64

In [66]:
visits['created'] = pd.to_datetime(visits['created'], unit='s')
visits['lastmodified'] = pd.to_datetime(visits['lastmodified'], unit='s')
visits['registered'] = visits['registered'].replace(0, np.nan)
visits['registered'] = pd.to_datetime(visits['registered'], unit='s')
visits['deleted'] = visits['deleted'].replace(0, np.nan)
visits['deleted'] = pd.to_datetime(visits['deleted'], unit='s')
visits['paired'] = visits['paired'].replace(0, np.nan)
visits['paired'] = pd.to_datetime(visits['paired'], unit='s')
visits['created_ip'].replace(0, np.nan, inplace=True)
visits['registered_ip'].replace(0, np.nan, inplace=True)
visits['paired_ip'].replace(0, np.nan, inplace=True)
visits['processed'].replace(0, np.nan, inplace=True)
visits['purchased_by_user_id'].replace(0, np.nan, inplace=True)
visits['exported'].replace(0, np.nan, inplace=True)
visits['title'].fillna(value=np.nan, inplace=True)
visits['note'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)

In [43]:
visits.nunique()

id                       716282
shortcode                716282
user_id                   21059
created                  708749
lastmodified             577869
registered               541740
expires                       1
paired                    23130
ticket                   716247
deleted                      67
created_ip                   29
registered_ip                27
paired_ip                 19957
processed                 22318
purchased_by_user_id          1
note                          3
exported                   1999
first_accessed           123874
ignore_first_accessed         1
title                       165
dtype: int64

In [69]:
visits.tail(25)

,id,shortcode,user_id,created,lastmodified,registered,expires,paired,ticket,deleted,created_ip,registered_ip,paired_ip,processed,purchased_by_user_id,note,exported,first_accessed,ignore_first_accessed,title
716257,132246241,jxntk,0,2020-03-04 21:13:18,2020-03-04 21:13:19,2020-03-04 21:13:19,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716258,132246245,3bqfn,0,2020-03-04 21:16:01,2020-03-04 21:16:03,2020-03-04 21:16:02,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716259,132246249,42ph6,0,2020-03-04 21:16:13,2020-03-04 21:16:14,2020-03-04 21:16:14,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716260,132246253,k5zgk,0,2020-03-04 21:16:16,2020-03-04 21:16:17,2020-03-04 21:16:17,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716261,132246257,j5tmr,0,2020-03-04 21:16:32,2020-03-04 21:16:33,2020-03-04 21:16:33,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716262,132246299,25wc,0,2020-03-04 21:26:11,2020-03-04 21:26:12,2020-03-04 21:26:12,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716263,132246303,yy5yy,0,2020-03-04 21:26:50,2020-03-04 21:26:52,2020-03-04 21:26:51,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716264,132246323,zpjj,0,2020-03-04 21:27:10,2020-03-04 21:27:12,2020-03-04 21:27:12,0,NaT,"{""status"":""Attendance recorded for ticket: 938...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716265,132246363,vxkq,0,2020-03-04 21:49:54,2020-03-04 21:49:55,2020-03-04 21:49:55,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716266,132246365,pzypg,0,2020-03-04 21:49:55,2020-03-04 21:49:57,2020-03-04 21:49:56,0,NaT,"{""status"":""Attendance recorded for ticket: 939...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716267,132253047,3p2v4,28814,2020-03-05 21:26:23,2020-03-05 21:31:20,2020-03-05 21:26:29,0,2020-03-05 21:31:20,"{""status"":""Attendance recorded for ticket: 939...",NaT,6.458941e+08,6.458941e+08,2.691694e+09,1.583444e+09,NaN,NaN,NaN,1.583444e+09,NaN,NaN
716268,132498363,yb7bh,0,2020-04-22 18:22:31,2020-04-22 18:22:31,NaT,0,NaT,"{""ticket_id"":""940547"",""shortcode"":""yb7bh"",""per...",NaT,1.198075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716269,132498395,d3wwv,28814,2020-04-22 20:50:05,2020-04-28 05:52:34,2020-04-22 20:50:17,0,2020-04-28 05:52:34,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,1.198075e+09,1.588053e+09,NaN,NaN,NaN,1.587589e+09,NaN,NaN
716270,132498415,dnwy,28814,2020-04-22 21:50:12,2020-04-23 01:06:42,2020-04-22 21:50:22,0,2020-04-23 01:06:41,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,1.198075e+09,1.587604e+09,NaN,NaN,NaN,1.587593e+09,NaN,NaN
716271,132770927,ykcb7,0,2020-07-01 17:52:52,2020-07-01 18:45:48,2020-07-01 18:45:47,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716272,132770929,Jtmx,0,2020-07-01 17:55:07,2020-07-01 18:16:16,2020-07-01 18:16:15,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716273,132777659,ppkxy,28814,2020-07-02 17:15:41,2020-07-02 17:21:25,2020-07-02 17:18:28,0,2020-07-02 17:21:25,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,1.593710e+09,NaN,NaN
716274,132777661,k326zy,28814,2020-07-02 17:15:50,2020-07-22 20:26:23,NaT,0,2020-07-22 20:26:22,"{""ticket_id"":""940557"",""shortcode"":""k326zy"",""pe...",NaT,1.198075e+09,NaN,1.198075e+09,1.595450e+09,NaN,NaN,NaN,1.593722e+09,NaN,NaN
716275,132777683,tzctj,0,2020-07-02 20:22:01,2020-07-02 20:23:05,2020-07-02 20:22:10,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,1.593721e+09,NaN,NaN
716276,132794701,gz65,28814,2020-07-06 17:41:57,2020-07-22 20:00:53,2020-07-06 17:42:08,0,2020-07-22 20:00:52,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,1.198075e+09,1.595448e+09,NaN,NaN,NaN,1.595448e+09,NaN,NaN
716277,132806719,56bs6,0,2020-07-09 13:11:50,2020-07-09 13:22:11,2020-07-09 13:12:12,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,1.594301e+09,NaN,NaN
716278,132806727,cvszd,0,2020-07-09 13:16:19,2020-07-09 13:22:42,2020-07-09 13:16:32,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,1.594301e+09,NaN,NaN
716279,132806735,zrbqg,0,2020-07-09 13:19:41,2020-07-09 13:22:54,2020-07-09 13:19:58,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,1.594301e+09,NaN,NaN
716280,132806749,Jr656,0,2020-07-09 13:40:43,2020-07-09 13:40:43,2020-07-09 13:40:42,0,NaT,"{""status"":""Attendance recorded for ticket: 940...",NaT,1.198075e+09,1.198075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
716281,132806751,3xp65,0,2020-07-09 13:41:06,2020-07-09 13:41:06,NaT,0,NaT,"{""ticket_id"":""940564"",""shortcode"":""3xp65"",""per...",NaT,1.198075e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
visitsItems.head(150)

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
0,793451,0,1,0,793449,1,18356743,own Charles Dawes name well aftermath,different James Monroe feel just carpenter,1414081555,1414081555,0,0,0,0
1,793453,0,2,9,793449,1,18146475,great John C. Breckinridge have very achieve,other Walter Mondale talk when picture,1414081575,1414081575,0,0,0,0
2,793455,0,2,6,793449,1,18311851,first John C. Calhoun think only fuel,old Al Gore walk too year,1414081615,1414081615,0,0,0,0
3,793459,3,2,7,793449,1,18476565,early Henry A. Wallace call out wrist,good John F. Kennedy tell also government,1414081679,1414081679,0,0,0,0
4,793495,3,2,7,793449,1,18628929,same Hubert Humphrey kick very health,next Joe Biden come when creature,1414093016,1414093016,0,0,0,0
5,793499,3,2,9,793449,1,18466243,bad Spiro Agnew try there veil,high Millard Fillmore call too guide,1414094034,1414094034,0,0,0,0
6,793503,3,2,8,793449,1,18445757,other Al Gore add even fruit,high George W. Bush seem so friction,1414094202,1414094202,0,0,0,0
7,793529,3,2,3,793527,1,18634081,own John F. Kennedy reach out cable,own James Monroe leave too problem,1414116321,1414116321,0,0,0,0
8,793531,3,2,3,793527,1,18644797,first Aaron Burr pass only texture,few Adlai E. Stevenson add just way,1414116938,1414116938,0,0,0,0
9,793533,3,2,3,793527,1,18616529,good James Madison end still wealth,different Herbert Hoover vanish too temper,1414117276,1414117276,0,0,0,0
10,793573,0,2,9,793571,1,18651455,large George Bush rinse there railway,same Spiro Agnew want as kitten,1414163135,1414163135,0,0,0,0
11,793575,3,2,5,793571,1,18394375,different Millard Fillmore obey never eye,public William McKinley call never fact,1414163774,1414163774,0,0,0,0
12,793589,3,2,9,793571,1,18489807,next Charles Curtis escape up texture,large Harry S Truman talk back locket,1414166926,1414166926,0,0,0,0
13,793667,3,2,3,793571,1,18316359,great Ulysses S. Grant ask still magic,right Rutherford B. Hayes give only fact,1414188095,1414188095,0,0,0,0
14,793677,3,2,1,793571,1,18496607,own John C. Calhoun open as treatment,same Adlai E. Stevenson knit back person,1414195163,1414195163,0,0,0,0
15,793683,0,2,7,793681,1,18344241,first Benjamin Harrison ask also afterthought,other Andrew Jackson promise still faucet,1414195357,1414195357,0,0,0,0
16,793693,3,2,0,793681,1,18382315,good John C. Calhoun drop how vein,few Ulysses S. Grant allow here picture,1414195914,1414195914,0,0,0,0
17,793699,3,2,1,793681,1,18640325,bad Barack Obama try as railway,small James K. Polk work only calendar,1414196092,1414196092,0,0,0,0
18,793703,3,2,7,793681,1,18401271,right William McKinley gather in weather,high John C. Calhoun jump when acoustics,1414196746,1414196746,0,0,0,0
19,793707,3,2,5,793681,1,18464993,big Gerald Ford kick even wren,long Richard M. Johnson itch even life,1414197113,1414197113,0,0,0,0
20,793711,3,2,9,793681,1,18701039,young George Bush obey now beginner,own William Wheeler know also music,1414197302,1414197302,0,0,0,0
21,793717,0,2,3,793715,1,18640493,young George Clinton be just woman,own James K. Polk walk here mountain,1414197592,1414197592,0,0,0,0
22,793719,0,2,6,793715,1,18609675,new Hannibal Hamlin march still money,right Hannibal Hamlin march now problem,1414197619,1414197619,0,0,0,0
23,793723,3,2,0,793715,1,18800613,big Dick Cheney end when company,new Grover Cleveland be here beginner,1414197709,1414197709,0,0,0,0
24,793725,3,2,4,793715,1,18342911,right Walter Mondale vanish very circle,small John Nance Garner be then education,1414197734,1414197734,0,0,0,0
25,793883,0,1,0,793881,1,18316213,own Grover Cleveland tell still wren,good Jimmy Carter hug well mountain,1414432504,1414432504,0,0,0,0
26,793885,0,2,0,793881,1,18495173,bad Charles Dawes zip there veil,new George Clinton itch here stranger,1414432522,1414432522,0,0,0,0
27,793887,0,2,0,793881,1,18667549,great Daniel D. Tompkins look too police,old William Wheeler chase even thread,1414432640,1414432640,0,0,0,0
28,793889,0,2,7,793881,1,18410559,bad William McKinley fasten never recess,last James K. Polk turn in passenger,1414432684,1414432684,0,0,0,0
29,793893,3,1,0,793881,1,18500009,first James Monroe yell out woman,other Thomas R. Marshall hug even group,1414432779,1414432779,0,0,0,0
30,793895,3,2,0,793881,1,18451407,small Richard M. Johnson kick well week,long Ulysses S. Grant fasten there woman,1414432801,1414432801,0,0,0,0
31,794451,0,1,0,794449,1,18637615,large Lyndon B. Johnson bang still boundary,long Lyndon B. Johnson jump as work,1414526581,1414526581,0,0,0,0
32,794453,0,1,0,794449,1,18643273,few Charles Curtis imagine out believe,young John C. Breckinridge leave very galley,1414526584,1414526584,0,0,0,0
33,794455,0,2,0,794449,1,18612839,long George M. Dallas end never group,few Calvin Coolidge jump here railway,1414526595,1414526595,0,0,0,0
34,794469,3,2,0,794449,1,18269757,great Thomas Hendricks make out achieve,few John Quincy Adams stay even circle,1414526762,1414526762,0,0,0,0
35,794539,0,1,0,794527,1,18448597,next Martin Van Buren zip never health,young Grover Cleveland notice still plastic,1414529537,1414529537,0,0,0,0
36,794541,0,2,0,794527,1,18471129,long James S. Sherman imagine more creature,old Warren G. Harding end never recess,1414529545,1414529545,0,0,0,0
37,794543,0,2,7,794527,1,18569503,big Franklin Pierce do in idea,long Woodrow Wilson take never case,1414529564,1414529564,0,0,0,0
38,794557,3,1,0,794527,1,18627835,little Thomas R. Marshall work how child,great Dan Quayle take up appliance,1414530126,1414530126,0,0,0,0
39,794561,3,2,0,794527,1,18649437,bad Al Gore name too sweater,long Thomas Hendricks kick really plastic,1414530146,1414530146,0,0,0,0
40,794603,0,2,0,794599,1,18287575,long Hannibal Hamlin land here way,first Bill Clinton take down achieve,1414530970,1414530970,0,0,0,0
41,794605,0,1,0,794599,1,18653811,last Calvin Coolidge lock back part,few Lyndon B. Johnson come here route,1414530973,1414530973,0,0,0,0
42,794607,0,1,0,794599,1,18319373,small William Howard Taft seem so volcano,first Calvin Coolidge obey as sweater,1414530977,1414530977,0,0,0,0
43,794801,0,1,0,794799,1,18481649,same Theodore Roosevelt ask when recess,first James Buchanan hug still idea,1414536158,1414536158,0,0,0,0
44,794803,0,1,0,794799,1,18575263,early Franklin Pierce scatter never pleasure,last Ronald Reagan zip here sweater,1414536160,1414536160,0,0,0,0
45,794805,0,2,0,794799,1,51689399,few William King promise how wealth,good John C. Calhoun march never group,1414536168,1414536168,0,0,0,0
46,794967,0,1,0,794965,1,18346169,early Lyndon B. Johnson jump so appliance,bad Alben Barkley walk really thread,1414617054,1414617054,0,0,0,0
47,794969,0,1,0,794965,1,18452185,same Andrew Johnson obey just kitten,early James Buchanan stay there wilderness,1414617057,1414617057,0,0,0,0
48,794971,0,2,7,794965,1,18471115,same James Madison tell there part,other John Quincy Adams allow only temper,1414617068,1414617068,0,0,0,0
49,794985,0,2,6,794965,1,18635459,next Chester Arthur jog very point,big Theodore Roosevelt bang never border,1414617158,1414617158,0,0,0,0
50,795319,0,1,0,795317,1,18382947,great Benjamin Harrison call out company,own Joe Biden call how pleasure,1414625562,1414625562,0,0,0,0
51,795321,0,1,0,795317,1,18609951,early George M. Dallas turn down point,own Charles Fairbanks escape in fruit,1414625565,1414625565,0,0,0,0
52,795323,0,2,0,795317,1,18648793,big Al Gore land more case,important John Nance Garner do now scene,1414625572,1414625572,0,0,0,0
53,795343,0,2,4,795341,1,18410733,same James Madison take up language,own Elbridge Gerry untie back pickle,1414626064,1414626064,0,0,0,0
54,795353,0,1,0,795351,1,18114821,little Hubert Humphrey chase up part,small Charles Dawes rinse just route,1414626217,1414626217,0,0,0,0
55,795355,0,1,0,795351,1,18222401,small George Washington do so plastic,few Calvin Coolidge name never minister,1414626220,1414626220,0,0,0,0
56,795357,0,2,9,795351,1,18345617,early John C. Calhoun work out thing,small Andrew Johnson land only veil,1414626231,1414626231,0,0,0,0
57,795359,0,2,9,795351,1,18729833,old George Bush reach when believe,small Franklin Pierce obey still year,1414626238,1414626238,0,0,0,0
58,795407,0,2,9,795405,1,18246325,right Elbridge Gerry damage too way,high George W. Bush promise very year,1414628042,1414628042,0,0,0,0
59,795409,0,1,0,795405,1,18543323,high John Quincy Adams lock up route,important Franklin D. Roosevelt add here scene,1414628046,1414628046,0,0,0,0
60,795411,0,1,0,795405,1,18404533,old Gerald Ford add never appliance,few John Nance Garner go when able,1414628048,1414628048,0,0,0,0
61,795419,0,1,0,795417,1,18667471,large William Henry Harrison land more laborer,old Levi P. Morton promise also health,1414628217,1414628217,0,0,0,0
62,795421,0,2,0,795417,1,18629527,high Dwight D. Eisenhower rinse there channel,early Abraham Lincoln pass well linen,1414628224,1414628224,0,0,0,0
63,795429,0,1,0,795427,1,18481785,good Richard M. Johnson open more stranger,good James Madison pass as acoustics,1414628500,1414628500,0,0,0,0
64,795431,0,1,0,795427,1,18390415,important John C. Calhoun grab really friction,first Garret Hobart turn in wren,1414628503,1414628503,0,0,0,0
65,795433,0,2,0,795427,1,18390351,little James K. Polk yell in faucet,last James Buchanan imagine how wealth,1414628512,1414628512,0,0,0,0
66,795441,0,1,0,795439,1,18135815,other Aaron Burr jog back lawyer,important John Adams go well channel,1414628635,1414628635,0,0,0,0
67,795443,0,2,3,795439,1,18645575,right Ulysses S. Grant talk up circle,good Gerald Ford open in guitar,1414628644,1414628644,0,0,0,0
68,795451,0,1,0,795449,1,18101953,great James S. Sherman fasten so money,early William Howard Taft go there kitten,1414628958,1414629062,1414629062,0,0,0
69,795453,0,1,0,795449,1,18634965,next Woodrow Wilson hug there afternoon,old Theodore Roosevelt drop there suit,1414628961,1414629062,1414629062,0,0,0
70,795455,0,2,0,795449,1,18735889,same Daniel D. Tompkins tell only life,right George Clinton have there border,1414628968,1414629062,1414629062,0,0,0
71,795457,0,2,3,795449,1,18407657,new Daniel D. Tompkins say also wealth,different George Clinton call now creature,1414628984,1414629063,1414629063,0,0,0
72,796273,0,1,0,796261,1,18381885,young George W. Bush pass up thread,new Thomas R. Marshall scatter in channel,1415039557,1415039557,0,0,0,0
73,796275,0,1,0,796261,1,18398331,large Chester Arthur stay as galley,few George Bush turn very appliance,1415039560,1415039560,0,0,0,0
74,796287,0,1,0,796261,1,18665301,large Warren G. Harding fix never case,long Daniel D. Tompkins end back picture,1415039826,1415039826,0,0,0,0
75,796333,0,1,0,796261,1,18444389,last Charles Fairbanks call still man,early John Quincy Adams end when circle,1415047367,1415047367,0,0,0,0
76,796439,0,1,0,796435,1,18127219,few James S. Sherman try down wealth,next George Bush yell back fuel,1415049295,1415049295,0,0,0,0
77,796499,247,2,0,796435,0,1416269944,the king!,uploaded from OpenFrameworks,1415050489,1415050489,0,0,0,0
78,796505,0,1,0,796261,1,18411361,,,1415050709,1415050545,0,0,0,0
79,796507,0,1,0,796261,1,18677737,,,1415050712,1415050545,0,0,0,0
80,796633,0,1,0,796261,1,18638361,long Bill Clinton seem only scene,last Franklin Pierce go only breakfast,1415053006,1415053006,0,0,0,0
81,796639,0,2,9,796261,1,18698673,other George Washington end in minister,young Thomas R. Marshall look too volcano,1415053025,1415053025,0,0,0,0
82,797843,0,1,0,797837,1,18709977,,,1415133170,1415133191,0,0,0,0
83,797845,0,1,0,797837,1,18474311,,,1415133173,1415133191,0,0,0,0
84,797921,0,1,0,797915,1,18638053,small John Tyler open only activity,new Chester Arthur land well person,1415133426,1415133426,0,0,0,0
85,797923,0,1,0,797915,1,18558397,bad George M. Dallas work when time,young Charles Fairbanks grab then faucet,1415134458,1415134458,0,0,0,0
86,797959,0,1,0,797915,1,18575207,important Dick Cheney think back apparel,same John F. Kennedy mix down railway,1415139703,1415139703,0,0,0,0
87,797961,0,1,0,797915,1,18623307,large George Bush land only galley,good Aaron Burr hug when guide,1415139862,1415139862,0,0,0,0
88,797963,0,1,0,797915,1,18412037,early Ulysses S. Grant do up guitar,young James Buchanan open up day,1415139889,1415139889,0,0,0,0
89,797967,0,1,0,797915,1,18106147,same Ronald Reagan itch as friction,different James A. Garfield bang now number,1415140063,1415140063,0,0,0,0
90,797975,0,1,0,797915,1,18448593,next Daniel D. Tompkins kick there creature,own Al Gore walk here thing,1415141477,1415141477,0,0,0,0
91,798015,0,1,0,797915,1,18616669,early Adlai E. Stevenson rinse very afterthought,big Joe Biden zip then week,1415144225,1415144225,0,0,0,0
92,798017,0,1,0,797915,1,18620731,,,1415143074,1415144279,0,0,0,0
93,798019,0,1,0,797915,1,18468369,,,1415143087,1415144279,0,0,0,0
94,798021,0,1,0,797915,1,18297899,,,1415143099,1415144279,0,0,0,0
95,798023,0,1,0,797915,1,18732773,,,1415144191,1415144279,0,0,0,0
96,798105,0,1,0,797915,1,18500143,,,1415147036,1415147034,0,0,0,0
97,798141,0,1,0,797915,1,51685163,,,1415148932,1415148928,0,0,0,0
98,798145,0,1,0,797915,1,18650749,great Warren G. Harding ask too plastic,great Woodrow Wilson pass as kitten,1415148993,1415148993,0,0,0,0
99,798149,0,1,0,797915,1,18729869,,,1415149000,1415149053,0,0,0,0
100,798151,0,1,0,797915,1,18309223,,,1415149002,1415149053,0,0,0,0
101,798153,0,1,0,797915,1,18402773,,,1415149056,1415149053,0,0,0,0
102,799093,0,1,0,799091,1,18564205,old Franklin D. Roosevelt say only laborer,last Benjamin Harrison say well education,1415231016,1415231016,0,0,0,0
103,799103,0,1,0,799091,1,18104823,right Abraham Lincoln end as pickle,large Hannibal Hamlin feel here caption,1415231038,1415231038,0,0,0,0
104,799105,0,2,3,799091,1,18556599,new Alben Barkley reach then recess,bad James K. Polk see never guide,1415231050,1415231050,0,0,0,0
105,799121,0,2,3,799091,1,18670755,large Ronald Reagan notice there calculator,large Garret Hobart hang never friction,1415231491,1415231491,0,0,0,0
106,799125,0,2,1,799091,1,18634333,few John Nance Garner work when kitten,little Theodore Roosevelt open only education,1415231593,1415231593,0,0,0,0
107,799137,0,2,3,799091,1,18386557,great Millard Fillmore call only reward,bad Warren G. Harding take there railway,1415232011,1415232011,0,0,0,0
108,897091,0,1,0,897063,1,18229731,young Woodrow Wilson work so wrist,other George Washington bang how case,1415903722,1415903722,0,0,0,0
109,897131,0,1,0,897063,1,18667325,,,1415903733,1415903757,0,0,0,0
110,900999,0,1,0,900973,1,18133301,,,1415907215,1415907209,0,0,0,0
111,901001,0,1,0,900973,1,18410589,,,1415907218,1415907209,0,0,0,0
112,902395,0,1,0,897063,1,18647029,,,1415907900,1415907904,0,0,0,0
113,973873,0,1,0,973861,1,18339197,different Harry S Truman yell down woman,little Abraham Lincoln obey never police,1415995532,1415995532,0,0,0,0
114,973881,0,1,0,973861,1,18632553,high John C. Breckinridge hang still faucet,old Herbert Hoover mix now year,1415995536,1415995536,0,0,0,0
115,973883,0,1,0,973861,1,18460985,public Martin Van Buren kick very fuel,great Charles Fairbanks walk how government,1415995538,1415995538,0,0,0,0
116,989615,0,1,0,973861,1,18462145,,,1416012093,1416012088,0,0,0,0
117,989617,0,1,0,973861,1,18471989,,,1416012096,1416012088,0,0,0,0
118,989619,0,1,0,973861,1,18317151,,,1416012098,1416012088,0,0,0,0
119,1048455,0,1,0,1048453,1,18575223,,,1416157179,1416157194,0,0,0,0
120,1049115,0,1,0,1049113,1,18653767,long Grover Cleveland think too minister,small Harry S Truman yawn only day,1416270779,1416270788,0,0,0,0
121,1049119,0,1,0,1049113,1,18647653,young Levi P. Morton walk when day,first Elbridge Gerry vanish even picture,1416270803,1416270803,0,0,0,0
122,1049121,0,2,0,1049113,0,1416270910,last George W. Bush hang more apparel,good Franklin D. Roosevelt feel just caption,1416270910,1416270910,0,0,0,0
123,1049125,0,2,0,1049113,0,1416270945,little Joe Biden get back heart,great Jimmy Carter kick there picture,1416270945,1416270945,0,0,0,0
124,1049127,0,1,0,1049113,1,18704235,big Warren G. Harding know more lumber,young Daniel D. Tompkins end so able,1416270998,1416271042,0,0,0,0
125,1049135,0,1,0,1049133,1,18434539,,,1416200421,1416271873,0,0,0,0
126,1049137,0,1,0,1049133,1,18643141,,,1416200470,1416271657,0,0,0,0
127,1049141,0,1,0,1049133,1,18648931,,,1416200444,1416272187,0,0,0,0
128,1049147,0,1,0,1049133,1,18752821,,,1416200450,1416271657,0,0,0,0
129,1049151,0,1,0,1049133,1,18169581,,,1416200403,1416271873,0,0,0,0
130,1049153,0,1,0,1049133,1,18188419,,,1416200403,1416271873,0,0,0,0
131,1049155,0,1,0,1049133,1,18563983,,,1416200403,1416271873,0,0,0,0
132,1049159,0,1,0,1049133,1,18623029,,,1416200403,1416271873,0,0,0,0
133,1049161,0,1,0,1049133,1,18632937,,,1416200403,1416271873,0,0,0,0
134,1049171,0,2,0,1049133,1,18705953,big Gerald Ford do more lumber,last Garret Hobart pass when friction,1416272265,1416272265,0,0,0,0
135,1049575,0,1,0,1049573,1,18682959,,,1416327420,1416327404,0,0,0,0
136,1049577,0,1,0,1049573,1,18639445,,,1416327424,1416327404,0,0,0,0
137,1049583,0,1,0,1049573,1,18801407,,,1416327795,1416327783,0,0,0,0
138,1049585,0,1,0,1049573,1,18457577,,,1416327798,1416327783,0,0,0,0
139,1049587,0,1,0,1049573,1,18390259,,,1416327802,1416327783,0,0,0,0
140,1049591,0,1,0,1049573,1,18800567,,,1416328250,1416328235,0,0,0,0
141,1049593,0,1,0,1049573,1,18331835,,,1416328253,1416328235,0,0,0,0
142,1049599,0,1,0,1049597,1,18169581,,,1416286839,1416329217,0,0,0,0
143,1049601,0,1,0,1049597,1,18188419,,,1416286839,1416329217,0,0,0,0
144,1049603,0,1,0,1049597,1,18563983,,,1416286839,1416329217,0,0,0,0
145,1049605,0,1,0,1049597,1,18434539,,,1416286839,1416329217,0,0,0,0
146,1049607,0,1,0,1049597,1,18623029,,,1416286839,1416329217,0,0,0,0
147,1049609,0,1,0,1049597,1,18632937,,,1416286839,1416329217,0,0,0,0
148,1049611,0,1,0,1049597,1,18643141,,,1416286842,1416329217,0,0,0,0
149,1049613,0,1,0,1049573,1,18352025,new James Madison fasten so territory,public Spiro Agnew be as pleasure,1416329616,1416329616,0,0,0,0

In [46]:
visitsItems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18479558 entries, 0 to 18479557
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   user_id        int64
 2   action_id      int64
 3   tool_id        int64
 4   bundle_id      int64
 5   refers_to_id   int64
 6   refers_to_uid  int64
 7   title          object
 8   description    object
 9   created        int64
 10  lastmodified   int64
 11  deleted        int64
 12  status_id      int64
 13  processed      int64
 14  input_id       int64
dtypes: int64(13), object(2)
memory usage: 2.1+ GB

In [50]:
visitsItems.nunique()

id               18479558
user_id              1469
action_id               2
tool_id                17
bundle_id          543828
refers_to_id            6
refers_to_uid      411500
title                 418
description           402
created           9386629
lastmodified      1865142
deleted                13
status_id               3
processed            1199
input_id                4
dtype: int64

In [70]:
visitsItems['created'] = pd.to_datetime(visitsItems['created'], unit='s')
visitsItems['lastmodified'] = pd.to_datetime(visitsItems['lastmodified'], unit='s')
visitsItems['deleted'].replace(0, np.nan, inplace=True)
visitsItems['deleted'] = pd.to_datetime(visitsItems['deleted'], unit='s')
visitsItems['status_id'].replace(0, np.nan, inplace=True)
visitsItems['processed'].replace(0, np.nan, inplace=True)
visitsItems['title'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['description'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['title'] = visitsItems['title'].astype('category')
visitsItems['description'] = visitsItems['description'].astype('category')

In [76]:
visitsItems.tail(150)

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
18479408,132248301,0,1,0,132237999,1,18424997,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479409,132248303,0,1,0,132237999,1,18495005,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479410,132248305,0,1,0,132237999,1,18311839,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479411,132248307,0,1,0,132237999,1,18504603,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479412,132248309,0,1,0,132237999,1,18504599,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479413,132248311,0,1,0,132237999,1,18391759,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479414,132248313,0,1,0,132237999,1,18463863,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479415,132248315,0,1,0,132237999,1,18646717,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479416,132248317,0,1,0,132237999,1,18187993,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479417,132248319,0,1,0,132237999,1,2318793362,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479418,132248321,0,1,0,132237999,1,18312565,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:10,NaT,NaN,NaN,1
18479419,132248323,0,1,0,132237999,1,18646721,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479420,132248325,0,1,0,132237999,1,18559447,NaN,NaN,2020-03-04 21:49:45,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479421,132248327,0,1,0,132237999,1,68862751,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479422,132248329,0,1,0,132237999,1,2318793363,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479423,132248331,0,1,0,132237999,1,18495463,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479424,132248333,0,1,0,132237999,1,18667785,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479425,132248335,0,1,0,132237999,1,18655255,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479426,132248337,0,1,0,132237999,1,2318793768,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,2.0,NaN,1
18479427,132248339,0,1,0,132237999,1,18495145,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479428,132248341,0,1,0,132237999,1,18805613,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479429,132248343,0,1,0,132237999,1,18493251,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479430,132248345,0,1,0,132237999,1,18461437,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479431,132248347,0,1,0,132237999,1,18493249,NaN,NaN,2020-03-04 21:50:01,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479432,132248349,0,1,0,132237999,1,2318800225,NaN,NaN,2020-03-04 22:01:23,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479433,132248351,0,1,0,132237999,1,2318800215,NaN,NaN,2020-03-04 22:01:42,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479434,132248353,0,1,0,132237999,1,2318800212,NaN,NaN,2020-03-04 22:01:44,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479435,132248355,0,1,0,132237999,1,2318800200,NaN,NaN,2020-03-04 22:01:46,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479436,132248357,0,1,0,132237999,1,2318800217,NaN,NaN,2020-03-04 22:02:35,2020-03-04 22:53:11,NaT,NaN,NaN,1
18479437,132248359,0,1,0,132237999,1,2318800218,NaN,NaN,2020-03-04 22:02:43,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479438,132248361,0,1,0,132237999,1,2318800220,NaN,NaN,2020-03-04 22:02:47,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479439,132248363,0,1,0,132237999,1,2318800236,NaN,NaN,2020-03-04 22:03:42,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479440,132248365,0,1,0,132237999,1,907218867,NaN,NaN,2020-03-04 22:03:42,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479441,132248367,0,1,0,132237999,1,907218865,NaN,NaN,2020-03-04 22:03:42,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479442,132248369,0,1,0,132237999,1,1024497523,NaN,NaN,2020-03-04 22:03:46,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479443,132248371,0,1,0,132237999,1,1024497517,NaN,NaN,2020-03-04 22:03:46,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479444,132248373,0,1,0,132237999,1,1024497509,NaN,NaN,2020-03-04 22:03:46,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479445,132248375,0,1,0,132237999,1,1024497503,NaN,NaN,2020-03-04 22:03:46,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479446,132248377,0,1,0,132237999,1,1024497347,NaN,NaN,2020-03-04 22:04:35,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479447,132248379,0,1,0,132237999,1,18728283,NaN,NaN,2020-03-04 22:06:31,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479448,132248381,0,1,0,132237999,1,907215311,NaN,NaN,2020-03-04 22:06:47,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479449,132248383,0,1,0,132237999,1,1108726683,NaN,NaN,2020-03-04 22:06:50,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479450,132248385,0,1,0,132237999,1,2318800228,NaN,NaN,2020-03-04 22:09:26,2020-03-04 22:53:12,NaT,NaN,NaN,1
18479451,132248387,0,1,0,132237999,1,2318800209,NaN,NaN,2020-03-04 22:09:35,2020-03-04 22:53:12,NaT,2.0,NaN,1
18479452,132248389,0,1,0,132237999,1,2318797290,NaN,NaN,2020-03-04 22:11:46,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479453,132248391,0,1,0,132237999,1,2318797289,NaN,NaN,2020-03-04 22:11:46,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479454,132248393,0,1,0,132237999,1,2318797374,NaN,NaN,2020-03-04 22:11:54,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479455,132248395,0,1,0,132237999,1,2318797373,NaN,NaN,2020-03-04 22:11:54,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479456,132248397,0,1,0,132237999,1,2318797341,NaN,NaN,2020-03-04 22:15:03,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479457,132248399,0,1,0,132237999,1,2318797340,NaN,NaN,2020-03-04 22:15:03,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479458,132248401,0,1,0,132237999,1,2318797299,NaN,NaN,2020-03-04 22:15:03,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479459,132248403,0,1,0,132237999,1,2318797316,NaN,NaN,2020-03-04 22:15:21,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479460,132248405,0,1,0,132237999,1,2318797315,NaN,NaN,2020-03-04 22:15:21,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479461,132248407,0,1,0,132237999,1,2318797313,NaN,NaN,2020-03-04 22:15:21,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479462,132248409,0,1,0,132237999,1,2318797293,NaN,NaN,2020-03-04 22:15:21,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479463,132248411,0,1,0,132237999,1,2318797346,NaN,NaN,2020-03-04 22:16:02,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479464,132248413,0,1,0,132237999,1,2318797342,NaN,NaN,2020-03-04 22:16:02,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479465,132248415,0,1,0,132237999,1,2318797348,NaN,NaN,2020-03-04 22:16:02,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479466,132248417,0,1,0,132237999,1,2318797339,NaN,NaN,2020-03-04 22:16:02,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479467,132248419,0,1,0,132237999,1,2318797347,NaN,NaN,2020-03-04 22:16:02,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479468,132248421,0,1,0,132237999,1,2318797343,NaN,NaN,2020-03-04 22:16:11,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479469,132248423,0,1,0,132237999,1,2318797338,NaN,NaN,2020-03-04 22:16:11,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479470,132248425,0,1,0,132237999,1,2318797369,NaN,NaN,2020-03-04 22:16:22,2020-03-04 22:53:13,NaT,NaN,NaN,1
18479471,132248429,0,1,0,132244543,1,68775875,NaN,NaN,2020-03-04 21:30:05,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479472,132248431,0,1,0,132244543,1,18572193,NaN,NaN,2020-03-04 21:30:20,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479473,132248433,0,1,0,132244543,1,2318797122,NaN,NaN,2020-03-04 21:34:26,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479474,132248435,0,1,0,132244543,1,18340047,NaN,NaN,2020-03-04 21:36:08,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479475,132248437,0,1,0,132244543,1,2318798073,NaN,NaN,2020-03-04 21:39:43,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479476,132248439,0,1,0,132244543,1,2318798703,NaN,NaN,2020-03-04 21:40:03,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479477,132248441,0,1,0,132244543,1,2318798701,NaN,NaN,2020-03-04 21:40:03,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479478,132248443,0,1,0,132244543,1,2318793610,NaN,NaN,2020-03-04 21:45:59,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479479,132248445,0,1,0,132244543,1,2318800182,NaN,NaN,2020-03-04 21:59:53,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479480,132248447,0,1,0,132244543,1,2318800188,NaN,NaN,2020-03-04 21:59:57,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479481,132248449,0,1,0,132244543,1,2318800190,NaN,NaN,2020-03-04 21:59:58,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479482,132248451,0,1,0,132244543,1,2318800195,NaN,NaN,2020-03-04 22:00:06,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479483,132248453,0,1,0,132244543,1,2318800214,NaN,NaN,2020-03-04 22:02:07,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479484,132248455,0,1,0,132244543,1,941157761,NaN,NaN,2020-03-04 22:02:24,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479485,132248457,0,1,0,132244543,1,2318800221,NaN,NaN,2020-03-04 22:02:26,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479486,132248459,0,1,0,132244543,1,2318800220,NaN,NaN,2020-03-04 22:02:35,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479487,132248461,0,1,0,132244543,1,2318800218,NaN,NaN,2020-03-04 22:02:40,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479488,132248463,0,1,0,132244543,1,2318800217,NaN,NaN,2020-03-04 22:02:42,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479489,132248465,0,1,0,132244543,1,18728283,NaN,NaN,2020-03-04 22:06:37,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479490,132248467,0,1,0,132244543,1,2318800227,NaN,NaN,2020-03-04 22:06:46,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479491,132248469,0,1,0,132244543,1,1108726683,NaN,NaN,2020-03-04 22:07:35,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479492,132248471,0,1,0,132244543,1,991174317,NaN,NaN,2020-03-04 22:07:46,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479493,132248473,0,1,0,132244543,1,991174319,NaN,NaN,2020-03-04 22:07:48,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479494,132248475,0,1,0,132244543,1,2318800228,NaN,NaN,2020-03-04 22:09:09,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479495,132248477,0,1,0,132244543,1,2318800209,NaN,NaN,2020-03-04 22:09:16,2020-03-04 22:53:19,NaT,2.0,NaN,1
18479496,132248479,0,1,0,132244543,1,2318800187,NaN,NaN,2020-03-04 22:09:19,2020-03-04 22:53:19,NaT,NaN,NaN,1
18479497,132248481,0,1,0,132244543,1,2318797290,NaN,NaN,2020-03-04 22:10:59,2020-03-04 22:53:20,NaT,NaN,NaN,1
18479498,132248483,0,1,0,132244543,1,2318797289,NaN,NaN,2020-03-04 22:10:59,2020-03-04 22:53:20,NaT,NaN,NaN,1
18479499,132248489,0,1,0,132244519,1,18572193,NaN,NaN,2020-03-04 21:25:16,2020-03-04 22:53:29,NaT,NaN,NaN,1
18479500,132248491,0,1,0,132244519,1,18564453,NaN,NaN,2020-03-04 21:28:41,2020-03-04 22:53:29,NaT,NaN,NaN,1
18479501,132248493,0,1,0,132244519,1,18564449,NaN,NaN,2020-03-04 21:28:41,2020-03-04 22:53:29,NaT,NaN,NaN,1
18479502,132249937,0,2,11,131348389,0,1583374899,My Hat,Made at Cooper Hewitt Museum using a Collectio...,2020-03-05 02:21:39,2020-03-05 02:21:39,NaT,NaN,NaN,3
18479503,132253051,0,1,0,132253047,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-03-05 21:29:10,NaT,NaN,NaN,1
18479504,132498397,0,1,0,132498395,1,18165899,NaN,NaN,2020-04-22 16:46:24,2020-04-22 20:51:29,NaT,NaN,NaN,1
18479505,132498401,0,1,0,132498395,1,18621649,NaN,NaN,2020-04-22 16:46:24,2020-04-22 20:54:09,NaT,NaN,NaN,1
18479506,132498405,0,1,0,132498395,1,18621651,NaN,NaN,2020-04-22 16:46:24,2020-04-22 20:54:25,NaT,NaN,NaN,1
18479507,132498419,0,1,0,132498415,1,18369741,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:01:15,NaT,NaN,NaN,1
18479508,132498421,0,1,0,132498415,1,18621651,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:01:15,NaT,NaN,NaN,1
18479509,132498423,0,1,0,132498415,1,18651099,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:01:15,NaT,NaN,NaN,1
18479510,132498427,28814,1,0,132498415,1,18369741,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:02:47,NaT,NaN,NaN,1
18479511,132498429,28814,1,0,132498415,1,18621651,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:02:47,NaT,NaN,NaN,1
18479512,132498431,28814,1,0,132498415,1,18651099,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:02:47,NaT,NaN,NaN,1
18479513,132498433,28814,1,0,132498415,1,18619061,NaN,NaN,2020-04-22 16:46:24,2020-04-22 22:02:47,NaT,NaN,NaN,1
18479514,132721701,247,2,13,4631233,0,1592416092,My Lamp,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 17:48:12,2020-06-17 17:48:12,NaT,NaN,NaN,3
18479515,132722359,247,2,14,4631233,0,1592430623,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 21:50:23,2020-06-17 21:50:23,NaT,NaN,NaN,3
18479516,132722367,247,2,15,4631233,0,1592430831,My Free Form Object,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 21:53:51,2020-06-17 21:53:51,NaT,NaN,NaN,3
18479517,132722373,247,2,16,4631233,0,1592430969,My Vase,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 21:56:09,2020-06-17 21:56:09,NaT,NaN,NaN,3
18479518,132722377,247,2,13,4631233,0,1592431521,My Lamp,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:05:21,2020-06-17 22:05:21,NaT,NaN,NaN,3
18479519,132722381,247,2,14,4631233,0,1592431915,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:11:55,2020-06-17 22:11:55,NaT,NaN,NaN,3
18479520,132722385,247,2,14,4631233,0,1592431936,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:12:16,2020-06-17 22:12:16,NaT,NaN,NaN,3
18479521,132722389,247,2,14,4631233,0,1592431989,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:13:09,2020-06-17 22:13:09,NaT,NaN,NaN,3
18479522,132722393,247,2,16,4631233,0,1592432018,My Vase,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:13:38,2020-06-17 22:13:38,NaT,NaN,NaN,3
18479523,132722399,247,1,0,4631233,1,18400931,NaN,NaN,2020-06-17 22:24:32,2020-06-17 22:24:32,NaT,NaN,NaN,1
18479524,132722401,247,1,0,4631233,1,18471365,NaN,NaN,2020-06-17 22:24:32,2020-06-17 22:24:32,NaT,NaN,NaN,1
18479525,132722403,247,1,0,4631233,1,18699371,NaN,NaN,2020-06-17 22:24:32,2020-06-17 22:24:32,NaT,NaN,NaN,1
18479526,132722405,247,1,0,4631233,1,18423521,NaN,NaN,2020-06-17 22:24:32,2020-06-17 22:24:32,NaT,NaN,NaN,1
18479527,132722407,247,1,0,4631233,1,18801209,NaN,NaN,2020-06-17 22:24:32,2020-06-17 22:24:32,NaT,NaN,NaN,1
18479528,132722411,247,2,16,4631233,0,1592432685,My Vase,Made at Cooper Hewitt Museum using a Collectio...,2020-06-17 22:24:45,2020-06-17 22:24:45,NaT,NaN,NaN,3
18479529,132731805,247,2,12,4631233,0,1592497712,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-06-18 16:28:32,2020-06-18 16:28:32,NaT,NaN,NaN,3
18479530,132731811,247,2,14,4631233,0,1592498010,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-18 16:33:30,2020-06-18 16:33:30,NaT,NaN,NaN,3
18479531,132731815,247,2,14,4631233,0,1592498167,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-06-18 16:36:07,2020-06-18 16:36:07,NaT,NaN,NaN,3
18479532,132731821,247,2,10,4631233,0,1592498870,My Building,Made at Cooper Hewitt Museum using a Collectio...,2020-06-18 16:47:50,2020-06-18 16:47:50,NaT,NaN,NaN,3
18479533,132731833,247,1,0,4631233,1,18478805,NaN,NaN,2020-06-18 18:15:51,2020-06-18 18:15:51,NaT,NaN,NaN,2
18479534,132731835,247,2,10,4631233,0,1592504172,My Building,Made at Cooper Hewitt Museum using a Collectio...,2020-06-18 18:16:12,2020-06-18 18:16:12,NaT,NaN,NaN,3
18479535,132740745,247,2,3,1586155,0,1592848129,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-06-22 17:48:49,2020-06-22 17:48:49,NaT,NaN,NaN,3
18479536,132740755,247,2,3,1586155,0,1592848867,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-06-22 18:01:07,2020-06-22 18:01:07,NaT,NaN,NaN,3
18479537,132740763,247,2,3,1586155,0,1592850557,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-06-22 18:29:17,2020-06-22 18:29:17,NaT,NaN,NaN,3
18479538,132740767,247,2,3,4631233,0,1592850916,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-06-22 18:35:16,2020-06-22 18:35:16,NaT,NaN,NaN,3
18479539,132770945,0,1,0,132770929,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-01 18:22:44,NaT,NaN,NaN,1
18479540,132770999,0,1,0,132770927,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-01 21:09:54,NaT,NaN,NaN,1
18479541,132771007,0,1,0,132770927,1,18165890,NaN,NaN,2019-12-16 21:46:24,2020-07-01 21:17:27,NaT,1.0,NaN,1
18479542,132777665,0,1,0,132777659,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-02 17:19:11,NaT,NaN,NaN,1
18479543,132777687,0,1,0,132777683,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-02 20:22:39,NaT,NaN,NaN,1
18479544,132794705,0,1,0,132794701,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-06 17:42:37,NaT,NaN,NaN,1
18479545,132806723,0,1,0,132806719,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-09 13:12:38,NaT,NaN,NaN,1
18479546,132806731,0,1,0,132806727,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-09 13:16:52,NaT,NaN,NaN,1
18479547,132806739,0,1,0,132806735,1,18165899,NaN,NaN,2019-12-16 21:46:24,2020-07-09 13:20:09,NaT,NaN,NaN,1
18479548,132873369,247,2,12,4631233,0,1595444752,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 19:05:52,2020-07-22 19:05:52,NaT,NaN,NaN,3
18479549,132873381,247,2,14,4631233,0,1595445391,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 19:16:31,2020-07-22 19:16:31,NaT,NaN,NaN,3
18479550,132873389,0,2,16,132794701,0,1595447918,My Vase,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 19:58:38,2020-07-22 19:58:38,NaT,NaN,NaN,3
18479551,132873393,28814,2,11,132794701,0,1595448191,My Hat,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:03:11,2020-07-22 20:03:11,NaT,NaN,NaN,3
18479552,132873397,28814,2,11,132794701,0,1595448288,My Hat,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:04:48,2020-07-22 20:04:48,NaT,NaN,NaN,3
18479553,132873405,0,2,12,132777661,0,1595449503,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:25:03,2020-07-22 20:25:03,NaT,NaN,NaN,3
18479554,132873409,28814,2,12,132777661,0,1595449610,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:26:50,2020-07-22 20:26:50,NaT,NaN,NaN,3
18479555,132873413,28814,2,12,132777661,0,1595449666,My Table,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:27:46,2020-07-22 20:27:46,NaT,NaN,NaN,3
18479556,132873417,28814,2,3,132777661,0,1595450275,My Wallpaper,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:37:55,2020-07-22 20:37:55,NaT,NaN,NaN,3
18479557,132873427,28814,2,14,132777661,0,1595451288,My Chair,Made at Cooper Hewitt Museum using a Collectio...,2020-07-22 20:54:48,2020-07-22 20:54:48,NaT,NaN,NaN,3

In [49]:
visitsItems.sample()

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
17327991,128355269,0,1,0,128353983,1,2318798856,NaN,NaN,2019-06-26 18:17:22,2019-06-26 19:03:31,NaT,NaN,NaN,1

In [50]:
visitsItemsRenditions

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
0,793457,793455,0,,1414081615,1414081615,0,793449
1,793461,793459,3,,1414081679,1414081679,0,793449
2,793497,793495,3,,1414093016,1414093016,0,793449
3,793501,793499,3,,1414094034,1414094034,0,793449
4,793669,793667,3,,1414188096,1414188096,0,793571
...,...,...,...,...,...,...,...,...
365304,132873407,132873405,0,,1595449504,1595449504,0,132777661
365305,132873411,132873409,28814,,1595449610,1595449610,0,132777661
365306,132873415,132873413,28814,,1595449666,1595449666,0,132777661
365307,132873419,132873417,28814,,1595450275,1595450275,0,132777661
365308,132873429,132873427,28814,,1595451289,1595451289,0,132777661

In [51]:
visitsItemsRenditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365309 entries, 0 to 365308
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            365309 non-null  int64
 1   source_id     365309 non-null  int64
 2   user_id       365309 non-null  int64
 3   size          365309 non-null  object
 4   created       365309 non-null  int64
 5   lastmodified  365309 non-null  int64
 6   deleted       365309 non-null  int64
 7   bundle_id     365309 non-null  int64
dtypes: int64(7), object(1)
memory usage: 22.3+ MB

In [52]:
visitsItemsRenditions['created'] = pd.to_datetime(visitsItemsRenditions['created'], unit='s')
visitsItemsRenditions['lastmodified'] = pd.to_datetime(visitsItemsRenditions['lastmodified'], unit='s')
visitsItemsRenditions['deleted'].replace(0, np.nan, inplace=True)
visitsItemsRenditions['deleted'] = pd.to_datetime(visitsItemsRenditions['deleted'], unit='s')
visitsItemsRenditions['size'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)

In [53]:
visitsItemsRenditions.sample()
#source_id
#size

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
88181,92287437,92287435,0,NaN,2016-01-09 21:18:03,2016-01-09 21:18:03,NaT,92281621

In [4]:
visitsStats

              id        date            stat   count
0        3176623  2015-03-10       checkouts   293.0
1        3176625  2015-03-10        checkins   229.0
2        3176627  2015-03-10         created   152.0
3        3176629  2015-03-10       collected  7650.0
4        3176631  2015-03-10     did_nothing    50.0
...          ...         ...             ...     ...
12547  133773835  2020-12-22        checkins     0.0
12548  133773837  2020-12-22         created     0.0
12549  133773839  2020-12-22       collected     0.0
12550  133773841  2020-12-22     did_nothing     0.0
12551  133773843  2020-12-22  avg_time_spent     0.0

[12552 rows x 4 columns]

In [55]:
visitsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12552 entries, 0 to 12551
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12552 non-null  int64
 1   date    12552 non-null  object
 2   stat    12552 non-null  object
 3   count   12552 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 392.4+ KB

In [56]:
visitsStats.nunique()

id       12552
date      2092
stat         6
count     4153
dtype: int64

In [57]:
visitsStats['date'] = pd.to_datetime(visitsStats['date'])
visitsStats['count'].replace(0, np.nan, inplace=True)
visitsStats['count'] = visitsStats['count'].astype(float)
visitsStats['stat'] = visitsStats['stat'].astype('category')

In [58]:
visitsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12552 entries, 0 to 12551
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12552 non-null  int64
 1   date    12552 non-null  datetime64[ns]
 2   stat    12552 non-null  category
 3   count   10380 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 306.8 KB

In [93]:
visits.sample(50)
#visit id... 
#paired?
#ip..
#exported?

,id,shortcode,user_id,created,lastmodified,registered,expires,paired,ticket,deleted,created_ip,registered_ip,paired_ip,processed,purchased_by_user_id,note,exported,first_accessed,ignore_first_accessed,title
45310,85797849,y7rx,0,2015-06-29 21:21:30,2016-02-23 23:08:33,2015-06-29 21:21:30,0,NaT,"{""status"":""Attendance recorded for ticket: 121...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
32598,5323787,dmqqs,0,2015-05-23 14:07:59,2016-02-23 23:05:33,2015-05-23 14:08:00,0,NaT,"{""status"":""Attendance recorded for ticket: 105...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
519591,123556441,whjs,0,2018-06-02 15:27:48,2018-06-02 15:27:49,2018-06-02 15:27:49,0,NaT,"{""status"":""Attendance recorded for ticket: 692...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648267,128778051,b2jm,0,2019-07-19 17:06:31,2019-07-19 17:06:33,2019-07-19 17:06:33,0,NaT,"{""status"":""Attendance recorded for ticket: 854...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219492,102375401,2xh5p,0,2016-06-17 15:04:13,2016-06-17 20:38:47,2016-06-17 20:38:47,0,NaT,"{""status"":""Attendance recorded for ticket: 320...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243565,105129767,xtdg,0,2016-07-22 17:47:56,2016-07-22 17:47:56,NaT,0,NaT,"{""ticket_id"":""348282"",""shortcode"":""xtdg"",""perf...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609143,126953593,x74rt,0,2019-02-25 17:35:54,2019-02-25 17:35:54,NaT,0,NaT,"{""ticket_id"":""804281"",""shortcode"":""x74rt"",""per...",NaT,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326547,111122121,dmwpp,0,2016-12-26 16:33:18,2016-12-26 16:33:19,2016-12-26 16:33:19,0,NaT,"{""status"":""Attendance recorded for ticket: 444...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435569,118935205,j2r2x,0,2017-09-01 20:05:03,2017-09-01 20:05:03,NaT,0,NaT,"{""ticket_id"":""584822"",""shortcode"":""j2r2x"",""per...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144512,94132585,gw252,0,2016-02-23 18:41:03,2016-02-23 23:33:49,2016-02-23 18:41:04,0,NaT,"{""status"":""Attendance recorded for ticket: 233...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
247295,105536323,2m366,0,2016-07-26 17:11:17,2016-07-26 18:27:00,2016-07-26 17:11:18,0,NaT,"{""status"":""Attendance recorded for ticket: 352...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.469558e+09,NaN,NaN
348350,112285611,fsz5z,0,2017-02-10 17:10:13,2017-02-10 17:10:14,2017-02-10 17:10:14,0,NaT,"{""status"":""Attendance recorded for ticket: 470...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560263,125051319,zc4rq,0,2018-09-02 19:20:25,2018-09-03 13:15:23,2018-09-02 19:20:26,0,NaT,"{""status"":""Attendance recorded for ticket: 740...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,1.535981e+09,NaN,NaN
190596,99278875,vj6mp,12670,2016-05-02 17:39:23,2016-05-03 02:06:26,2016-05-02 17:39:24,0,2016-05-03 02:06:18,"{""status"":""Attendance recorded for ticket: 286...",NaT,6.458940e+08,6.458940e+08,1.212507e+09,1.462241e+09,NaN,NaN,NaN,1.462241e+09,NaN,NaN
611385,127043125,cw6bg,0,2019-03-07 15:10:11,2019-03-07 15:12:42,2019-03-07 15:12:42,0,NaT,"{""status"":""Attendance recorded for ticket: 807...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470753,121124371,2y2gj,0,2017-12-28 20:02:42,2017-12-28 20:02:44,2017-12-28 20:02:43,0,NaT,"{""status"":""Attendance recorded for ticket: 629...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88493,89416935,5r6vw,0,2015-10-24 18:30:01,2016-02-23 23:19:02,2015-10-24 18:30:03,0,NaT,"{""status"":""Attendance recorded for ticket: 168...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
249198,105849131,dxgb,0,2016-07-29 19:20:20,2016-07-29 19:20:20,NaT,0,NaT,"{""ticket_id"":""354801"",""shortcode"":""dxgb"",""perf...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115582,91565177,jdwh,0,2015-12-27 17:15:14,2016-02-23 23:26:14,2015-12-27 17:15:15,0,NaT,"{""status"":""Attendance recorded for ticket: 200...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
113968,91428767,qxzc,0,2015-12-23 20:14:38,2016-02-23 23:25:47,2015-12-23 20:14:39,0,NaT,"{""status"":""Attendance recorded for ticket: 198...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
415792,117136941,pj35v,0,2017-07-20 18:42:03,2017-07-20 18:42:05,2017-07-20 18:42:04,0,NaT,"{""status"":""Attendance recorded for ticket: 558...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260904,107258635,dx3n2,0,2016-08-13 20:05:24,2016-08-13 20:05:25,2016-08-13 20:05:25,0,NaT,"{""status"":""Attendance recorded for ticket: 367...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
359167,112874599,dsfw,0,2017-03-05 19:13:17,2017-03-05 19:13:18,2017-03-05 19:13:18,0,NaT,"{""status"":""Attendance recorded for ticket: 484...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23648,4693067,mm3n,0,2015-05-01 19:41:04,2016-02-23 23:03:23,2015-05-01 19:41:05,0,NaT,"{""status"":""Attendance recorded for ticket: 934...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
366289,113239131,xnkwq,0,2017-03-25 22:10:35,2017-03-25 22:10:37,2017-03-25 22:10:36,0,NaT,"{""status"":""Attendance recorded for ticket: 492...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484168,121936973,jgrrq,0,2018-02-07 20:06:06,2018-02-07 20:06:08,2018-02-07 20:06:07,0,NaT,"{""status"":""Attendance recorded for ticket: 644...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143517,93984937,nch5,0,2016-02-21 17:11:54,2016-02-23 23:33:35,2016-02-21 17:11:55,0,NaT,"{""status"":""Attendance recorded for ticket: 232...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
434115,118846839,yd2tp,0,2017-08-27 16:20:57,2017-08-27 18:12:05,2017-08-27 16:20:58,0,NaT,"{""status"":""Attendance recorded for ticket: 583...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.503858e+09,NaN,NaN
468078,120973305,qv36j,0,2017-12-23 20:52:23,2018-01-02 13:14:32,NaT,0,NaT,"{""ticket_id"":""625749"",""shortcode"":""qv36j"",""per...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.514899e+09,NaN,NaN
18525,4361533,4ylh,0,2015-04-19 15:45:24,2017-03-07 14:47:20,2015-04-19 15:45:25,0,NaT,"{""status"":""Attendance recorded for ticket: 866...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.488898e+09,1.0,NaN
122311,92065729,4v65,0,2016-01-03 15:35:14,2017-03-07 13:46:44,2016-01-03 15:35:15,0,NaT,"{""status"":""Attendance recorded for ticket: 207...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.488894e+09,1.0,NaN
703206,131552095,zccb6,0,2020-01-13 17:23:21,2020-01-13 17:23:23,2020-01-13 17:23:23,0,NaT,"{""status"":""Attendance recorded for ticket: 923...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640453,128361525,43nws,0,2019-06-27 14:02:37,2019-06-27 14:02:38,2019-06-27 14:02:38,0,NaT,"{""status"":""Attendance recorded for ticket: 845...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524795,123673901,q6rsn,0,2018-06-16 16:29:28,2018-06-16 16:29:29,2018-06-16 16:29:29,0,NaT,"{""status"":""Attendance recorded for ticket: 699...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422710,117800955,bg2jt,0,2017-08-03 17:33:49,2017-08-03 17:33:50,2017-08-03 17:33:50,0,NaT,"{""status"":""Attendance recorded for ticket: 567...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465960,120834145,bd5g5,0,2017-12-16 16:19:57,2017-12-16 16:19:58,2017-12-16 16:19:58,0,NaT,"{""status"":""Attendance recorded for ticket: 623...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
517418,123476353,rxt5s,0,2018-05-27 19:01:14,2018-05-27 19:01:14,NaT,0,NaT,"{""ticket_id"":""690059"",""shortcode"":""rxt5s"",""per...",NaT,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347121,112203849,kwsg,0,2017-02-05 17:01:59,2017-02-05 17:02:00,2017-02-05 17:02:00,0,NaT,"{""status"":""Attendance recorded for ticket: 468...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461187,120468353,pfsy,0,2017-11-24 20:28:26,2017-11-24 20:28:26,NaT,0,NaT,"{""ticket_id"":""616299"",""shortcode"":""pfsy"",""perf...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575082,125597821,26kb,0,2018-10-17 14:10:03,2018-10-17 14:10:05,2018-10-17 14:10:04,0,NaT,"{""status"":""Attendance recorded for ticket: 761...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432169,118697047,sy66c,0,2017-08-20 20:16:22,2017-08-20 20:16:23,2017-08-20 20:16:23,0,NaT,"{""status"":""Attendance recorded for ticket: 580...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580718,125780155,z66rz,0,2018-10-30 19:27:21,2018-10-30 19:27:22,2018-10-30 19:27:22,0,NaT,"{""status"":""Attendance recorded for ticket: 769...",NaT,2.691693e+09,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14027,4092479,xyy6,0,2015-04-09 20:27:15,2016-02-23 23:00:59,2015-04-09 20:27:16,0,NaT,"{""status"":""Attendance recorded for ticket: 803...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
381516,114318799,pk3gv,0,2017-04-27 17:32:02,2017-04-28 15:43:28,2017-04-27 17:32:03,0,NaT,"{""status"":""Attendance recorded for ticket: 512...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.493394e+09,NaN,NaN
218994,102308761,3rpz,0,2016-06-16 16:52:39,2017-03-07 23:29:57,NaT,0,NaT,"{""ticket_id"":""320284"",""shortcode"":""3rpz"",""perf...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,1.488929e+09,NaN,NaN
242026,104939737,tqq3x,0,2016-07-19 21:47:30,2016-07-19 21:47:30,NaT,0,NaT,"{""ticket_id"":""345662"",""shortcode"":""tqq3x"",""per...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447995,119557329,c2dn6,0,2017-10-08 18:24:35,2017-10-08 18:24:35,NaT,0,NaT,"{""ticket_id"":""599178"",""shortcode"":""c2dn6"",""per...",NaT,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432106,118691829,fs3t,0,2017-08-20 19:36:14,2017-08-20 20:56:39,2017-08-20 19:36:15,0,NaT,"{""status"":""Attendance recorded for ticket: 580...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,1.503263e+09,NaN,NaN
341134,111927441,zkw5d,0,2017-01-20 20:21:35,2017-01-20 20:21:36,2017-01-20 20:21:36,0,NaT,"{""status"":""Attendance recorded for ticket: 461...",NaT,6.458940e+08,6.458940e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626156,127640607,7fvr,0,2019-05-05 00:07:10,2019-05-05 00:07:10,NaT,0,NaT,"{""ticket_id"":""825684"",""shortcode"":""7fvr"",""perf...",NaT,2.691693e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
visitsItems.sample()
#refer to id? vs refer to uid?
#status id? 
#processed?
#description/ title...

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
2481113,90066327,0,1,0,90057511,1,68730187,NaN,NaN,2015-11-11 18:03:22,2015-11-11 18:30:59,NaT,NaN,NaN,1

In [ ]:
visitsItemsRenditions
#source_id
#size

In [ ]:
visitsStats
#visit id? i guess so...

In [91]:
visitsStats.loc[visitsStats['id'] == 111810921]

Empty DataFrame
Columns: [id, date, stat, count]
Index: []