In [1]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

pens = pd.read_sql('SELECT * FROM Pens', con=db_connection)
pensActivity = pd.read_sql('SELECT * FROM PensActivity', con=db_connection)
pensCheckouts = pd.read_sql('SELECT * FROM PensCheckouts', con=db_connection)
pensRegisters = pd.read_sql('SELECT * FROM PensRegisters', con=db_connection)

projectsComponents = pd.read_sql('SELECT * FROM ProjectsComponents', con=db_connection)
projectsComponentsStats = pd.read_sql('SELECT * FROM ProjectsComponentsStats', con=db_connection)
projectsQueue = pd.read_sql('SELECT * FROM ProjectsQueue', con=db_connection)
projectsStats = pd.read_sql('SELECT * FROM ProjectsStats', con=db_connection)

visits = pd.read_sql('SELECT * FROM Visits', con=db_connection)
visitsItems = pd.read_sql('SELECT * FROM VisitsItems', con=db_connection)
visitsItemsRenditions = pd.read_sql('SELECT * FROM VisitsItemsRenditions', con=db_connection)
visitsStats = pd.read_sql('SELECT * FROM VisitsStats', con=db_connection)

In [3]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 50)

# Pens

In [4]:
pens

,id,registered_by_user_id,registered_by_api_key,registered,lastmodified,disabled,retired,note,uid,retired_by_user_id,disabled_by_user_id
0,1,3,777677,1400774840,1422660097,1422660097,1422660097,millerfox,6b6bb53fb257abdf,3,3
1,2,3,777677,1400774849,1422660255,1422660255,0,millerfox,533dcbd9d4ed45f0,0,3
2,3,3,777677,1400774873,1416008045,0,0,millerfox,fc83486cd48f21d5,0,0
3,4,3,777677,1400774879,1416008045,0,0,millerfox,29835c28eed2bf63,0,0
4,5,3,777677,1400774889,1416008045,0,0,millerfox,c780a4881f6e3d2a,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3251,3860045,3,0,1428088147,0,0,0,production 20150301,91FF826F14002000,0,0
3252,3860047,3,0,1428088147,0,0,0,production 20150301,91FF826F02001200,0,0
3253,3860067,3,0,1428088147,0,0,0,production 20150301,595F836F13000900,0,0
3254,3860071,3,0,1428088147,0,0,0,production 20150301,91FF826F19001100,0,0
3255,3860073,3,0,1428088148,0,0,0,production 20150301,90FF826F12000300,0,0

In [5]:
pens.nunique()

id                       3256
registered_by_user_id       1
registered_by_api_key       4
registered                101
lastmodified               99
disabled                    3
retired                     2
note                       14
uid                      3256
retired_by_user_id          2
disabled_by_user_id         2
dtype: int64

In [6]:
pens['note'] = pens['note'].astype('category')
pens['registered'].replace(0, np.nan, inplace=True)
pens['registered'] = pd.to_datetime(pens['registered'], unit='s')
pens['lastmodified'].replace(0, np.nan, inplace=True)
pens['lastmodified'] = pd.to_datetime(pens['lastmodified'], unit='s')
pens['disabled'].replace(0, np.nan, inplace=True)
pens['disabled'] = pd.to_datetime(pens['disabled'], unit='s')
pens['retired'].replace(0, np.nan, inplace=True)
pens['retired'] = pd.to_datetime(pens['retired'], unit='s')

In [7]:
pens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3256 entries, 0 to 3255
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3256 non-null   int64
 1   registered_by_user_id  3256 non-null   int64
 2   registered_by_api_key  3256 non-null   int64
 3   registered             3256 non-null   datetime64[ns]
 4   lastmodified           2985 non-null   datetime64[ns]
 5   disabled               2 non-null      datetime64[ns]
 6   retired                1 non-null      datetime64[ns]
 7   note                   3256 non-null   category
 8   uid                    3256 non-null   object
 9   retired_by_user_id     3256 non-null   int64
 10  disabled_by_user_id    3256 non-null   int64
dtypes: category(1), datetime64[ns](4), int64(5), object(1)
memory usage: 258.4+ KB

In [8]:
pensActivity

,visit_id,pen_id,fingerprint,activity,notes,status_id,created,lastmodified,time_to_process,count_items
0,111057315,1523553,0000073353b61015286a1081177d54018f55a2d2,"{""pen_uid"":""595f836f22001100"",""initial_time_st...",,1,1482439297,1482439297,194,17
1,98812017,1524619,0000122f8bf81964879f86637a9e0a28521c6126,"{""pen_uid"":""90ff826f08002000"",""initial_time_st...",,1,1461787824,1461787824,73,2
2,102871529,1524263,000016da2244dc29379c7a71986363eb428846ab,"{""collection"":[{""record_data"":""chsdm:o:1870348...",,1,1466792064,1466792067,2077,64
3,99701631,1519801,000033580a46e59a46f1076274c1c0c36567b0fa,"{""pen_uid"":""55db816f09000800"",""initial_time_st...",,1,1462739295,1462739295,292,9
4,129941023,1524009,00003bfe6ec8ec54d827825b26e3157e8d28f396,"{""collection"":[{""record_data"":""chsdm:o:2318798...",,1,1569521869,1569521869,373,25
...,...,...,...,...,...,...,...,...,...,...
892208,118818353,1520423,ffffeb40d1d6531748343435eecee110635ecac8,"{""collection"":[{""record_data"":""chsdm:o:1108754...",,1,1503773893,1503773895,1220,50
892209,85636441,1523761,ffffecac0577696fde837b109f1f2e30e5fc4f52,"{""pen_uid"":""595f836f25000c00"",""initial_time_st...",,1,1435165543,1435165543,1586,74
892210,85594539,1526729,fffff655947e2207d0ff402af08e09b1dd5d525e,"{""pen_uid"":""595f836f1b000c00"",""initial_time_st...",,1,1434920601,1434920601,68,4
892211,94698077,1525817,fffffaa9abf2ff097af71514f2e0959dad9d089c,"{""pen_uid"":""595f836f21002200"",""initial_time_st...",,1,1457125598,1457125598,271,1
892212,90900509,1523019,fffffe26e1e5e627dd101245e1c3a1a7781c5421,"{""pen_uid"":""595f836f17002500"",""initial_time_st...",,1,1449364649,1449364650,680,9

In [9]:
pensActivity['created'] = pd.to_datetime(pensActivity['created'], unit='s')
pensActivity['lastmodified'] = pd.to_datetime(pensActivity['lastmodified'], unit='s')
pensActivity['notes'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
pensActivity['notes'] = pensActivity['notes'].astype('category')

In [10]:
pensActivity.nunique()

visit_id           528818
pen_id               3010
fingerprint        892213
activity           892202
notes                   5
status_id               2
created            880513
lastmodified       880825
time_to_process      8744
count_items           673
dtype: int64

In [11]:
pensActivity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892213 entries, 0 to 892212
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   visit_id         892213 non-null  int64
 1   pen_id           892213 non-null  int64
 2   fingerprint      892213 non-null  object
 3   activity         892213 non-null  object
 4   notes            8 non-null       category
 5   status_id        892213 non-null  int64
 6   created          892213 non-null  datetime64[ns]
 7   lastmodified     892213 non-null  datetime64[ns]
 8   time_to_process  892213 non-null  int64
 9   count_items      892213 non-null  int64
dtypes: category(1), datetime64[ns](2), int64(5), object(2)
memory usage: 62.1+ MB

In [12]:
pensCheckouts

,id,pen_id,visit_id,start,end,start_ip,end_ip
0,68762351,8,793401,1414078611,1414197882,0,0
1,68762353,3,793449,1414081542,1414197882,0,0
2,68764535,9,793527,1414116299,1414197882,0,0
3,68764585,2,793571,1414163123,1414432409,0,0
4,68764655,7,793681,1414195339,1414432409,0,0
...,...,...,...,...,...,...,...
556332,132777685,1520099,132777683,1593721348,1593721364,1198074958,1198074958
556333,132794703,1520099,132794701,1594057338,1594057380,1198074958,1198074958
556334,132806721,1520099,132806719,1594300348,1594300366,1198074958,1198074958
556335,132806729,1520099,132806727,1594300601,1594300620,1198074958,1198074958
556336,132806737,1520099,132806735,1594300803,1594300815,1198074958,1198074958

In [13]:
pensCheckouts['start'] = pd.to_datetime(pensCheckouts['start'], unit='s')
pensCheckouts['end'] = pd.to_datetime(pensCheckouts['end'], unit='s')
pensCheckouts['start_ip'].replace(0, np.nan, inplace=True)
pensCheckouts['end_ip'].replace(0, np.nan, inplace=True)
pensCheckouts['start_ip'] = pensCheckouts['start_ip'].astype('category')
pensCheckouts['end_ip'] = pensCheckouts['end_ip'].astype('category')

In [14]:
pensCheckouts.nunique()

id          556337
pen_id        3032
visit_id    544582
start       552078
end         509344
start_ip        25
end_ip          19
dtype: int64

In [15]:
pensRegisters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891118 entries, 0 to 891117
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         891118 non-null  int64
 1   pen_id     891118 non-null  int64
 2   visit_id   891118 non-null  int64
 3   registers  891118 non-null  object
 4   created    891118 non-null  int64
dtypes: int64(4), object(1)
memory usage: 34.0+ MB

In [16]:
pensRegisters['created'] = pd.to_datetime(pensRegisters['created'], unit='s')
pensRegisters['registers'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
pensRegisters['registers'].replace('None', np.NaN, regex=True, inplace=True)

In [17]:
pensRegisters.head(50)

,id,pen_id,visit_id,registers,created
0,0,1523211,1652511,"{""company"":""0x0"",""low_battery_level_reached_si...",2015-03-07 03:44:22
1,793417,8,793401,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-10-23 15:45:29
2,796509,6,796261,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-03 21:35:45
3,797847,9,797837,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-04 20:33:11
4,798025,7,797915,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-04 23:37:59
5,798107,10,797915,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 00:23:54
6,798143,10,797915,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 00:55:28
7,798155,2,797915,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 00:57:33
8,798163,10,798159,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 00:59:28
9,798167,10,798159,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 01:02:33
10,798257,10,798159,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-05 16:23:18
11,798325,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 17:42:52
12,798869,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 21:43:51
13,798975,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 23:06:16
14,799013,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 23:26:28
15,799023,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 23:28:36
16,799053,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 23:37:59
17,799085,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-05 23:38:22
18,801747,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-10 00:15:38
19,801787,10,798159,"{""company"":""0x0"",""low_battery_level_reached_si...",2014-11-10 00:26:48
20,820087,6,798159,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-12 19:27:56
21,897133,7,897063,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-13 18:35:57
22,901003,1,900973,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-13 19:33:29
23,902397,7,897063,"{""vibra_on"":1,""tag_counter_after_low_battery_l...",2014-11-13 19:45:04
24,903567,91,894677,NaN,2014-11-13 19:57:52
25,904955,91,894677,NaN,2014-11-13 20:15:58
26,904959,91,904639,NaN,2014-11-13 20:16:00
27,904965,91,904745,NaN,2014-11-13 20:16:02
28,904971,91,904839,NaN,2014-11-13 20:16:04
29,904977,91,904949,NaN,2014-11-13 20:16:06
30,905257,91,905243,NaN,2014-11-13 20:20:54
31,905875,91,905243,NaN,2014-11-13 20:34:02
32,905881,91,905845,NaN,2014-11-13 20:34:04
33,905947,91,905909,NaN,2014-11-13 20:35:05
34,906251,91,906227,NaN,2014-11-13 20:39:25
35,906439,91,906409,NaN,2014-11-13 20:42:09
36,906797,91,906767,NaN,2014-11-13 20:48:29
37,906909,91,906861,NaN,2014-11-13 20:50:23
38,906999,91,906939,NaN,2014-11-13 20:51:20
39,907037,91,906939,NaN,2014-11-13 20:51:30
40,907091,91,906939,NaN,2014-11-13 20:52:21
41,907111,91,906939,NaN,2014-11-13 20:52:32
42,907125,91,906939,NaN,2014-11-13 20:52:45
43,907385,91,906939,NaN,2014-11-13 20:57:22
44,907565,91,907523,NaN,2014-11-13 20:59:50
45,907635,91,907599,NaN,2014-11-13 21:00:36
46,907717,91,907637,NaN,2014-11-13 21:01:52
47,907729,91,907637,NaN,2014-11-13 21:02:02
48,907767,91,907637,NaN,2014-11-13 21:02:28
49,908651,91,908615,NaN,2014-11-13 21:16:17

In [70]:
pensRegisters['registers']

0         {"company":"0x0","low_battery_level_reached_si...
1         {"vibra_on":1,"tag_counter_after_low_battery_l...
2         {"vibra_on":1,"tag_counter_after_low_battery_l...
3         {"vibra_on":1,"tag_counter_after_low_battery_l...
4         {"vibra_on":1,"tag_counter_after_low_battery_l...
                                ...
891113                                                  NaN
891114                                                  NaN
891115                                                  NaN
891116                                                  NaN
891117                                                  NaN
Name: registers, Length: 891118, dtype: object

In [18]:
pens.sample()
#registered_by_api_key?
#disabled	retired?
#retired_by_user_id	disabled_by_user_id?

,id,registered_by_user_id,registered_by_api_key,registered,lastmodified,disabled,retired,note,uid,retired_by_user_id,disabled_by_user_id
2560,1524835,3,0,2015-02-03 23:44:34,2015-04-03 19:08:13,NaT,NaT,production 20150301,90FF826F19001F00,0,0

In [19]:
pensActivity.sample()
#time to process
#activity

,visit_id,pen_id,fingerprint,activity,notes,status_id,created,lastmodified,time_to_process,count_items
490557,97483745,1524463,8cd69f8dd023e8d4b491300ff5e78f08c3c09406,"{""pen_uid"":""90ff826f04001d00"",""initial_time_st...",NaN,1,2016-04-10 18:25:36,2016-04-10 18:25:36,325,11

In [20]:
pensCheckouts.sample()
#again the id- visit_id vs id?
#start + end ip ?

,id,pen_id,visit_id,start,end,start_ip,end_ip
374831,122969171,1525329,122969169,2018-04-19 18:25:21,2018-04-19 19:53:47,2.691693e+09,2.691693e+09

In [21]:
pensRegisters.sample()
#registers?
#id

,id,pen_id,visit_id,registers,created
99211,87580783,1524375,87567755,"{""vibra_on"":1,""low_battery_level_reached_since...",2015-08-23 21:11:25

# project components

In [22]:
projectsComponents
# i might need to reshape the id
#category meanings 
#title meanings 
#text meanings

,id,category,title,text,is_public
0,0:0,value,Creativity,None,1
1,0:1,value,Education,None,1
2,0:10,value,Diversity,NULL,1
3,0:11,value,Family,NULL,1
4,0:2,value,Resilience,None,1
5,0:3,value,Health,NULL,1
6,0:4,value,Equity,NULL,1
7,0:5,value,History,NULL,1
8,0:6,value,Recreation,NULL,1
9,0:7,value,Safety,NULL,1
10,0:8,value,Investment,NULL,1
11,0:9,value,Connectivity,NULL,1
12,1:0,question,How might we make industry more local?,None,1
13,1:1,question,How might we encourage people to explore their...,None,1
14,1:10,question,How might we restore housing after natural dis...,NULL,1
15,1:11,question,How might we make vacant or blighted propertie...,NULL,1
16,1:2,question,How might we expand access to technology?,None,1
17,1:3,question,How might we encourage more people to read?,NULL,1
18,1:4,question,How might we adapt housing to accommodate a br...,NULL,1
19,1:5,question,How might we improve neighborhood safety?,NULL,1
20,1:6,question,How might we better inform citizens of their r...,NULL,1
21,1:7,question,How might we increase access to healthy food?,NULL,1
22,1:8,question,How might we reduce dependence on private vehi...,NULL,1
23,1:9,question,How might we improve health outcomes for neigh...,NULL,1
24,2:0,tactic,Stage,Where performers meet their audience,1
25,2:1,tactic,Bike Rack,A stopping place when you're on the go,1
26,2:10,tactic,Energy Source,More options for a sustainable future.,1
27,2:11,tactic,Public Bath,"""Relax",1
28,2:12,tactic,Library,A data portal.,1
29,2:13,tactic,Place of Worship,"""Faith",1
30,2:14,tactic,Maker Space,Tools at your fingertips.,1
31,2:15,tactic,Farm,Food doesn't just have to come from the countr...,1
32,2:16,tactic,Police Station,A partner with the community.,1
33,2:17,tactic,Trails,Exploring spaces off the beaten path.,1
34,2:18,tactic,Co-Working Space,"""Less space",1
35,2:19,tactic,Campsite,When the great outdoors becomes home.,1
36,2:2,tactic,Classroom,Learning can happen anywhere,1
37,2:20,tactic,Drive-In,"""Not just for cars",1
38,2:21,tactic,Marketplace,Spaces for exchange.,1
39,2:22,tactic,Landfill,Waste can be a resource.,1
40,2:23,tactic,Public Art,Unlocking the museum.,1
41,2:24,tactic,Food Truck,Experimental spaces for eating.,1
42,2:25,tactic,Benches,Make the street your living room.,1
43,2:26,tactic,Community Meeting,Diverse voices going on record.,1
44,2:27,tactic,Clinic,"""Understanding health",1
45,2:28,tactic,Hostel,"""Short stays",1
46,2:29,tactic,Barge,Solid ground that floats around.,1
47,2:3,tactic,Coffee Shop,The community is just as important as the caff...,1
48,2:30,tactic,Fence,"""Edges and boundaries",1
49,2:31,tactic,Fire Station,First responders: always ready to help.,1
50,2:32,tactic,Micro Housing,Unconventional housing can lead to better living.,1
51,2:33,tactic,Parade,Party or protest!,1
52,2:34,tactic,Social Media,Connecting communities – real or virtual.,1
53,2:35,tactic,Playground,"""Places for fun",1
54,2:4,tactic,Community Kitchen,Food is a rich record of stories and culture.,1
55,2:5,tactic,Sports Field,Fairgrounds to frisbee to family picnics.,1
56,2:6,tactic,Parking Lot,There's a lot of empty space in there. . .,1
57,2:7,tactic,Swimming Pool,Where fun and health go hand in hand.,1
58,2:8,tactic,Daycare,Kids learn and parents get back to work.,1
59,2:9,tactic,Observation Deck,Seeing things from a new point of view.,1

In [23]:
projectsComponents.nunique()

id           60
category      3
title        60
text         37
is_public     1
dtype: int64

In [24]:
projectsComponents['category'] = projectsComponents['category'].astype('category')
projectsComponents['text'].replace('NULL', np.NaN, regex=True, inplace=True)
projectsComponents['text'].fillna(value=np.nan, inplace=True)

In [25]:
projectsComponents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         60 non-null     object
 1   category   60 non-null     category
 2   title      60 non-null     object
 3   text       36 non-null     object
 4   is_public  60 non-null     int64
dtypes: category(1), int64(1), object(3)
memory usage: 2.2+ KB

In [26]:
projectsComponentsStats.nunique()

component_id    3884
count            134
value             12
question          12
tactic            36
dtype: int64

In [32]:
projectsComponentsStats['value'] = projectsComponentsStats['value'].astype('category')
projectsComponentsStats['question'] = projectsComponentsStats['question'].astype('category')
projectsComponentsStats['tactic'] = projectsComponentsStats['tactic'].astype('category')

In [33]:
projectsComponentsStats

,component_id,count,value,question,tactic
0,1000000,1,Creativity,How might we make industry more local?,Stage
1,1000001,6,Creativity,How might we make industry more local?,Bike Rack
2,1000002,5,Creativity,How might we make industry more local?,Classroom
3,1000003,14,Creativity,How might we make industry more local?,Coffee Shop
4,1000004,5,Creativity,How might we make industry more local?,Community Kitchen
...,...,...,...,...,...
3879,1111131,3,Family,How might we make vacant or blighted propertie...,Fire Station
3880,1111132,26,Family,How might we make vacant or blighted propertie...,Micro Housing
3881,1111133,1,Family,How might we make vacant or blighted propertie...,Parade
3882,1111134,9,Family,How might we make vacant or blighted propertie...,Social Media
3883,1111135,47,Family,How might we make vacant or blighted propertie...,Playground

In [34]:
projectsQueue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17828 entries, 0 to 17827
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          17828 non-null  int64
 1   shown       17828 non-null  int64
 2   on_deck     17828 non-null  int64
 3   value       17828 non-null  object
 4   question    17828 non-null  object
 5   tactic_one  17828 non-null  object
 6   tactic_two  17828 non-null  object
 7   timestamp   17828 non-null  int64
 8   incomplete  17828 non-null  int64
 9   shortcode   17780 non-null  object
dtypes: int64(5), object(5)
memory usage: 1.4+ MB

In [126]:
projectsQueue['value'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['question'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['tactic_one'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['tactic_two'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
projectsQueue['timestamp'] = pd.to_datetime(projectsQueue['timestamp'], unit='s')
projectsQueue['shortcode'].fillna(value=np.nan, inplace=True)

In [134]:
projectsStats.head(100)

       id        date                    stat   count
0      26  2016-09-30  incomplete-no-question   334.0
1      29  2016-09-30         processed-total    22.0
2      69  2016-09-30    processed-in-gallery    12.0
3     193  2016-09-30     incomplete-no-value     8.0
4     241  2016-09-30   incomplete-one-tactic     3.0
5     303  2016-09-30    incomplete-no-tactic     2.0
6     407  2016-10-01  incomplete-no-question  1380.0
7     410  2016-10-01         processed-total    42.0
8     414  2016-10-01    incomplete-no-tactic     1.0
9     428  2016-10-01     incomplete-no-value     7.0
10    458  2016-10-01    processed-in-gallery    16.0
11    779  2016-10-01   incomplete-one-tactic     2.0
12   1855  2016-10-02  incomplete-no-question  1138.0
13   2074  2016-10-02     incomplete-no-value     6.0
14   2405  2016-10-02    processed-in-gallery     7.0
15   2406  2016-10-02         processed-total    16.0
16   2911  2016-10-02   incomplete-one-tactic     1.0
17   3023  2016-10-03  incomplete-no-question   694.0
18   3053  2016-10-03     incomplete-no-value    10.0
19   3077  2016-10-03    processed-in-gallery    14.0
20   3078  2016-10-03         processed-total    22.0
21   3253  2016-10-03   incomplete-one-tactic     4.0
22   3767  2016-10-04  incomplete-no-question   735.0
23   3904  2016-10-04    incomplete-no-tactic     5.0
24   4018  2016-10-04   incomplete-one-tactic     1.0
25   4019  2016-10-04    processed-in-gallery     1.0
26   4020  2016-10-04         processed-total     1.0
27   4287  2016-10-04     incomplete-no-value     3.0
28   4513  2016-10-05   incomplete-one-tactic     1.0
29   4514  2016-10-05         processed-total    25.0
30   4515  2016-10-05  incomplete-no-question   547.0
31   4544  2016-10-05     incomplete-no-value     8.0
32   4582  2016-10-05    processed-in-gallery    20.0
33   5114  2016-10-06  incomplete-no-question   364.0
34   5153  2016-10-06   incomplete-one-tactic     7.0
35   5154  2016-10-06    processed-in-gallery    11.0
36   5155  2016-10-06         processed-total    19.0
37   5267  2016-10-06     incomplete-no-value     8.0
38   5281  2016-10-06    incomplete-no-tactic     6.0
39   5529  2016-10-07  incomplete-no-question   360.0
40   5551  2016-10-07         processed-total    36.0
41   5556  2016-10-07    incomplete-no-tactic     2.0
42   5577  2016-10-07    processed-in-gallery    29.0
43   5583  2016-10-07     incomplete-no-value    22.0
44   5614  2016-10-07   incomplete-one-tactic     7.0
45   5985  2016-10-08         processed-total   143.0
46   5986  2016-10-08  incomplete-no-question  1397.0
47   6029  2016-10-08   incomplete-one-tactic    19.0
48   6048  2016-10-08     incomplete-no-value    84.0
49   6171  2016-10-08    processed-in-gallery    67.0
50   6515  2016-10-08    incomplete-no-tactic     9.0
51   7704  2016-10-09  incomplete-no-question  1055.0
52   7711  2016-10-09    processed-in-gallery     2.0
53   7712  2016-10-09         processed-total    49.0
54   7737  2016-10-09   incomplete-one-tactic    12.0
55   7743  2016-10-09    incomplete-no-tactic     6.0
56   8047  2016-10-09     incomplete-no-value    12.0
57   8840  2016-10-10  incomplete-no-question   766.0
58   8849  2016-10-10         processed-total    20.0
59   8852  2016-10-10     incomplete-no-value     9.0
60   8898  2016-10-10    incomplete-no-tactic     3.0
61   9308  2016-10-10   incomplete-one-tactic     3.0
62   9641  2016-10-11  incomplete-no-question   468.0
63   9682  2016-10-11         processed-total    24.0
64   9853  2016-10-11     incomplete-no-value     8.0
65   9944  2016-10-11    incomplete-no-tactic     1.0
66  10142  2016-10-12     incomplete-no-value    14.0
67  10143  2016-10-12  incomplete-no-question   608.0
68  10146  2016-10-12         processed-total    29.0
69  10187  2016-10-12   incomplete-one-tactic    10.0
70  10518  2016-10-12    incomplete-no-tactic     1.0
71  10804  2016-10-13  incomplete-no-question   486.0
72  10823  2016-10-13     incomplete-no-value     3.0
73  10836  2016-10-13         processed-total     9.0
74  10848  2016-10-13   incomplete-one-tactic     1.0
75  11247  2016-10-13    incomplete-no-tactic     1.0
76  11304  2016-10-14  incomplete-no-question   528.0
77  11351  2016-10-14         processed-total    13.0
78  11542  2016-10-14     incomplete-no-value     3.0
79  11657  2016-10-14    processed-in-gallery     5.0
80  11673  2016-10-14    incomplete-no-tactic     2.0
81  11679  2016-10-14   incomplete-one-tactic     4.0
82  11859  2016-10-15  incomplete-no-question     6.0
83  11865  2016-10-16  incomplete-no-question   677.0
84  11867  2016-10-16   incomplete-one-tactic     4.0
85  11868  2016-10-16    processed-in-gallery    14.0
86  11869  2016-10-16         processed-total    29.0
87  12137  2016-10-16    incomplete-no-tactic     3.0
88  12228  2016-10-16     incomplete-no-value     9.0
89  12601  2016-10-17   incomplete-one-tactic     3.0
90  12602  2016-10-17         processed-total     8.0
91  12603  2016-10-17  incomplete-no-question   426.0
92  12605  2016-10-17    processed-in-gallery     4.0
93  12936  2016-10-17     incomplete-no-value     5.0
94  13047  2016-10-18  incomplete-no-question   447.0
95  13100  2016-10-18     incomplete-no-value     3.0
96  13179  2016-10-18         processed-total    14.0
97  13202  2016-10-18    processed-in-gallery     7.0
98  13518  2016-10-19  incomplete-no-question   494.0
99  13734  2016-10-19    processed-in-gallery     4.0

In [135]:
projectsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5890 non-null   int64
 1   date    5890 non-null   object
 2   stat    5890 non-null   object
 3   count   5890 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 184.2+ KB

In [35]:
projectsStats['date'] = pd.to_datetime(projectsStats['date'])
projectsStats['count'] = projectsStats['count'].astype(int)

In [36]:
projectsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5890 entries, 0 to 5889
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5890 non-null   int64
 1   date    5890 non-null   datetime64[ns]
 2   stat    5890 non-null   object
 3   count   5890 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 184.2+ KB

In [37]:
projectsStats.sample()

          id       date                 stat  count
2950  948419 2018-02-08  incomplete-no-value    116

In [38]:
projectsComponents.sample()
# i might need to reshape the id
#category meanings 
#title meanings 
#text meanings

      id category             title    text  is_public
29  2:13   tactic  Place of Worship  "Faith          1

In [39]:
projectsComponentsStats.sample()
#component_id ? value? #question? #tactic?

,component_id,count,value,question,tactic
1464,1040307,6,Equity,How might we encourage more people to read?,Swimming Pool

In [40]:
projectsQueue.sample()
#same value as projectComponents category? 
#or same value as in projectsComponentsStats? and same question and tactic?
#what is there meanings?

,id,shown,on_deck,value,question,tactic_one,tactic_two,timestamp,incomplete,shortcode
7995,8945,1,0,,,,,1488141561,1,vqhvb

In [41]:
projectsStats.sample()
#what is this id refers to?

          id       date                    stat  count
2767  872496 2017-12-24  incomplete-no-question    497

# Visits

In [42]:
visits.head(150)

,id,shortcode,user_id,created,lastmodified,registered,expires,paired,ticket,deleted,created_ip,registered_ip,paired_ip,processed,purchased_by_user_id,note,exported,first_accessed,ignore_first_accessed,title
0,794965,20141029u305,0,1414617047,1456268257,1414617047,0,1414617236,"{""tessitura_spoofing"":1,""ticket_id"":""794965"",""...",1414624792,0,0,0,0,0,,0,NaN,1.0,None
1,795317,foo001,0,1414625549,1456268257,1414625549,0,1414625586,"{""tessitura_spoofing"":1,""ticket_id"":""795317"",""...",1414625718,0,0,0,0,0,,0,NaN,1.0,None
2,795341,foo002,0,1414626051,1456268257,1414626051,0,1414626068,"{""tessitura_spoofing"":1,""ticket_id"":""795341"",""...",1414626081,0,0,0,0,0,,0,NaN,1.0,None
3,795351,foo003,0,1414626211,1456268257,1414626211,0,1414626268,"{""tessitura_spoofing"":1,""ticket_id"":""795351"",""...",1414626274,0,0,0,0,0,,0,NaN,1.0,None
4,795405,foo004,0,1414628027,1456268257,1414628027,0,1414628053,"{""tessitura_spoofing"":1,""ticket_id"":""795405"",""...",1414628081,0,0,0,0,0,,0,NaN,1.0,None
5,795417,foo005,0,1414628210,1456268257,1414628211,0,1414628228,"{""tessitura_spoofing"":1,""ticket_id"":""795417"",""...",1414628241,0,0,0,0,0,,0,NaN,1.0,None
6,795427,foo007,0,1414628494,1456268257,1414628494,0,1414628517,"{""tessitura_spoofing"":1,""ticket_id"":""795427"",""...",1414628729,0,0,0,0,0,,0,NaN,1.0,None
7,795439,foo008,0,1414628628,1456268257,1414628628,0,1414628646,"{""tessitura_spoofing"":1,""ticket_id"":""795439"",""...",1414628729,0,0,0,0,0,,0,NaN,1.0,None
8,795449,foo009,0,1414628952,1456268257,1414628952,0,1414628988,"{""tessitura_spoofing"":1,""ticket_id"":""795449"",""...",1414629063,0,0,0,0,0,,0,NaN,1.0,None
9,796261,2014113u3,0,1415039518,1456268258,1415039519,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796261"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
10,796435,2014113u247,247,1415049190,1456268258,1415049190,0,1415050345,"{""tessitura_spoofing"":1,""ticket_id"":""796435"",""...",1422677847,0,0,0,0,0,,0,NaN,1.0,None
11,796441,1111222233334,0,1415049390,1456268258,1415049390,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796441"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
12,796443,2121323245456,0,1415049456,1456268258,1415049456,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796443"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
13,796445,2222111133335,0,1415049791,1456268258,1415049791,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796445"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
14,796447,1111222211112,0,1415049846,1456268258,1415049847,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796447"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
15,796519,1111222211115,0,1415050858,1456268258,1415050858,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796519"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
16,796559,2014113u199,0,1415051064,1456268258,1415051065,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796559"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
17,796569,4444555544446,0,1415051363,1456268258,1415051363,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796569"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
18,796571,4444555544441,0,1415051622,1456268258,1415051622,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796571"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
19,796581,4444555544447,0,1415051888,1456268258,1415051888,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796581"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
20,796653,1111555544448,0,1415054390,1456268258,1415054390,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796653"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
21,796655,5555444488885,0,1415054599,1456268258,1415054599,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796655"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
22,796657,7777444488885,0,1415054726,1456268258,1415054726,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796657"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
23,796659,4444888877776,0,1415054824,1456268258,1415054824,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796659"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
24,796661,77788877776,0,1415054994,1456268258,1415054995,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796661"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
25,796667,4444878887777,0,1415055055,1456268258,1415055056,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796667"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
26,796959,2014114u3,0,1415103924,1456268258,1415103924,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""796959"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
27,797007,4444555544448,0,1415114454,1456268258,1415114455,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""797007"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
28,797837,2014114u142,142,1415133156,1456268258,1415133157,0,1415133364,"{""tessitura_spoofing"":1,""ticket_id"":""797837"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
29,797915,2014114u247,0,1415133380,1456268258,1415133380,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""797915"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
30,798069,asc1080,0,1415146049,1456268258,1415146049,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""798069"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
31,798159,oriolsTicket,247,1415149148,1456268258,1415149148,0,1415229391,"{""tessitura_spoofing"":1,""ticket_id"":""798159"",""...",1422677845,0,0,0,0,0,,0,NaN,1.0,None
32,798245,2014115u247,0,1415204513,1456268258,1415204513,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""798245"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
33,799091,2014115u3,0,1415231010,1456268258,1415231010,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""799091"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
34,799115,None,0,1415231101,1456268258,1415231102,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""799115"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
35,799225,ghghghgh,0,1415311249,1456268258,1415311250,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""799225"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
36,799233,0000000000000,0,1415311313,1456268258,1415311313,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""799233"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
37,799961,2014117u247,0,1415386058,1456268258,1415386058,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""799961"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
38,814815,4444111,0,1415814040,1456268258,1415814041,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""814815"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
39,815709,kikilll,0,1415815033,1456268258,1415815033,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""815709"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
40,816743,ededfff,0,1415816417,1456268258,1415816417,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""816743"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
41,820013,20141112u247,0,1415820407,1456268258,1415820407,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""820013"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
42,825635,aaaassssddddf,0,1415826359,1456268258,1415826359,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""825635"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
43,832385,ssssffffggggh,0,1415832703,1456268258,1415832703,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""832385"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
44,835695,sssss,0,1415836599,1456268258,1415836600,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""835695"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
45,836101,HHHUUUHH,0,1415836975,1456268258,1415836975,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""836101"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
46,885713,HHHHH,0,1415892727,1456268258,1415892727,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""885713"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
47,885735,44444888,0,1415892752,1456268258,1415892752,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""885735"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
48,890601,jijiji,0,1415897831,1456268258,1415897832,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""890601"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
49,890673,oooo,0,1415897878,1456268258,1415897878,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""890673"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
50,890721,kkkkk,0,1415897926,1456268258,1415897926,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""890721"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
51,890729,hhhiii,0,1415897930,1456268258,1415897930,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""890729"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
52,893351,jjjjoiii,0,1415900083,1456268258,1415900083,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""893351"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
53,893387,kokok,0,1415900116,1456268258,1415900116,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""893387"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
54,893993,dddsss,0,1415900648,1456268258,1415900648,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""893993"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
55,894475,ijij,0,1415901114,1456268258,1415901115,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""894475"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
56,894677,8548854,0,1415901333,1456268258,1415901333,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""894677"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
57,897063,20141113u199,0,1415903692,1456268258,1415903692,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""897063"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
58,900973,20141113u3,0,1415907196,1456268258,1415907196,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""900973"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
59,904639,oookkk,0,1415909416,1456268258,1415909417,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""904639"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
60,904745,llllkkkk,0,1415909550,1456268258,1415909550,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""904745"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
61,904839,ppppkkkk,0,1415909642,1456268258,1415909643,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""904839"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
62,904949,kkkk,0,1415909753,1456268258,1415909753,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""904949"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
63,905243,okokok,0,1415910050,1456268258,1415910050,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""905243"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
64,905771,uuhhhuuh,0,1415910713,1456268258,1415910713,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""905771"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
65,905845,ikikik,0,1415910813,1456268258,1415910813,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""905845"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
66,905909,jjjjooo,0,1415910873,1456268258,1415910873,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""905909"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
67,906227,TTTTGGGG,0,1415911137,1456268258,1415911137,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906227"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
68,906341,ihihih,0,1415911247,1456268258,1415911248,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906341"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
69,906409,bhbhbh,0,1415911304,1456268258,1415911305,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906409"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
70,906767,eeesss,0,1415911684,1456268258,1415911684,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906767"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
71,906861,awawaw,0,1415911792,1456268258,1415911792,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906861"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
72,906939,mioim,0,1415911844,1456268258,1415911845,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""906939"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
73,907465,dddrrrd,0,1415912301,1456268258,1415912302,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""907465"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
74,907501,hihihi,0,1415912343,1456268258,1415912343,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""907501"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
75,907523,dfdf,0,1415912364,1456268258,1415912365,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""907523"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
76,907599,gggggggh,0,1415912408,1456268258,1415912409,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""907599"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
77,907637,jjjiiij,0,1415912436,1456268258,1415912437,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""907637"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
78,908615,vzvzxcv,0,1415913349,1456268258,1415913349,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""908615"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
79,909147,asdfadsf,0,1415913989,1456268258,1415913990,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909147"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
80,909255,iiii,0,1415914140,1456268258,1415914140,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909255"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
81,909433,okokoko,0,1415914260,1456268258,1415914261,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909433"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
82,909523,okjoji,0,1415914347,1456268258,1415914348,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909523"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
83,909739,dfdfdfd,0,1415914497,1456268259,1415914497,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909739"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
84,909969,jjjjj,0,1415914702,1456268259,1415914702,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""909969"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
85,910037,olol,0,1415914812,1456268259,1415914812,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""910037"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
86,910411,kokolll,0,1415915228,1456268259,1415915228,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""910411"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
87,973861,20141114u3,0,1415995520,1456268259,1415995520,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""973861"",""...",0,0,0,0,0,0,,0,NaN,1.0,None
88,1048453,11112222336,0,1416157122,1456268259,1416157123,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048453"",...",0,0,0,0,0,0,,0,NaN,1.0,None
89,1048459,ijiji,0,1416157742,1456268259,1416157743,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048459"",...",0,0,0,0,0,0,,0,NaN,1.0,None
90,1048461,jjjjiiii,0,1416157832,1456268259,1416157833,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048461"",...",0,0,0,0,0,0,,0,NaN,1.0,None
91,1048463,ppplllll,0,1416158234,1456268259,1416158234,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048463"",...",0,0,0,0,0,0,,0,NaN,1.0,None
92,1048465,jjjjjppp,0,1416158296,1456268259,1416158296,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048465"",...",0,0,0,0,0,0,,0,NaN,1.0,None
93,1048471,909999,0,1416159380,1456268259,1416159380,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048471"",...",0,0,0,0,0,0,,0,NaN,1.0,None
94,1048473,ppppooo,0,1416159457,1456268259,1416159457,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048473"",...",0,0,0,0,0,0,,0,NaN,1.0,None
95,1048475,oooiiii,0,1416160082,1456268259,1416160083,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048475"",...",0,0,0,0,0,0,,0,NaN,1.0,None
96,1048477,lllllpppp,0,1416160136,1456268259,1416160137,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048477"",...",0,0,0,0,0,0,,0,NaN,1.0,None
97,1048479,mkmkmk,0,1416160192,1456268259,1416160193,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048479"",...",0,0,0,0,0,0,,0,NaN,1.0,None
98,1048481,cfcfcf,0,1416160278,1456268259,1416160279,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048481"",...",0,0,0,0,0,0,,0,NaN,1.0,None
99,1048483,gggghhhh,0,1416160377,1456268259,1416160377,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048483"",...",0,0,0,0,0,0,,0,NaN,1.0,None
100,1048489,gggyyygg,0,1416161488,1456268259,1416161489,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048489"",...",0,0,0,0,0,0,,0,NaN,1.0,None
101,1048493,20141116u3,0,1416161634,1456268259,1416161635,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048493"",...",0,0,0,0,0,0,,0,NaN,1.0,None
102,1048497,ASDFASDF,0,1416161736,1456268259,1416161736,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048497"",...",0,0,0,0,0,0,,0,NaN,1.0,None
103,1048501,2222AASDF,0,1416161772,1456268259,1416161772,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048501"",...",0,0,0,0,0,0,,0,NaN,1.0,None
104,1048503,rdrdrdr,0,1416162763,1456268259,1416162763,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048503"",...",0,0,0,0,0,0,,0,NaN,1.0,None
105,1048505,jijihh,0,1416163197,1456268259,1416163198,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048505"",...",0,0,0,0,0,0,,0,NaN,1.0,None
106,1048507,ggggtttt,0,1416163389,1456268259,1416163389,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048507"",...",0,0,0,0,0,0,,0,NaN,1.0,None
107,1048509,dddiii,0,1416163945,1456268259,1416163945,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048509"",...",0,0,0,0,0,0,,0,NaN,1.0,None
108,1048515,tftft,0,1416165008,1456268259,1416165009,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048515"",...",0,0,0,0,0,0,,0,NaN,1.0,None
109,1048521,nnnnnn,0,1416165746,1456268259,1416165747,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048521"",...",0,0,0,0,0,0,,0,NaN,1.0,None
110,1048527,jjjjjgggg,0,1416166521,1456268259,1416166521,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048527"",...",0,0,0,0,0,0,,0,NaN,1.0,None
111,1048631,sesese,0,1416236231,1456268259,1416236231,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1048631"",...",0,0,0,0,0,0,,0,NaN,1.0,None
112,1049073,sths,0,1416255290,1456268259,1416255290,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049073"",...",0,0,0,0,0,0,,0,NaN,1.0,None
113,1049087,bfxq,0,1416262145,1456268259,1416262145,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049087"",...",0,0,0,0,0,0,,0,NaN,1.0,None
114,1049097,bck3,0,1416265969,1456268259,1416265969,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049097"",...",0,0,0,0,0,0,,0,NaN,1.0,None
115,1049113,20141117u3,0,1416270760,1456268259,1416270760,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049113"",...",0,0,0,0,0,0,,0,NaN,1.0,None
116,1049133,cl02,0,1416271206,1456268259,1416271206,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049133"",...",0,0,0,0,0,0,,0,NaN,1.0,None
117,1049573,20141118u3,0,1416327388,1456268259,1416327388,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049573"",...",0,0,0,0,0,0,,0,NaN,1.0,None
118,1049597,1tc0,0,1416329151,1456268259,1416329152,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049597"",...",0,0,0,0,0,0,,0,NaN,1.0,None
119,1049617,hs03,0,1416329883,1456268259,1416329883,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1049617"",...",0,0,0,0,0,0,,0,NaN,1.0,None
120,1050173,20141119u3,0,1416426865,1456268259,1416426865,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050173"",...",0,0,0,0,0,0,,0,NaN,1.0,None
121,1050199,TESTING,0,1416427457,1456268259,1416427457,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050199"",...",0,0,0,0,0,0,,0,NaN,1.0,None
122,1050299,tkt4,0,1416429695,1456268259,1416429695,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050299"",...",0,0,0,0,0,0,,0,NaN,1.0,None
123,1050323,np60,0,1416430662,1456268259,1416430662,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050323"",...",0,0,0,0,0,0,,0,NaN,1.0,None
124,1050631,sf1s,0,1416446728,1456268259,1416446728,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050631"",...",0,0,0,0,0,0,,0,NaN,1.0,None
125,1050651,p62s,0,1416446945,1456268259,1416446945,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050651"",...",0,0,0,0,0,0,,0,NaN,1.0,None
126,1050661,vzbr,0,1416447466,1456268259,1416447467,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050661"",...",0,0,0,0,0,0,,0,NaN,1.0,None
127,1050789,5jld,0,1416503949,1488913519,1416503950,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050789"",...",0,0,0,0,0,0,,0,1.488914e+09,1.0,None
128,1050883,m2vd,0,1416505249,1456268259,1416505249,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1050883"",...",0,0,0,0,0,0,,0,NaN,1.0,None
129,1051081,2vd,0,1416512310,1456268259,1416512310,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051081"",...",0,0,0,0,0,0,,0,NaN,1.0,None
130,1051123,6llp,0,1416513360,1488892655,1416513361,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051123"",...",0,0,0,0,0,0,,0,1.488893e+09,1.0,None
131,1051369,m2zh,0,1416518755,1456268259,1416518755,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051369"",...",0,0,0,0,0,0,,0,NaN,1.0,None
132,1051377,cbnk,0,1416518924,1456268259,1416518924,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051377"",...",0,0,0,0,0,0,,0,NaN,1.0,None
133,1051583,r7pv,0,1416584391,1456268259,1416584391,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051583"",...",0,0,0,0,0,0,,0,NaN,1.0,None
134,1051955,mc6p,0,1416604392,1456268259,1416604393,0,0,"{""tessitura_spoofing"":1,""ticket_id"":""1051955"",...",0,0,0,0,0,0,,0,NaN,1.0,None

In [43]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716282 entries, 0 to 716281
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     716282 non-null  int64
 1   shortcode              716282 non-null  object
 2   user_id                716282 non-null  int64
 3   created                716282 non-null  int64
 4   lastmodified           716282 non-null  int64
 5   registered             716282 non-null  int64
 6   expires                716282 non-null  int64
 7   paired                 716282 non-null  int64
 8   ticket                 716282 non-null  object
 9   deleted                716282 non-null  int64
 10  created_ip             716282 non-null  int64
 11  registered_ip          716282 non-null  int64
 12  paired_ip              716282 non-null  int64
 13  processed              716282 non-null  int64
 14  purchased_by_user_id   716282 non-null  int64
 15  note                   716282 non-null  object
 16  exported               716282 non-null  int64
 17  first_accessed         142762 non-null  float64
 18  ignore_first_accessed  144641 non-null  float64
 19  title                  166 non-null     object
dtypes: float64(2), int64(14), object(4)
memory usage: 109.3+ MB

In [44]:
visits.nunique()

id                       716282
shortcode                716282
user_id                   21059
created                  708749
lastmodified             577869
registered               541740
expires                       1
paired                    23130
ticket                   716247
deleted                      67
created_ip                   29
registered_ip                27
paired_ip                 19957
processed                 22318
purchased_by_user_id          1
note                          3
exported                   1999
first_accessed           123874
ignore_first_accessed         1
title                       165
dtype: int64

In [45]:
visits['created'] = pd.to_datetime(visits['created'], unit='s')
visits['lastmodified'] = pd.to_datetime(visits['lastmodified'], unit='s')
visits['registered'] = visits['registered'].replace(0, np.nan)
visits['registered'] = pd.to_datetime(visits['registered'], unit='s')
visits['deleted'] = visits['deleted'].replace(0, np.nan)
visits['deleted'] = pd.to_datetime(visits['deleted'], unit='s')
visits['paired'] = visits['paired'].replace(0, np.nan)
visits['paired'] = pd.to_datetime(visits['paired'], unit='s')
visits['created_ip'].replace(0, np.nan, inplace=True)
visits['registered_ip'].replace(0, np.nan, inplace=True)
visits['paired_ip'].replace(0, np.nan, inplace=True)
visits['processed'].replace(0, np.nan, inplace=True)
visits['purchased_by_user_id'].replace(0, np.nan, inplace=True)
visits['exported'].replace(0, np.nan, inplace=True)
visits['title'].fillna(value=np.nan, inplace=True)
visits['note'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)

In [46]:
visits.nunique()

id                       716282
shortcode                716282
user_id                   21059
created                  708749
lastmodified             577869
registered               541739
expires                       1
paired                    23129
ticket                   716247
deleted                      66
created_ip                   28
registered_ip                26
paired_ip                 19956
processed                 22317
purchased_by_user_id          0
note                          2
exported                   1998
first_accessed           123874
ignore_first_accessed         1
title                       165
dtype: int64

In [47]:
visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716282 entries, 0 to 716281
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     716282 non-null  int64
 1   shortcode              716282 non-null  object
 2   user_id                716282 non-null  int64
 3   created                716282 non-null  datetime64[ns]
 4   lastmodified           716282 non-null  datetime64[ns]
 5   registered             545751 non-null  datetime64[ns]
 6   expires                716282 non-null  int64
 7   paired                 23132 non-null   datetime64[ns]
 8   ticket                 716282 non-null  object
 9   deleted                67 non-null      datetime64[ns]
 10  created_ip             716061 non-null  float64
 11  registered_ip          545485 non-null  float64
 12  paired_ip              23113 non-null   float64
 13  processed              22330 non-null   float64
 14  purchased_by_user_id   0 non-null       float64
 15  note                   53 non-null      object
 16  exported               1998 non-null    float64
 17  first_accessed         142762 non-null  float64
 18  ignore_first_accessed  144641 non-null  float64
 19  title                  166 non-null     object
dtypes: datetime64[ns](5), float64(8), int64(3), object(4)
memory usage: 109.3+ MB

In [48]:
visitsItems.head(150)

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
0,793451,0,1,0,793449,1,18356743,own Charles Dawes name well aftermath,different James Monroe feel just carpenter,1414081555,1414081555,0,0,0,0
1,793453,0,2,9,793449,1,18146475,great John C. Breckinridge have very achieve,other Walter Mondale talk when picture,1414081575,1414081575,0,0,0,0
2,793455,0,2,6,793449,1,18311851,first John C. Calhoun think only fuel,old Al Gore walk too year,1414081615,1414081615,0,0,0,0
3,793459,3,2,7,793449,1,18476565,early Henry A. Wallace call out wrist,good John F. Kennedy tell also government,1414081679,1414081679,0,0,0,0
4,793495,3,2,7,793449,1,18628929,same Hubert Humphrey kick very health,next Joe Biden come when creature,1414093016,1414093016,0,0,0,0
5,793499,3,2,9,793449,1,18466243,bad Spiro Agnew try there veil,high Millard Fillmore call too guide,1414094034,1414094034,0,0,0,0
6,793503,3,2,8,793449,1,18445757,other Al Gore add even fruit,high George W. Bush seem so friction,1414094202,1414094202,0,0,0,0
7,793529,3,2,3,793527,1,18634081,own John F. Kennedy reach out cable,own James Monroe leave too problem,1414116321,1414116321,0,0,0,0
8,793531,3,2,3,793527,1,18644797,first Aaron Burr pass only texture,few Adlai E. Stevenson add just way,1414116938,1414116938,0,0,0,0
9,793533,3,2,3,793527,1,18616529,good James Madison end still wealth,different Herbert Hoover vanish too temper,1414117276,1414117276,0,0,0,0
10,793573,0,2,9,793571,1,18651455,large George Bush rinse there railway,same Spiro Agnew want as kitten,1414163135,1414163135,0,0,0,0
11,793575,3,2,5,793571,1,18394375,different Millard Fillmore obey never eye,public William McKinley call never fact,1414163774,1414163774,0,0,0,0
12,793589,3,2,9,793571,1,18489807,next Charles Curtis escape up texture,large Harry S Truman talk back locket,1414166926,1414166926,0,0,0,0
13,793667,3,2,3,793571,1,18316359,great Ulysses S. Grant ask still magic,right Rutherford B. Hayes give only fact,1414188095,1414188095,0,0,0,0
14,793677,3,2,1,793571,1,18496607,own John C. Calhoun open as treatment,same Adlai E. Stevenson knit back person,1414195163,1414195163,0,0,0,0
15,793683,0,2,7,793681,1,18344241,first Benjamin Harrison ask also afterthought,other Andrew Jackson promise still faucet,1414195357,1414195357,0,0,0,0
16,793693,3,2,0,793681,1,18382315,good John C. Calhoun drop how vein,few Ulysses S. Grant allow here picture,1414195914,1414195914,0,0,0,0
17,793699,3,2,1,793681,1,18640325,bad Barack Obama try as railway,small James K. Polk work only calendar,1414196092,1414196092,0,0,0,0
18,793703,3,2,7,793681,1,18401271,right William McKinley gather in weather,high John C. Calhoun jump when acoustics,1414196746,1414196746,0,0,0,0
19,793707,3,2,5,793681,1,18464993,big Gerald Ford kick even wren,long Richard M. Johnson itch even life,1414197113,1414197113,0,0,0,0
20,793711,3,2,9,793681,1,18701039,young George Bush obey now beginner,own William Wheeler know also music,1414197302,1414197302,0,0,0,0
21,793717,0,2,3,793715,1,18640493,young George Clinton be just woman,own James K. Polk walk here mountain,1414197592,1414197592,0,0,0,0
22,793719,0,2,6,793715,1,18609675,new Hannibal Hamlin march still money,right Hannibal Hamlin march now problem,1414197619,1414197619,0,0,0,0
23,793723,3,2,0,793715,1,18800613,big Dick Cheney end when company,new Grover Cleveland be here beginner,1414197709,1414197709,0,0,0,0
24,793725,3,2,4,793715,1,18342911,right Walter Mondale vanish very circle,small John Nance Garner be then education,1414197734,1414197734,0,0,0,0
25,793883,0,1,0,793881,1,18316213,own Grover Cleveland tell still wren,good Jimmy Carter hug well mountain,1414432504,1414432504,0,0,0,0
26,793885,0,2,0,793881,1,18495173,bad Charles Dawes zip there veil,new George Clinton itch here stranger,1414432522,1414432522,0,0,0,0
27,793887,0,2,0,793881,1,18667549,great Daniel D. Tompkins look too police,old William Wheeler chase even thread,1414432640,1414432640,0,0,0,0
28,793889,0,2,7,793881,1,18410559,bad William McKinley fasten never recess,last James K. Polk turn in passenger,1414432684,1414432684,0,0,0,0
29,793893,3,1,0,793881,1,18500009,first James Monroe yell out woman,other Thomas R. Marshall hug even group,1414432779,1414432779,0,0,0,0
30,793895,3,2,0,793881,1,18451407,small Richard M. Johnson kick well week,long Ulysses S. Grant fasten there woman,1414432801,1414432801,0,0,0,0
31,794451,0,1,0,794449,1,18637615,large Lyndon B. Johnson bang still boundary,long Lyndon B. Johnson jump as work,1414526581,1414526581,0,0,0,0
32,794453,0,1,0,794449,1,18643273,few Charles Curtis imagine out believe,young John C. Breckinridge leave very galley,1414526584,1414526584,0,0,0,0
33,794455,0,2,0,794449,1,18612839,long George M. Dallas end never group,few Calvin Coolidge jump here railway,1414526595,1414526595,0,0,0,0
34,794469,3,2,0,794449,1,18269757,great Thomas Hendricks make out achieve,few John Quincy Adams stay even circle,1414526762,1414526762,0,0,0,0
35,794539,0,1,0,794527,1,18448597,next Martin Van Buren zip never health,young Grover Cleveland notice still plastic,1414529537,1414529537,0,0,0,0
36,794541,0,2,0,794527,1,18471129,long James S. Sherman imagine more creature,old Warren G. Harding end never recess,1414529545,1414529545,0,0,0,0
37,794543,0,2,7,794527,1,18569503,big Franklin Pierce do in idea,long Woodrow Wilson take never case,1414529564,1414529564,0,0,0,0
38,794557,3,1,0,794527,1,18627835,little Thomas R. Marshall work how child,great Dan Quayle take up appliance,1414530126,1414530126,0,0,0,0
39,794561,3,2,0,794527,1,18649437,bad Al Gore name too sweater,long Thomas Hendricks kick really plastic,1414530146,1414530146,0,0,0,0
40,794603,0,2,0,794599,1,18287575,long Hannibal Hamlin land here way,first Bill Clinton take down achieve,1414530970,1414530970,0,0,0,0
41,794605,0,1,0,794599,1,18653811,last Calvin Coolidge lock back part,few Lyndon B. Johnson come here route,1414530973,1414530973,0,0,0,0
42,794607,0,1,0,794599,1,18319373,small William Howard Taft seem so volcano,first Calvin Coolidge obey as sweater,1414530977,1414530977,0,0,0,0
43,794801,0,1,0,794799,1,18481649,same Theodore Roosevelt ask when recess,first James Buchanan hug still idea,1414536158,1414536158,0,0,0,0
44,794803,0,1,0,794799,1,18575263,early Franklin Pierce scatter never pleasure,last Ronald Reagan zip here sweater,1414536160,1414536160,0,0,0,0
45,794805,0,2,0,794799,1,51689399,few William King promise how wealth,good John C. Calhoun march never group,1414536168,1414536168,0,0,0,0
46,794967,0,1,0,794965,1,18346169,early Lyndon B. Johnson jump so appliance,bad Alben Barkley walk really thread,1414617054,1414617054,0,0,0,0
47,794969,0,1,0,794965,1,18452185,same Andrew Johnson obey just kitten,early James Buchanan stay there wilderness,1414617057,1414617057,0,0,0,0
48,794971,0,2,7,794965,1,18471115,same James Madison tell there part,other John Quincy Adams allow only temper,1414617068,1414617068,0,0,0,0
49,794985,0,2,6,794965,1,18635459,next Chester Arthur jog very point,big Theodore Roosevelt bang never border,1414617158,1414617158,0,0,0,0
50,795319,0,1,0,795317,1,18382947,great Benjamin Harrison call out company,own Joe Biden call how pleasure,1414625562,1414625562,0,0,0,0
51,795321,0,1,0,795317,1,18609951,early George M. Dallas turn down point,own Charles Fairbanks escape in fruit,1414625565,1414625565,0,0,0,0
52,795323,0,2,0,795317,1,18648793,big Al Gore land more case,important John Nance Garner do now scene,1414625572,1414625572,0,0,0,0
53,795343,0,2,4,795341,1,18410733,same James Madison take up language,own Elbridge Gerry untie back pickle,1414626064,1414626064,0,0,0,0
54,795353,0,1,0,795351,1,18114821,little Hubert Humphrey chase up part,small Charles Dawes rinse just route,1414626217,1414626217,0,0,0,0
55,795355,0,1,0,795351,1,18222401,small George Washington do so plastic,few Calvin Coolidge name never minister,1414626220,1414626220,0,0,0,0
56,795357,0,2,9,795351,1,18345617,early John C. Calhoun work out thing,small Andrew Johnson land only veil,1414626231,1414626231,0,0,0,0
57,795359,0,2,9,795351,1,18729833,old George Bush reach when believe,small Franklin Pierce obey still year,1414626238,1414626238,0,0,0,0
58,795407,0,2,9,795405,1,18246325,right Elbridge Gerry damage too way,high George W. Bush promise very year,1414628042,1414628042,0,0,0,0
59,795409,0,1,0,795405,1,18543323,high John Quincy Adams lock up route,important Franklin D. Roosevelt add here scene,1414628046,1414628046,0,0,0,0
60,795411,0,1,0,795405,1,18404533,old Gerald Ford add never appliance,few John Nance Garner go when able,1414628048,1414628048,0,0,0,0
61,795419,0,1,0,795417,1,18667471,large William Henry Harrison land more laborer,old Levi P. Morton promise also health,1414628217,1414628217,0,0,0,0
62,795421,0,2,0,795417,1,18629527,high Dwight D. Eisenhower rinse there channel,early Abraham Lincoln pass well linen,1414628224,1414628224,0,0,0,0
63,795429,0,1,0,795427,1,18481785,good Richard M. Johnson open more stranger,good James Madison pass as acoustics,1414628500,1414628500,0,0,0,0
64,795431,0,1,0,795427,1,18390415,important John C. Calhoun grab really friction,first Garret Hobart turn in wren,1414628503,1414628503,0,0,0,0
65,795433,0,2,0,795427,1,18390351,little James K. Polk yell in faucet,last James Buchanan imagine how wealth,1414628512,1414628512,0,0,0,0
66,795441,0,1,0,795439,1,18135815,other Aaron Burr jog back lawyer,important John Adams go well channel,1414628635,1414628635,0,0,0,0
67,795443,0,2,3,795439,1,18645575,right Ulysses S. Grant talk up circle,good Gerald Ford open in guitar,1414628644,1414628644,0,0,0,0
68,795451,0,1,0,795449,1,18101953,great James S. Sherman fasten so money,early William Howard Taft go there kitten,1414628958,1414629062,1414629062,0,0,0
69,795453,0,1,0,795449,1,18634965,next Woodrow Wilson hug there afternoon,old Theodore Roosevelt drop there suit,1414628961,1414629062,1414629062,0,0,0
70,795455,0,2,0,795449,1,18735889,same Daniel D. Tompkins tell only life,right George Clinton have there border,1414628968,1414629062,1414629062,0,0,0
71,795457,0,2,3,795449,1,18407657,new Daniel D. Tompkins say also wealth,different George Clinton call now creature,1414628984,1414629063,1414629063,0,0,0
72,796273,0,1,0,796261,1,18381885,young George W. Bush pass up thread,new Thomas R. Marshall scatter in channel,1415039557,1415039557,0,0,0,0
73,796275,0,1,0,796261,1,18398331,large Chester Arthur stay as galley,few George Bush turn very appliance,1415039560,1415039560,0,0,0,0
74,796287,0,1,0,796261,1,18665301,large Warren G. Harding fix never case,long Daniel D. Tompkins end back picture,1415039826,1415039826,0,0,0,0
75,796333,0,1,0,796261,1,18444389,last Charles Fairbanks call still man,early John Quincy Adams end when circle,1415047367,1415047367,0,0,0,0
76,796439,0,1,0,796435,1,18127219,few James S. Sherman try down wealth,next George Bush yell back fuel,1415049295,1415049295,0,0,0,0
77,796499,247,2,0,796435,0,1416269944,the king!,uploaded from OpenFrameworks,1415050489,1415050489,0,0,0,0
78,796505,0,1,0,796261,1,18411361,,,1415050709,1415050545,0,0,0,0
79,796507,0,1,0,796261,1,18677737,,,1415050712,1415050545,0,0,0,0
80,796633,0,1,0,796261,1,18638361,long Bill Clinton seem only scene,last Franklin Pierce go only breakfast,1415053006,1415053006,0,0,0,0
81,796639,0,2,9,796261,1,18698673,other George Washington end in minister,young Thomas R. Marshall look too volcano,1415053025,1415053025,0,0,0,0
82,797843,0,1,0,797837,1,18709977,,,1415133170,1415133191,0,0,0,0
83,797845,0,1,0,797837,1,18474311,,,1415133173,1415133191,0,0,0,0
84,797921,0,1,0,797915,1,18638053,small John Tyler open only activity,new Chester Arthur land well person,1415133426,1415133426,0,0,0,0
85,797923,0,1,0,797915,1,18558397,bad George M. Dallas work when time,young Charles Fairbanks grab then faucet,1415134458,1415134458,0,0,0,0
86,797959,0,1,0,797915,1,18575207,important Dick Cheney think back apparel,same John F. Kennedy mix down railway,1415139703,1415139703,0,0,0,0
87,797961,0,1,0,797915,1,18623307,large George Bush land only galley,good Aaron Burr hug when guide,1415139862,1415139862,0,0,0,0
88,797963,0,1,0,797915,1,18412037,early Ulysses S. Grant do up guitar,young James Buchanan open up day,1415139889,1415139889,0,0,0,0
89,797967,0,1,0,797915,1,18106147,same Ronald Reagan itch as friction,different James A. Garfield bang now number,1415140063,1415140063,0,0,0,0
90,797975,0,1,0,797915,1,18448593,next Daniel D. Tompkins kick there creature,own Al Gore walk here thing,1415141477,1415141477,0,0,0,0
91,798015,0,1,0,797915,1,18616669,early Adlai E. Stevenson rinse very afterthought,big Joe Biden zip then week,1415144225,1415144225,0,0,0,0
92,798017,0,1,0,797915,1,18620731,,,1415143074,1415144279,0,0,0,0
93,798019,0,1,0,797915,1,18468369,,,1415143087,1415144279,0,0,0,0
94,798021,0,1,0,797915,1,18297899,,,1415143099,1415144279,0,0,0,0
95,798023,0,1,0,797915,1,18732773,,,1415144191,1415144279,0,0,0,0
96,798105,0,1,0,797915,1,18500143,,,1415147036,1415147034,0,0,0,0
97,798141,0,1,0,797915,1,51685163,,,1415148932,1415148928,0,0,0,0
98,798145,0,1,0,797915,1,18650749,great Warren G. Harding ask too plastic,great Woodrow Wilson pass as kitten,1415148993,1415148993,0,0,0,0
99,798149,0,1,0,797915,1,18729869,,,1415149000,1415149053,0,0,0,0
100,798151,0,1,0,797915,1,18309223,,,1415149002,1415149053,0,0,0,0
101,798153,0,1,0,797915,1,18402773,,,1415149056,1415149053,0,0,0,0
102,799093,0,1,0,799091,1,18564205,old Franklin D. Roosevelt say only laborer,last Benjamin Harrison say well education,1415231016,1415231016,0,0,0,0
103,799103,0,1,0,799091,1,18104823,right Abraham Lincoln end as pickle,large Hannibal Hamlin feel here caption,1415231038,1415231038,0,0,0,0
104,799105,0,2,3,799091,1,18556599,new Alben Barkley reach then recess,bad James K. Polk see never guide,1415231050,1415231050,0,0,0,0
105,799121,0,2,3,799091,1,18670755,large Ronald Reagan notice there calculator,large Garret Hobart hang never friction,1415231491,1415231491,0,0,0,0
106,799125,0,2,1,799091,1,18634333,few John Nance Garner work when kitten,little Theodore Roosevelt open only education,1415231593,1415231593,0,0,0,0
107,799137,0,2,3,799091,1,18386557,great Millard Fillmore call only reward,bad Warren G. Harding take there railway,1415232011,1415232011,0,0,0,0
108,897091,0,1,0,897063,1,18229731,young Woodrow Wilson work so wrist,other George Washington bang how case,1415903722,1415903722,0,0,0,0
109,897131,0,1,0,897063,1,18667325,,,1415903733,1415903757,0,0,0,0
110,900999,0,1,0,900973,1,18133301,,,1415907215,1415907209,0,0,0,0
111,901001,0,1,0,900973,1,18410589,,,1415907218,1415907209,0,0,0,0
112,902395,0,1,0,897063,1,18647029,,,1415907900,1415907904,0,0,0,0
113,973873,0,1,0,973861,1,18339197,different Harry S Truman yell down woman,little Abraham Lincoln obey never police,1415995532,1415995532,0,0,0,0
114,973881,0,1,0,973861,1,18632553,high John C. Breckinridge hang still faucet,old Herbert Hoover mix now year,1415995536,1415995536,0,0,0,0
115,973883,0,1,0,973861,1,18460985,public Martin Van Buren kick very fuel,great Charles Fairbanks walk how government,1415995538,1415995538,0,0,0,0
116,989615,0,1,0,973861,1,18462145,,,1416012093,1416012088,0,0,0,0
117,989617,0,1,0,973861,1,18471989,,,1416012096,1416012088,0,0,0,0
118,989619,0,1,0,973861,1,18317151,,,1416012098,1416012088,0,0,0,0
119,1048455,0,1,0,1048453,1,18575223,,,1416157179,1416157194,0,0,0,0
120,1049115,0,1,0,1049113,1,18653767,long Grover Cleveland think too minister,small Harry S Truman yawn only day,1416270779,1416270788,0,0,0,0
121,1049119,0,1,0,1049113,1,18647653,young Levi P. Morton walk when day,first Elbridge Gerry vanish even picture,1416270803,1416270803,0,0,0,0
122,1049121,0,2,0,1049113,0,1416270910,last George W. Bush hang more apparel,good Franklin D. Roosevelt feel just caption,1416270910,1416270910,0,0,0,0
123,1049125,0,2,0,1049113,0,1416270945,little Joe Biden get back heart,great Jimmy Carter kick there picture,1416270945,1416270945,0,0,0,0
124,1049127,0,1,0,1049113,1,18704235,big Warren G. Harding know more lumber,young Daniel D. Tompkins end so able,1416270998,1416271042,0,0,0,0
125,1049135,0,1,0,1049133,1,18434539,,,1416200421,1416271873,0,0,0,0
126,1049137,0,1,0,1049133,1,18643141,,,1416200470,1416271657,0,0,0,0
127,1049141,0,1,0,1049133,1,18648931,,,1416200444,1416272187,0,0,0,0
128,1049147,0,1,0,1049133,1,18752821,,,1416200450,1416271657,0,0,0,0
129,1049151,0,1,0,1049133,1,18169581,,,1416200403,1416271873,0,0,0,0
130,1049153,0,1,0,1049133,1,18188419,,,1416200403,1416271873,0,0,0,0
131,1049155,0,1,0,1049133,1,18563983,,,1416200403,1416271873,0,0,0,0
132,1049159,0,1,0,1049133,1,18623029,,,1416200403,1416271873,0,0,0,0
133,1049161,0,1,0,1049133,1,18632937,,,1416200403,1416271873,0,0,0,0
134,1049171,0,2,0,1049133,1,18705953,big Gerald Ford do more lumber,last Garret Hobart pass when friction,1416272265,1416272265,0,0,0,0
135,1049575,0,1,0,1049573,1,18682959,,,1416327420,1416327404,0,0,0,0
136,1049577,0,1,0,1049573,1,18639445,,,1416327424,1416327404,0,0,0,0
137,1049583,0,1,0,1049573,1,18801407,,,1416327795,1416327783,0,0,0,0
138,1049585,0,1,0,1049573,1,18457577,,,1416327798,1416327783,0,0,0,0
139,1049587,0,1,0,1049573,1,18390259,,,1416327802,1416327783,0,0,0,0
140,1049591,0,1,0,1049573,1,18800567,,,1416328250,1416328235,0,0,0,0
141,1049593,0,1,0,1049573,1,18331835,,,1416328253,1416328235,0,0,0,0
142,1049599,0,1,0,1049597,1,18169581,,,1416286839,1416329217,0,0,0,0
143,1049601,0,1,0,1049597,1,18188419,,,1416286839,1416329217,0,0,0,0
144,1049603,0,1,0,1049597,1,18563983,,,1416286839,1416329217,0,0,0,0
145,1049605,0,1,0,1049597,1,18434539,,,1416286839,1416329217,0,0,0,0
146,1049607,0,1,0,1049597,1,18623029,,,1416286839,1416329217,0,0,0,0
147,1049609,0,1,0,1049597,1,18632937,,,1416286839,1416329217,0,0,0,0
148,1049611,0,1,0,1049597,1,18643141,,,1416286842,1416329217,0,0,0,0
149,1049613,0,1,0,1049573,1,18352025,new James Madison fasten so territory,public Spiro Agnew be as pleasure,1416329616,1416329616,0,0,0,0

In [49]:
visitsItems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18479558 entries, 0 to 18479557
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   user_id        int64
 2   action_id      int64
 3   tool_id        int64
 4   bundle_id      int64
 5   refers_to_id   int64
 6   refers_to_uid  int64
 7   title          object
 8   description    object
 9   created        int64
 10  lastmodified   int64
 11  deleted        int64
 12  status_id      int64
 13  processed      int64
 14  input_id       int64
dtypes: int64(13), object(2)
memory usage: 2.1+ GB

In [50]:
visitsItems.nunique()

id               18479558
user_id              1469
action_id               2
tool_id                17
bundle_id          543828
refers_to_id            6
refers_to_uid      411500
title                 418
description           402
created           9386629
lastmodified      1865142
deleted                13
status_id               3
processed            1199
input_id                4
dtype: int64

In [51]:
visitsItems['created'] = pd.to_datetime(visitsItems['created'], unit='s')
visitsItems['lastmodified'] = pd.to_datetime(visitsItems['lastmodified'], unit='s')
visitsItems['deleted'].replace(0, np.nan, inplace=True)
visitsItems['deleted'] = pd.to_datetime(visitsItems['deleted'], unit='s')
visitsItems['status_id'].replace(0, np.nan, inplace=True)
visitsItems['processed'].replace(0, np.nan, inplace=True)
visitsItems['title'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['description'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['title'] = visitsItems['title'].astype('category')
visitsItems['description'] = visitsItems['description'].astype('category')

In [52]:
visitsItems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18479558 entries, 0 to 18479557
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   id             int64
 1   user_id        int64
 2   action_id      int64
 3   tool_id        int64
 4   bundle_id      int64
 5   refers_to_id   int64
 6   refers_to_uid  int64
 7   title          category
 8   description    category
 9   created        datetime64[ns]
 10  lastmodified   datetime64[ns]
 11  deleted        datetime64[ns]
 12  status_id      float64
 13  processed      float64
 14  input_id       int64
dtypes: category(2), datetime64[ns](3), float64(2), int64(8)
memory usage: 1.9 GB

In [53]:
visitsItems.sample()

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
4696506,96037379,0,1,0,96037023,1,18319409,NaN,NaN,2016-03-22 15:06:02,2016-03-22 15:56:06,NaT,NaN,NaN,1

In [54]:
visitsItemsRenditions

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
0,793457,793455,0,,1414081615,1414081615,0,793449
1,793461,793459,3,,1414081679,1414081679,0,793449
2,793497,793495,3,,1414093016,1414093016,0,793449
3,793501,793499,3,,1414094034,1414094034,0,793449
4,793669,793667,3,,1414188096,1414188096,0,793571
...,...,...,...,...,...,...,...,...
365304,132873407,132873405,0,,1595449504,1595449504,0,132777661
365305,132873411,132873409,28814,,1595449610,1595449610,0,132777661
365306,132873415,132873413,28814,,1595449666,1595449666,0,132777661
365307,132873419,132873417,28814,,1595450275,1595450275,0,132777661
365308,132873429,132873427,28814,,1595451289,1595451289,0,132777661

In [55]:
visitsItemsRenditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365309 entries, 0 to 365308
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            365309 non-null  int64
 1   source_id     365309 non-null  int64
 2   user_id       365309 non-null  int64
 3   size          365309 non-null  object
 4   created       365309 non-null  int64
 5   lastmodified  365309 non-null  int64
 6   deleted       365309 non-null  int64
 7   bundle_id     365309 non-null  int64
dtypes: int64(7), object(1)
memory usage: 22.3+ MB

In [56]:
visitsItemsRenditions['created'] = pd.to_datetime(visitsItemsRenditions['created'], unit='s')
visitsItemsRenditions['lastmodified'] = pd.to_datetime(visitsItemsRenditions['lastmodified'], unit='s')
visitsItemsRenditions['deleted'].replace(0, np.nan, inplace=True)
visitsItemsRenditions['deleted'] = pd.to_datetime(visitsItemsRenditions['deleted'], unit='s')
visitsItemsRenditions['size'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)

In [57]:
visitsItemsRenditions.sample()
#source_id
#size

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
210752,110572007,110572005,0,NaN,2016-11-26 22:17:08,2016-11-26 22:17:08,NaT,110011345

In [58]:
visitsStats

              id        date            stat   count
0        3176623  2015-03-10       checkouts   293.0
1        3176625  2015-03-10        checkins   229.0
2        3176627  2015-03-10         created   152.0
3        3176629  2015-03-10       collected  7650.0
4        3176631  2015-03-10     did_nothing    50.0
...          ...         ...             ...     ...
12547  133773835  2020-12-22        checkins     0.0
12548  133773837  2020-12-22         created     0.0
12549  133773839  2020-12-22       collected     0.0
12550  133773841  2020-12-22     did_nothing     0.0
12551  133773843  2020-12-22  avg_time_spent     0.0

[12552 rows x 4 columns]

In [59]:
visitsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12552 entries, 0 to 12551
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12552 non-null  int64
 1   date    12552 non-null  object
 2   stat    12552 non-null  object
 3   count   12552 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 392.4+ KB

In [60]:
visitsStats.nunique()

id       12552
date      2092
stat         6
count     4153
dtype: int64

In [61]:
visitsStats['date'] = pd.to_datetime(visitsStats['date'])
visitsStats['count'].replace(0, np.nan, inplace=True)
visitsStats['count'] = visitsStats['count'].astype(float)
visitsStats['stat'] = visitsStats['stat'].astype('category')

In [62]:
visitsStats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12552 entries, 0 to 12551
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12552 non-null  int64
 1   date    12552 non-null  datetime64[ns]
 2   stat    12552 non-null  category
 3   count   10380 non-null  float64
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 306.8 KB

In [63]:
visits.sample()
#visit id... 
#paired?
#ip..
#exported?

,id,shortcode,user_id,created,lastmodified,registered,expires,paired,ticket,deleted,created_ip,registered_ip,paired_ip,processed,purchased_by_user_id,note,exported,first_accessed,ignore_first_accessed,title
422986,117838893,5v4tw,0,2017-08-04 14:06:46,2017-08-04 14:06:47,2017-08-04 14:06:47,0,NaT,"{""status"":""Attendance recorded for ticket: 568...",NaT,645894030.0,645894030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
visitsItems.sample()
#refer to id? vs refer to uid?
#status id? 
#processed?
#description/ title...

,id,user_id,action_id,tool_id,bundle_id,refers_to_id,refers_to_uid,title,description,created,lastmodified,deleted,status_id,processed,input_id
2481113,90066327,0,1,0,90057511,1,68730187,NaN,NaN,2015-11-11 18:03:22,2015-11-11 18:30:59,NaT,NaN,NaN,1

In [65]:
visitsItemsRenditions.sample()
#source_id
#size

,id,source_id,user_id,size,created,lastmodified,deleted,bundle_id
232425,112514819,112514809,0,NaN,2017-02-19 21:22:55,2017-02-19 21:22:55,NaT,112512371

In [66]:
visitsStats.sample()
#count? + did nothing?
#visit id? i guess so...

             id       date     stat  count
2750  104324325 2016-06-09  created  319.0