In [1]:
import pandas as pd

In [11]:
data = [{'total visits': 119850,'items collected': 2848435, 'collected items': 96250,' did nothing': 30074},
        {'total visits': 212266,'items collected': 7588938, 'collected items': 129156, '% post-engagment': 15.4,' did nothing': 27851},
        {'total visits':140780,'items collected': 3344537, 'collected items': 75204, '% post-engagment': 31.6,' did nothing': 24293},
        {'total visits':127085,'items collected': 1581586, 'collected items': 29831, '% post-engagment': 14.8,' did nothing': 35602},
        {'total visits':31250,'items collected': 1304527, 'collected items': 25738, '% post-engagment': 15.4,' did nothing': 25781}]

In [12]:
df = pd.DataFrame(data, index =[2015, 
                                2016, 
                                2017, 
                                2018,
                                2019])

In [13]:
df

,total visits,items collected,collected items,did nothing,% post-engagment
2015,119850,2848435,96250,30074,NaN
2016,212266,7588938,129156,27851,15.4
2017,140780,3344537,75204,24293,31.6
2018,127085,1581586,29831,35602,14.8
2019,31250,1304527,25738,25781,15.4