In [14]:
import pandas as pd
import numpy as np

In [17]:
data = [{'total visits': 119850,'collected items': 2848435, 'created items': 96250,' did nothing': 27959},
        {'total visits': 212266,'collected items': 7588938, 'created items': 129156, '% post-engagment': 15.7,' did nothing': 24889},
        {'total visits':140780,'collected items': 3344537, 'created items': 75204, '% post-engagment': 32,' did nothing': 21525},
        {'total visits':127085,'collected items': 1581586, 'created items': 29831, '% post-engagment': 15.2,' did nothing': 32013},
        {'total visits':31250,'collected items': 1304527, 'created items': 25738, '% post-engagment': 15.5,' did nothing': 23180},
       {'total visits':16609,'collected items': 241677, 'created items': 3356, '% post-engagment': 17.8,' did nothing': 5441}]

In [18]:
df = pd.DataFrame(data, index =[2015, 
                                2016, 
                                2017, 
                                2018,
                                2019, 
                                2020])

In [19]:
df['% post-engagment'].replace(np.NaN, '--', regex=True, inplace=True)

In [20]:
df

,total visits,collected items,created items,did nothing,% post-engagment
2015,119850,2848435,96250,27959,--
2016,212266,7588938,129156,24889,15.7
2017,140780,3344537,75204,21525,32
2018,127085,1581586,29831,32013,15.2
2019,31250,1304527,25738,23180,15.5
2020,16609,241677,3356,5441,17.8