In [3]:
import mysql.connector as sql
import pandas as pd
import datetime as dt
import numpy as np
from sorted_months_weekdays import *
from sort_dataframeby_monthorweek import *
import matplotlib.pyplot as plt
from scipy.stats.mstats import mode
import json
import pickle
from itertools import chain, combinations

In [6]:
  f = open("/Users/shirin/other_projects/cooper_hewitt/Pen_Data_Dictionary/relation_counts.json", "rb")
  data = pickle.load(f)
  f.close()

In [13]:
pd.DataFrame.from_dict(data,orient='index')

                                           0
(68268461, 18802401, 68268251)             2
(35457321, 18325257, 68268241, 68268227)   2
(35457109, 51866827)                       2
(35520549, 18802401, 68268243, 68268229)   2
(35457321, 35460389, 35520549, 68268235)   2
...                                       ..
(51689393, 18325257, 35457109, 18802401)  29
(35457317, 35520541, 35460389)            29
(35457317, 18325257, 35460389, 18802401)  29
(51689393, 35457319, 18325257, 18802401)  29
(35460389, 35520549, 18802401)            29

[4613044 rows x 1 columns]

In [3]:
db_connection = sql.connect(host='localhost', database='collection_visits', user='pandas', password='password')

visitsItems = pd.read_sql('SELECT * FROM VisitsItems', con=db_connection)
visitsItems['created'] = pd.to_datetime(visitsItems['created'], unit='s')
visitsItems['lastmodified'] = pd.to_datetime(visitsItems['lastmodified'], unit='s')
visitsItems['deleted'].replace(0, np.nan, inplace=True)
visitsItems['deleted'] = pd.to_datetime(visitsItems['deleted'], unit='s')
visitsItems['title'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['description'].replace(r'^\s*$', np.NaN, regex=True, inplace=True)
visitsItems['title'] = visitsItems['title'].astype('category')
visitsItems['description'] = visitsItems['description'].astype('category')

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option("max_colwidth", 500)

In [5]:
#in order to look by visits id.
#i can look by created - by day, items that usually were collected together by day. 
#or ii can look by user id - but wwith user 0.

In [6]:
#starting without user == 0. to merge on user id
visitsItems_clean = visitsItems.drop(['refers_to_id', 'deleted','status_id', 'processed', 'input_id'], axis=1)
visitsItems_clean = visitsItems_clean[visitsItems_clean['user_id'] !=0]

In [7]:
visitsItems_small = visitsItems[['user_id', 'refers_to_uid', 'created']]

In [8]:
visitsItems_small = visitsItems_small[visitsItems_small['user_id'] != 0]

In [9]:
visitsItems_small

          user_id  refers_to_uid             created
3               3       18476565 2014-10-23 16:27:59
4               3       18628929 2014-10-23 19:36:56
5               3       18466243 2014-10-23 19:53:54
6               3       18445757 2014-10-23 19:56:42
7               3       18634081 2014-10-24 02:05:21
...           ...            ...                 ...
18479552    28814     1595448288 2020-07-22 20:04:48
18479554    28814     1595449610 2020-07-22 20:26:50
18479555    28814     1595449666 2020-07-22 20:27:46
18479556    28814     1595450275 2020-07-22 20:37:55
18479557    28814     1595451288 2020-07-22 20:54:48

[97273 rows x 3 columns]

In [38]:
f = lambda x: mode(x, axis=None)[0]
visitsItems_small.groupby('user_id').apply(f)

user_id
3            [3.0]
142        [142.0]
158        [158.0]
247        [247.0]
283        [283.0]
           ...
30271    [30271.0]
30383    [30383.0]
30401    [30401.0]
30414    [30414.0]
30486    [30486.0]
Length: 1468, dtype: object

In [9]:
visitsItems_small.set_index('created', inplace=True)

In [10]:
visitsItems_opening_hours = visitsItems_small.between_time('10:00', '18:00')

In [11]:
visitsItems_opening_hours.reset_index(inplace=True)

In [13]:
visitsItems_opening_group = visitsItems_opening_hours.groupby(['user_id', 'refers_to_uid'])
visitsItems_opening_group.first().head(500)

                                  created
user_id refers_to_uid
3       18220487      2015-02-02 17:02:55
        18325257      2015-02-20 17:49:21
        18394375      2014-10-24 15:16:14
        18476565      2014-10-23 16:27:59
        18489807      2014-10-24 16:08:46
        18500009      2014-10-27 17:59:39
        18503039      2015-02-24 17:15:56
        18620817      2014-12-16 17:15:55
        18639109      2015-02-20 17:48:38
        18648865      2014-12-16 17:47:49
        18649321      2015-02-20 17:45:51
        18703483      2015-02-20 17:47:26
        18705931      2015-02-20 17:45:33
        18710413      2014-12-16 17:48:58
        18730767      2015-02-24 17:16:00
        18802401      2015-02-20 17:49:21
        18805891      2015-02-24 17:16:16
        35456853      2015-02-20 17:45:33
        35457109      2015-02-20 17:49:21
        35457285      2015-02-20 17:48:45
        35457317      2015-02-20 17:49:21
        35457319      2015-02-20 17:49:21
        35457321      2015-02-20 17:49:21
        35460389      2015-02-20 17:49:21
        35460703      2015-02-20 17:49:05
        35460713      2015-02-20 17:49:21
        35460835      2015-02-20 17:45:33
        35520541      2015-02-20 17:49:21
        35520549      2015-02-20 17:49:21
        35520989      2015-02-20 17:48:20
        51497635      2015-02-20 17:45:59
        51689393      2015-02-20 17:49:21
        51866827      2015-02-20 17:46:13
        68244063      2015-02-20 17:45:33
        68245549      2015-02-20 17:45:33
        68268059      2015-02-20 17:45:33
        68268227      2015-02-20 17:46:36
        68268229      2015-02-20 17:46:36
        68268233      2015-02-20 17:46:36
        68268235      2015-02-20 17:46:36
        68268237      2015-02-20 17:46:36
        68268239      2015-02-20 17:46:36
        68268241      2015-02-20 17:46:36
        68268243      2015-02-20 17:46:36
        68268245      2015-02-20 17:46:36
        68268247      2015-02-20 17:46:36
        68268251      2015-02-20 17:46:36
        68268253      2015-02-20 17:46:36
        68268255      2015-02-20 17:46:36
        68268461      2015-02-20 17:49:21
        68731001      2015-02-20 17:45:33
        68731009      2015-02-20 17:45:33
        68743599      2015-02-20 17:46:40
142     18102519      2015-03-05 13:44:05
        18105927      2015-03-05 13:41:39
        18112399      2015-03-05 13:42:05
        18122837      2015-03-05 13:42:07
        18133903      2015-03-05 13:41:44
        18134343      2015-03-05 13:41:42
        18180127      2015-03-05 13:41:54
        18187735      2015-03-05 13:41:34
        18312379      2015-03-05 13:41:48
        18312733      2015-03-05 13:41:57
        18312735      2015-03-05 13:41:57
        18316217      2015-03-05 13:41:32
        18318573      2015-03-05 13:41:52
        18348701      2015-03-05 13:42:50
        18349723      2015-03-05 13:42:03
        18407533      2015-03-05 13:46:34
        18429505      2015-03-05 13:52:54
        18444031      2015-03-05 13:44:28
        18468717      2015-03-05 13:42:48
        18471589      2015-03-05 13:45:08
        18490057      2015-03-05 13:45:41
        18500703      2015-03-05 13:44:34
        18610125      2015-03-05 13:44:59
        18633615      2015-03-05 13:58:34
        18634859      2015-03-05 13:44:29
        18636425      2015-03-05 13:40:00
        18637815      2015-03-05 13:47:39
        18643095      2015-03-05 13:42:45
        18649487      2015-03-05 13:46:33
        18697983      2015-03-05 13:47:35
        18703479      2015-03-05 13:38:46
        18703485      2015-03-05 13:38:48
        18705481      2015-03-05 13:42:42
        18705675      2015-07-02 14:30:49
        18705867      2015-03-05 13:45:06
        18709775      2015-03-05 13:49:08
        18712511      2015-03-05 13:45:36
        18729815      2015-03-05 13:43:31
        18730781      2015-03-05 13:47:31
        18731999      2015-03-05 13:44:31
        18732295      2015-03-05 13:58:32
        18733539      2015-03-05 13:47:40
        18733547      2015-03-05 13:37:51
        18755645      2015-03-05 13:43:00
        18757379      2015-03-05 13:45:09
        18758389      2015-07-02 14:21:40
        18760611      2015-03-05 13:38:10
        18788227      2015-03-05 13:44:27
        18790795      2015-03-05 13:59:03
        18790805      2015-03-05 13:59:03
        18790811      2015-03-05 13:58:48
        18790817      2015-03-05 13:59:03
        18790823      2015-03-05 13:59:03
        18790839      2015-03-05 13:59:02
        18790843      2015-03-05 13:58:48
        18790845      2015-03-05 13:58:48
        18790855      2015-03-05 13:58:48
        35456813      2015-03-05 13:40:26
        35456827      2015-03-05 13:40:33
        35456885      2015-03-05 13:40:31
        35457159      2015-03-05 13:52:55
        35457161      2015-03-05 13:49:31
        35457257      2015-03-05 13:50:33
        35457281      2015-03-05 13:50:11
        35460311      2015-03-05 13:49:10
        35460347      2015-03-05 13:52:52
        35460703      2015-03-05 13:53:37
        35460719      2015-03-05 13:49:33
        35460731      2015-03-05 13:52:29
        35460755      2015-03-05 13:53:32
        35520465      2015-03-05 13:50:15
        35520511      2015-03-05 13:50:41
        35520517      2015-03-05 13:50:44
        35520527      2015-03-05 13:50:00
        35520535      2015-03-05 13:51:59
        35520537      2015-03-05 13:50:42
        35520557      2015-03-05 13:49:58
        35520645      2015-03-05 13:45:46
        51497517      2015-03-05 13:44:24
        51497585      2015-03-05 13:50:24
        51497609      2015-03-05 13:58:59
        51497611      2015-03-05 14:00:00
        51497623      2015-03-05 14:00:01
        51497635      2015-03-05 13:58:38
        51497637      2015-03-05 13:58:39
        51497737      2015-03-05 13:59:57
        51497743      2015-03-05 13:59:54
        51681337      2015-03-05 13:37:17
        51681755      2015-03-05 13:59:46
        51682295      2015-03-05 13:49:23
        51682299      2015-03-05 13:49:23
        51682307      2015-03-05 13:49:23
        51682391      2015-03-05 13:49:25
        51682399      2015-03-05 13:49:25
        51682405      2015-03-05 13:49:25
        51682409      2015-03-05 13:49:25
        51682441      2015-03-05 13:49:25
        51682445      2015-03-05 13:49:25
        51682449      2015-03-05 13:49:25
        51682467      2015-03-05 13:49:25
        51682471      2015-03-05 13:49:25
        51682477      2015-03-05 13:49:25
        51682481      2015-03-05 13:49:25
        51682485      2015-03-05 13:49:25
        51682493      2015-03-05 13:49:25
        51682583      2015-03-05 13:49:18
        51682585      2015-03-05 13:51:27
        51682595      2015-03-05 13:49:20
        51682597      2015-03-05 13:49:20
        51682601      2015-03-05 13:49:20
        51682603      2015-03-05 13:49:20
        51682605      2015-03-05 13:49:20
        51682607      2015-03-05 13:49:20
        51682609      2015-03-05 13:49:20
        51682611      2015-03-05 13:49:20
        51689317      2015-03-05 13:59:46
        51689363      2015-03-05 13:58:28
        51689399      2015-03-05 13:50:09
        51689425      2015-07-02 14:21:12
        51689427      2015-07-02 14:21:12
        68250529      2015-03-05 13:59:07
        68250579      2015-03-05 13:59:06
        68250891      2015-03-05 13:38:12
        68267851      2015-03-05 13:59:06
        68267861      2015-03-05 13:59:06
        68267923      2015-03-05 13:59:06
        68267937      2015-03-05 13:59:06
        68743487      2015-03-05 13:38:02
        68743531      2015-03-05 13:56:49
        68743535      2015-03-05 13:56:53
        68743553      2015-03-05 13:56:52
        68743581      2015-03-05 13:40:55
        68764307      2015-03-05 13:58:54
        68782469      2015-03-05 13:46:31
        68782479      2015-03-05 13:58:53
        68813715      2015-03-05 13:40:14
158     18155285      2015-02-03 17:27:37
        18188419      2015-02-03 17:27:37
        18328673      2015-02-03 17:27:40
        18349933      2015-02-03 17:27:37
        18430127      2015-02-03 17:51:45
        18633053      2015-02-03 17:27:37
        18648931      2015-02-03 17:27:37
        18752821      2015-02-03 17:27:37
247     18094907      2015-02-20 16:38:20
        18095153      2015-02-23 16:05:56
        18095297      2015-02-20 15:26:32
        18095695      2015-02-21 12:11:36
        18096737      2015-02-20 16:33:30
        18097523      2015-02-21 12:32:26
        18098231      2015-02-20 15:27:12
        18098925      2015-02-23 14:40:12
        18100013      2015-02-20 16:38:20
        18100019      2015-02-23 13:36:44
        18100271      2015-02-21 11:15:14
        18100965      2015-02-21 11:35:42
        18101213      2015-02-22 15:55:30
        18101241      2015-02-21 11:23:28
        18101409      2015-02-20 16:39:40
        18101779      2015-02-20 16:31:42
        18101891      2015-02-20 15:53:32
        18102111      2015-02-22 15:58:16
        18104267      2015-02-26 17:06:50
        18104433      2015-02-21 11:41:36
        18104851      2015-02-21 12:25:58
        18105393      2015-02-23 15:33:42
        18105969      2015-02-20 15:29:18
        18107345      2015-02-20 15:36:00
        18107385      2015-02-20 16:05:04
        18107497      2015-02-20 15:34:26
        18107535      2015-02-20 16:35:00
        18107759      2015-02-20 16:31:42
        18107823      2015-02-21 12:14:08
        18107837      2015-02-21 12:30:20
        18108473      2015-02-20 15:43:34
        18108909      2015-02-21 12:38:36
        18109017      2015-02-21 11:22:46
        18109183      2015-02-20 17:02:16
        18109205      2015-02-23 15:43:14
        18109285      2015-02-20 15:41:10
        18109329      2015-02-26 17:06:00
        18109687      2015-02-21 11:51:50
        18109857      2015-02-24 10:45:56
        18109919      2015-02-20 15:43:34
        18110693      2015-02-21 12:08:46
        18110727      2015-02-22 17:13:36
        18111079      2015-02-22 17:12:26
        18111145      2015-02-20 16:35:00
        18111589      2015-02-26 17:08:18
        18111629      2015-02-21 11:43:10
        18112319      2015-02-21 12:14:08
        18112743      2015-02-23 12:18:28
        18113547      2015-02-21 11:41:36
        18113635      2015-02-26 17:05:12
        18114195      2015-02-23 14:45:20
        18114459      2015-02-23 14:52:08
        18115345      2015-02-21 12:31:42
        18115521      2015-02-23 16:13:50
        18115887      2015-02-21 11:42:20
        18115921      2015-02-20 17:03:00
        18117869      2015-02-23 16:13:02
        18117989      2015-02-20 15:50:10
        18118465      2015-02-23 16:31:30
        18118967      2015-02-20 15:48:32
        18119055      2015-02-20 16:05:04
        18119199      2015-02-20 15:33:42
        18119301      2015-02-26 17:05:12
        18119689      2015-02-23 14:41:38
        18119805      2015-02-20 15:47:22
        18120413      2015-02-20 15:53:32
        18120419      2015-02-20 15:29:58
        18120475      2015-02-20 17:03:00
        18120843      2015-02-20 15:46:10
        18121277      2015-02-20 16:33:30
        18121621      2015-02-21 11:48:02
        18122359      2015-02-21 11:45:28
        18122387      2015-02-23 16:32:52
        18122393      2015-02-23 14:45:20
        18122439      2015-02-20 15:25:34
        18122449      2015-02-20 15:29:18
        18122853      2015-02-20 16:31:42
        18123897      2015-02-26 17:05:12
        18123933      2015-02-21 12:03:10
        18124111      2015-02-22 17:13:36
        18124293      2015-02-22 15:55:30
        18124685      2015-02-21 11:23:28
        18124729      2015-02-20 15:27:56
        18125587      2015-02-21 11:49:48
        18125725      2015-02-21 11:45:28
        18125833      2015-02-21 11:36:16
        18127065      2015-02-20 15:38:02
        18127817      2015-02-20 15:33:42
        18128731      2015-02-22 17:15:18
        18128977      2015-02-20 17:01:34
        18129117      2015-02-21 11:36:16
        18129387      2015-02-21 12:34:42
        18129631      2015-02-26 17:08:18
        18129903      2015-02-23 16:44:02
        18130375      2015-02-20 16:30:40
        18130471      2015-02-23 15:32:32
        18130487      2015-02-23 16:13:50
        18130553      2015-02-23 16:34:46
        18130783      2015-02-26 17:06:00
        18130795      2015-02-23 16:32:52
        18130847      2015-02-21 12:33:22
        18130871      2015-02-21 11:41:36
        18130991      2015-02-23 16:03:10
        18131145      2015-02-21 11:36:16
        18131363      2015-02-21 11:20:32
        18131489      2015-02-20 15:26:32
        18131505      2015-02-21 11:18:30
        18131829      2015-02-21 11:55:14
        18132179      2015-02-23 16:05:56
        18133391      2015-02-26 17:55:20
        18133707      2015-02-20 16:38:20
        18133937      2015-02-20 15:52:28
        18134005      2015-02-23 14:40:12
        18134265      2015-02-20 17:03:00
        18134271      2015-02-23 12:19:10
        18134841      2015-02-20 15:50:10
        18135245      2015-02-21 11:31:14
        18135655      2015-02-20 15:26:32
        18136281      2015-02-21 11:37:32
        18136891      2015-02-23 15:34:28
        18137315      2015-02-21 11:33:20
        18137441      2015-02-20 15:50:10
        18137667      2015-02-23 16:18:46
        18137715      2015-02-23 16:27:50
        18138101      2015-02-23 16:18:46
        18138767      2015-02-23 16:20:22
        18139831      2015-02-20 16:33:30
        18140559      2015-02-20 15:38:02
        18141047      2015-02-21 11:18:30
        18141423      2015-02-20 16:38:20
        18141539      2015-02-23 15:13:32
        18142119      2015-02-23 16:30:30
        18142305      2015-02-21 12:33:22
        18143233      2015-02-21 11:51:50
        18143239      2015-02-23 14:41:38
        18143317      2015-02-23 16:05:56
        18143443      2015-02-20 15:44:54
        18143499      2015-02-21 11:40:12
        18144159      2015-02-23 16:13:02
        18144353      2015-02-22 17:12:26
        18144903      2015-02-21 11:57:40
        18144917      2015-02-23 14:35:06
        18145191      2015-02-21 11:35:42
        18145511      2015-02-21 12:30:20
        18146043      2015-02-20 15:57:32
        18146475      2015-02-21 11:36:16
        18146879      2015-02-21 10:47:56
        18146993      2015-02-23 15:13:32
        18147875      2015-02-20 15:47:22
        18147921      2015-02-23 14:52:54
        18148155      2015-02-23 16:48:02
        18151859      2015-02-20 16:37:00
        18152723      2015-02-21 12:27:36
        18152769      2015-02-26 17:07:36
        18152837      2015-02-20 15:29:58
        18153209      2015-02-23 16:13:02
        18153397      2015-02-23 13:44:28
        18153401      2015-02-23 16:27:50
        18153443      2015-02-26 17:04:32
        18153743      2015-02-22 17:15:18
        18154163      2015-02-23 15:43:14
        18154241      2015-02-23 15:43:14
        18154691      2015-02-23 16:20:22
        18154923      2015-02-23 13:27:48
        18154999      2015-02-20 15:46:10
        18155467      2015-02-21 11:23:28
        18155643      2015-02-21 12:14:08
        18157005      2015-02-23 14:38:56
        18157101      2015-02-22 10:28:30
        18157781      2015-02-20 15:59:54
        18157805      2015-02-20 16:30:40
        18157865      2015-02-20 15:34:26
        18158069      2015-02-20 15:38:02
        18158303      2015-02-20 15:46:10
        18158573      2015-02-23 16:05:10
        18159551      2015-02-20 15:59:54
        18159933      2015-02-23 16:05:56
        18159985      2015-02-23 16:22:02
        18160225      2015-02-21 12:27:36
        18162785      2015-02-21 12:02:26
        18163481      2015-02-23 14:47:20
        18163793      2015-02-21 11:43:10
        18164073      2015-02-23 16:05:10
        18164079      2015-02-26 17:06:50
        18164203      2015-02-20 15:27:56
        18164333      2015-02-23 16:13:02
        18165621      2015-02-21 12:37:24
        18165647      2015-02-21 11:25:26
        18166425      2015-02-21 12:27:36
        18166479      2015-02-20 16:38:20
        18167373      2015-02-21 11:36:16
        18167437      2015-02-23 15:44:56
        18167809      2015-02-21 12:03:10
        18168097      2015-02-23 16:27:10
        18168649      2015-02-26 17:08:18
        18170051      2015-02-20 16:37:00
        18170743      2015-02-20 15:28:34
        18170813      2015-02-21 12:36:04
        18171605      2015-02-23 14:40:58
        18171709      2015-02-20 15:50:10
        18171721      2015-02-21 11:56:54
        18172041      2015-02-20 15:41:10
        18172169      2015-02-20 15:36:50
        18172273      2015-02-20 16:41:00
        18172691      2015-02-23 16:27:50
        18173025      2015-02-26 17:06:00
        18173723      2015-02-26 17:55:20
        18174011      2015-02-23 14:52:08
        18174053      2015-02-20 15:59:54
        18174069      2015-02-21 11:56:54
        18174793      2015-02-20 15:46:10
        18175035      2015-02-20 15:36:50
        18175227      2015-02-21 11:42:20
        18175285      2015-02-20 15:26:32
        18175665      2015-02-23 16:03:56
        18175913      2015-02-22 15:56:34
        18176115      2015-02-20 16:38:20
        18176267      2015-02-20 16:30:40
        18177009      2015-02-22 17:13:36
        18178001      2015-02-20 17:02:16
        18180539      2015-02-23 16:05:56
        18180795      2015-02-20 15:44:54
        18180965      2015-02-21 11:41:36
        18181051      2015-02-20 17:02:16
        18181307      2015-02-22 15:56:34
        18181491      2015-02-21 11:35:04
        18181613      2015-02-20 16:30:40
        18181977      2015-02-20 15:51:06
        18181991      2015-02-20 15:53:32
        18182375      2015-02-20 15:38:02
        18182499      2015-02-20 17:02:16
        18182585      2015-02-21 11:42:20
        18182613      2015-02-21 10:56:12
        18183165      2015-02-21 11:31:14
        18183647      2015-02-22 15:58:16
        18184113      2015-02-23 16:02:24
        18184359      2015-02-22 10:14:34
        18184481      2015-02-23 16:31:30
        18185393      2015-02-21 11:21:44
        18185549      2015-02-20 16:39:40
        18186451      2015-02-21 11:22:46
        18186609      2015-02-21 12:25:58
        18187423      2015-02-26 17:47:28
        18188235      2015-02-20 15:53:32
        18188329      2015-02-21 11:48:02
        18189043      2015-02-23 16:13:50
        18189533      2015-02-23 16:44:02
        18189633      2015-02-23 14:47:20
        18190627      2015-02-20 15:42:18
        18191311      2015-02-23 16:27:50
        18191503      2015-02-21 11:42:20
        18191715      2015-02-21 11:35:42
        18191899      2015-02-20 16:35:00
        18191907      2015-02-20 15:43:34
        18192371      2015-02-20 15:41:10
        18192439      2015-02-21 11:17:10
        18193113      2015-02-21 12:25:58
        18193563      2015-02-23 13:27:48
        18193805      2015-02-20 15:41:10
        18193949      2015-02-23 16:35:30
        18194111      2015-02-20 16:42:20
        18194431      2015-02-21 12:32:26
        18194839      2015-02-21 12:36:04
        18195087      2015-02-20 15:42:18
        18195679      2015-02-21 11:37:32
        18196039      2015-02-21 12:11:36
        18196045      2015-02-21 12:14:08
        18196393      2015-02-21 11:37:32
        18196525      2015-02-21 11:37:32
        18196545      2015-02-21 10:55:34
        18196597      2015-02-20 16:41:00
        18196737      2015-02-21 11:53:32
        18196743      2015-02-20 17:03:00
        18196907      2015-02-20 16:37:00
        18196919      2015-02-23 14:45:20
        18197217      2015-02-21 11:22:46
        18197315      2015-02-20 15:28:34

In [81]:
visitsItems_opening_group_first = visitsItems_opening_group.first()

In [101]:
visitsItems_opening_group_first

                                  created
user_id refers_to_uid
3       18220487      2015-02-02 17:02:55
        18325257      2015-02-20 17:49:21
        18394375      2014-10-24 15:16:14
        18476565      2014-10-23 16:27:59
        18489807      2014-10-24 16:08:46
...                                   ...
30401   2318800187    2020-02-16 17:04:29
        2318800201    2020-02-16 17:06:19
        2318800227    2020-02-16 17:08:51
        2318800228    2020-02-16 17:08:17
        2318800232    2020-02-16 17:12:44

[34274 rows x 1 columns]

In [15]:
def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(len(s)+1))

In [16]:
list(powerset(visitsItems_list[2]))

[(),
 (18155285,),
 (18188419,),
 (18349933,),
 (18633053,),
 (18648931,),
 (18752821,),
 (18328673,),
 (18430127,),
 (18155285, 18188419),
 (18155285, 18349933),
 (18155285, 18633053),
 (18155285, 18648931),
 (18155285, 18752821),
 (18155285, 18328673),
 (18155285, 18430127),
 (18188419, 18349933),
 (18188419, 18633053),
 (18188419, 18648931),
 (18188419, 18752821),
 (18188419, 18328673),
 (18188419, 18430127),
 (18349933, 18633053),
 (18349933, 18648931),
 (18349933, 18752821),
 (18349933, 18328673),
 (18349933, 18430127),
 (18633053, 18648931),
 (18633053, 18752821),
 (18633053, 18328673),
 (18633053, 18430127),
 (18648931, 18752821),
 (18648931, 18328673),
 (18648931, 18430127),
 (18752821, 18328673),
 (18752821, 18430127),
 (18328673, 18430127),
 (18155285, 18188419, 18349933),
 (18155285, 18188419, 18633053),
 (18155285, 18188419, 18648931),
 (18155285, 18188419, 18752821),
 (18155285, 18188419, 18328673),
 (18155285, 18188419, 18430127),
 (18155285, 18349933, 18633053),
 (18155285, 18349933, 18648931),
 (18155285, 18349933, 18752821),
 (18155285, 18349933, 18328673),
 (18155285, 18349933, 18430127),
 (18155285, 18633053, 18648931),
 (18155285, 18633053, 18752821),
 (18155285, 18633053, 18328673),
 (18155285, 18633053, 18430127),
 (18155285, 18648931, 18752821),
 (18155285, 18648931, 18328673),
 (18155285, 18648931, 18430127),
 (18155285, 18752821, 18328673),
 (18155285, 18752821, 18430127),
 (18155285, 18328673, 18430127),
 (18188419, 18349933, 18633053),
 (18188419, 18349933, 18648931),
 (18188419, 18349933, 18752821),
 (18188419, 18349933, 18328673),
 (18188419, 18349933, 18430127),
 (18188419, 18633053, 18648931),
 (18188419, 18633053, 18752821),
 (18188419, 18633053, 18328673),
 (18188419, 18633053, 18430127),
 (18188419, 18648931, 18752821),
 (18188419, 18648931, 18328673),
 (18188419, 18648931, 18430127),
 (18188419, 18752821, 18328673),
 (18188419, 18752821, 18430127),
 (18188419, 18328673, 18430127),
 (18349933, 18633053, 18648931),
 (18349933, 18633053, 18752821),
 (18349933, 18633053, 18328673),
 (18349933, 18633053, 18430127),
 (18349933, 18648931, 18752821),
 (18349933, 18648931, 18328673),
 (18349933, 18648931, 18430127),
 (18349933, 18752821, 18328673),
 (18349933, 18752821, 18430127),
 (18349933, 18328673, 18430127),
 (18633053, 18648931, 18752821),
 (18633053, 18648931, 18328673),
 (18633053, 18648931, 18430127),
 (18633053, 18752821, 18328673),
 (18633053, 18752821, 18430127),
 (18633053, 18328673, 18430127),
 (18648931, 18752821, 18328673),
 (18648931, 18752821, 18430127),
 (18648931, 18328673, 18430127),
 (18752821, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18633053),
 (18155285, 18188419, 18349933, 18648931),
 (18155285, 18188419, 18349933, 18752821),
 (18155285, 18188419, 18349933, 18328673),
 (18155285, 18188419, 18349933, 18430127),
 (18155285, 18188419, 18633053, 18648931),
 (18155285, 18188419, 18633053, 18752821),
 (18155285, 18188419, 18633053, 18328673),
 (18155285, 18188419, 18633053, 18430127),
 (18155285, 18188419, 18648931, 18752821),
 (18155285, 18188419, 18648931, 18328673),
 (18155285, 18188419, 18648931, 18430127),
 (18155285, 18188419, 18752821, 18328673),
 (18155285, 18188419, 18752821, 18430127),
 (18155285, 18188419, 18328673, 18430127),
 (18155285, 18349933, 18633053, 18648931),
 (18155285, 18349933, 18633053, 18752821),
 (18155285, 18349933, 18633053, 18328673),
 (18155285, 18349933, 18633053, 18430127),
 (18155285, 18349933, 18648931, 18752821),
 (18155285, 18349933, 18648931, 18328673),
 (18155285, 18349933, 18648931, 18430127),
 (18155285, 18349933, 18752821, 18328673),
 (18155285, 18349933, 18752821, 18430127),
 (18155285, 18349933, 18328673, 18430127),
 (18155285, 18633053, 18648931, 18752821),
 (18155285, 18633053, 18648931, 18328673),
 (18155285, 18633053, 18648931, 18430127),
 (18155285, 18633053, 18752821, 18328673),
 (18155285, 18633053, 18752821, 18430127),
 (18155285, 18633053, 18328673, 18430127),
 (18155285, 18648931, 18752821, 18328673),
 (18155285, 18648931, 18752821, 18430127),
 (18155285, 18648931, 18328673, 18430127),
 (18155285, 18752821, 18328673, 18430127),
 (18188419, 18349933, 18633053, 18648931),
 (18188419, 18349933, 18633053, 18752821),
 (18188419, 18349933, 18633053, 18328673),
 (18188419, 18349933, 18633053, 18430127),
 (18188419, 18349933, 18648931, 18752821),
 (18188419, 18349933, 18648931, 18328673),
 (18188419, 18349933, 18648931, 18430127),
 (18188419, 18349933, 18752821, 18328673),
 (18188419, 18349933, 18752821, 18430127),
 (18188419, 18349933, 18328673, 18430127),
 (18188419, 18633053, 18648931, 18752821),
 (18188419, 18633053, 18648931, 18328673),
 (18188419, 18633053, 18648931, 18430127),
 (18188419, 18633053, 18752821, 18328673),
 (18188419, 18633053, 18752821, 18430127),
 (18188419, 18633053, 18328673, 18430127),
 (18188419, 18648931, 18752821, 18328673),
 (18188419, 18648931, 18752821, 18430127),
 (18188419, 18648931, 18328673, 18430127),
 (18188419, 18752821, 18328673, 18430127),
 (18349933, 18633053, 18648931, 18752821),
 (18349933, 18633053, 18648931, 18328673),
 (18349933, 18633053, 18648931, 18430127),
 (18349933, 18633053, 18752821, 18328673),
 (18349933, 18633053, 18752821, 18430127),
 (18349933, 18633053, 18328673, 18430127),
 (18349933, 18648931, 18752821, 18328673),
 (18349933, 18648931, 18752821, 18430127),
 (18349933, 18648931, 18328673, 18430127),
 (18349933, 18752821, 18328673, 18430127),
 (18633053, 18648931, 18752821, 18328673),
 (18633053, 18648931, 18752821, 18430127),
 (18633053, 18648931, 18328673, 18430127),
 (18633053, 18752821, 18328673, 18430127),
 (18648931, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18648931),
 (18155285, 18188419, 18349933, 18633053, 18752821),
 (18155285, 18188419, 18349933, 18633053, 18328673),
 (18155285, 18188419, 18349933, 18633053, 18430127),
 (18155285, 18188419, 18349933, 18648931, 18752821),
 (18155285, 18188419, 18349933, 18648931, 18328673),
 (18155285, 18188419, 18349933, 18648931, 18430127),
 (18155285, 18188419, 18349933, 18752821, 18328673),
 (18155285, 18188419, 18349933, 18752821, 18430127),
 (18155285, 18188419, 18349933, 18328673, 18430127),
 (18155285, 18188419, 18633053, 18648931, 18752821),
 (18155285, 18188419, 18633053, 18648931, 18328673),
 (18155285, 18188419, 18633053, 18648931, 18430127),
 (18155285, 18188419, 18633053, 18752821, 18328673),
 (18155285, 18188419, 18633053, 18752821, 18430127),
 (18155285, 18188419, 18633053, 18328673, 18430127),
 (18155285, 18188419, 18648931, 18752821, 18328673),
 (18155285, 18188419, 18648931, 18752821, 18430127),
 (18155285, 18188419, 18648931, 18328673, 18430127),
 (18155285, 18188419, 18752821, 18328673, 18430127),
 (18155285, 18349933, 18633053, 18648931, 18752821),
 (18155285, 18349933, 18633053, 18648931, 18328673),
 (18155285, 18349933, 18633053, 18648931, 18430127),
 (18155285, 18349933, 18633053, 18752821, 18328673),
 (18155285, 18349933, 18633053, 18752821, 18430127),
 (18155285, 18349933, 18633053, 18328673, 18430127),
 (18155285, 18349933, 18648931, 18752821, 18328673),
 (18155285, 18349933, 18648931, 18752821, 18430127),
 (18155285, 18349933, 18648931, 18328673, 18430127),
 (18155285, 18349933, 18752821, 18328673, 18430127),
 (18155285, 18633053, 18648931, 18752821, 18328673),
 (18155285, 18633053, 18648931, 18752821, 18430127),
 (18155285, 18633053, 18648931, 18328673, 18430127),
 (18155285, 18633053, 18752821, 18328673, 18430127),
 (18155285, 18648931, 18752821, 18328673, 18430127),
 (18188419, 18349933, 18633053, 18648931, 18752821),
 (18188419, 18349933, 18633053, 18648931, 18328673),
 (18188419, 18349933, 18633053, 18648931, 18430127),
 (18188419, 18349933, 18633053, 18752821, 18328673),
 (18188419, 18349933, 18633053, 18752821, 18430127),
 (18188419, 18349933, 18633053, 18328673, 18430127),
 (18188419, 18349933, 18648931, 18752821, 18328673),
 (18188419, 18349933, 18648931, 18752821, 18430127),
 (18188419, 18349933, 18648931, 18328673, 18430127),
 (18188419, 18349933, 18752821, 18328673, 18430127),
 (18188419, 18633053, 18648931, 18752821, 18328673),
 (18188419, 18633053, 18648931, 18752821, 18430127),
 (18188419, 18633053, 18648931, 18328673, 18430127),
 (18188419, 18633053, 18752821, 18328673, 18430127),
 (18188419, 18648931, 18752821, 18328673, 18430127),
 (18349933, 18633053, 18648931, 18752821, 18328673),
 (18349933, 18633053, 18648931, 18752821, 18430127),
 (18349933, 18633053, 18648931, 18328673, 18430127),
 (18349933, 18633053, 18752821, 18328673, 18430127),
 (18349933, 18648931, 18752821, 18328673, 18430127),
 (18633053, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18752821),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18328673),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18752821, 18328673),
 (18155285, 18188419, 18349933, 18633053, 18752821, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18648931, 18752821, 18328673),
 (18155285, 18188419, 18349933, 18648931, 18752821, 18430127),
 (18155285, 18188419, 18349933, 18648931, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18633053, 18648931, 18752821, 18328673),
 (18155285, 18188419, 18633053, 18648931, 18752821, 18430127),
 (18155285, 18188419, 18633053, 18648931, 18328673, 18430127),
 (18155285, 18188419, 18633053, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18349933, 18633053, 18648931, 18752821, 18328673),
 (18155285, 18349933, 18633053, 18648931, 18752821, 18430127),
 (18155285, 18349933, 18633053, 18648931, 18328673, 18430127),
 (18155285, 18349933, 18633053, 18752821, 18328673, 18430127),
 (18155285, 18349933, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18188419, 18349933, 18633053, 18648931, 18752821, 18328673),
 (18188419, 18349933, 18633053, 18648931, 18752821, 18430127),
 (18188419, 18349933, 18633053, 18648931, 18328673, 18430127),
 (18188419, 18349933, 18633053, 18752821, 18328673, 18430127),
 (18188419, 18349933, 18648931, 18752821, 18328673, 18430127),
 (18188419, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18349933, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18752821, 18328673),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18752821, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18648931, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18633053, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18349933, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18188419, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18155285, 18349933, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18188419, 18349933, 18633053, 18648931, 18752821, 18328673, 18430127),
 (18155285,
  18188419,
  18349933,
  18633053,
  18648931,
  18752821,
  18328673,
  18430127)]

In [23]:
visitsItems_list = visitsItems_opening_hours.groupby('user_id')['refers_to_uid'].apply(pd.Series.tolist).tolist()
file = json.dumps(visitsItems_list)

In [24]:
text_file = open("listoflist.txt", "w")
text_file.write(file)
text_file.close()